<div class="row wrapper border-bottom white-bg page-heading overview ng-scope">
    <div class="col-sm-6 col-lg-10">
        <h2 class="heading">Baseline Schedule</h2>
        <ul class="topSubtitle">
            <li>
                <a href="javascript:void(0)">Project Title Label</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6 col-lg-2 text-right">
        <a class="btn btn-lg btn-success" ui-sref="projects.start" href="#!/projects/start"><i class="fa fa-plus"></i> Create New</a>
    </div>
</div>
