<div class="di-page-wrapper mb30">
    <!-- Top Nav bar -->
    <div class="row di-page-info">
        <div class="pull-left pl0 pr0">
            <div class="closeBox">
                <p>
                    <a ui-sref="financials.main">Close <i class="fa fa-caret-right"></i></a>
                </p>
            </div>
        </div>

        <div class="pull-left di-page-title">
            <div class="col-md-7 pl20">
                <h2 class="text-default">Create New Direct Invoice</h2>
                <input type="text" class="app-name-input" placeholder="Enter Direct Invoice Name" />
                <div class="project-info">
                    <h3 class="text-primary">Anderson Perkins LTD Shipping Center <i class="fa fa-angle-down"></i></h3>
                    <span class="text-muted">1796 Prospector Avenue<br>Park City, Utah 84605</span>
                </div>
            </div>

            <div class="col-md-5">
                <div class="di-info">
                    <div class="row">
                        <span class="col-xs-9 text-right">Invoice#</span>
                        <span class="col-xs-3 text-left">
                            <label class="label label-info">193</label>
                        </span>
                    </div>
                    <div class="row mt5">
                        <span class="col-xs-9 text-right">Date Initiated</span>
                        <span class="col-xs-3 text-left">8/23/14</span>
                    </div>
                    <div class="row mt5">
                        <span class="col-xs-9 text-right">Initiated By</span>
                        <span class="col-xs-3 text-left">Bruce Wayne</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Top Nav bar -->


    <!-- Main Content -->
    <div class="row no-margin animated fadeInRight">
        <div class="col-lg-12">
            <div class="content-section">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Payee</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Account</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-2 form-group">
                        <label>IRN#</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <hr class="mb10"/>
                <div class="row payee-invite-switch">
                    <div class="col-md-8">
                        Payee is not currently in Avasis. Would you like to invite?
                    </div>
                    <div class="col-md-4">
                        <ui-rec-switch ng-model="isInvite"></ui-rec-switch>
                    </div>
                </div>
                <hr class="mt10"/>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Address</label>
                        <input class="form-control" type="text" value="5941 8th Avenue"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>City</label>
                        <input class="form-control" type="text" value="Webster"/>
                    </div>
                    <div class="col-md-2 form-group">
                        <label>State</label>
                        <ui-select options="states" placeholder="NY"></ui-select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Zipcode</label>
                        <input class="form-control" type="text" value="14580"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Contact Name</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Payee Email</label>
                        <input class="form-control" type="text" value="bob@jones.me"/>
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Payee Phone</label>
                        <input class="form-control" type="text" value="4151234567"/>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive mb15">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Amount</th>
                                        <th>Description</th>
                                        <th>Project</th>
                                        <th>Contract</th>
                                        <th>SOW</th>
                                        <th>Classification</th>
                                        <th>Budgeted</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in data">
                                        <td>
                                            <div>
                                                <input type="text" class="form-control" ui-money-mask="0" placeholder="$" ng-model="row.amount"></input>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" class="form-control"></input>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <ui-select options="projects" placeholder="Enclave 14"></ui-select>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <ui-select options="contracts" placeholder="None"></ui-select>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <ui-select options="sows" placeholder="None"></ui-select>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <ui-select options="classifications" placeholder="Labor"></ui-select>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <ui-rec-switch ng-model="row.budgetted"></ui-rec-switch>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            <div>
                                                <a class="text-primary add-new-line" ng-click="addLine()"><i class="fa fa-plus"></i>Add Additional Line</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            <div>
                                                <div class="text-basic">TOTAL AMOUNT</div>
                                                <div class="amount">$0</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row mt10">
                    <div class="col-md-6 form-group">
                        <label>Additional Details</label>
                        <textarea class="form-control" placeholder="Provide any additional information here..." rows="6"></textarea>
                    </div>

                    <div class="col-md-6">
                        <label>Attachments</label>
                        <div class="di-file-dropzone">
                            <form class="dropzone"
                                  enctype="multipart/form-data"
                                  ng-dropzone dropzone="dropzone"
                                  dropzone-config="dropzoneConfig"
                                  event-handlers="dropzoneEventHandlers">
                                <input name="file" class="hidden" type="file" multiple />
                            </form>
                            <div class="text-center dropzone-title">
                                <div>Drag and drop files here or<br class="visible-xs-inline"/><a class="btn-file-input"> click here to browse for files</a></div>
                            </div>
                            <div id="upload-files-container"></div>
                        </div>
                    </div>
                </div>

                <hr class="mt0"/>

                <div class="row">
                    <div class="col-md-3 col-xs-6 form-group">
                        <label>Signature</label>
                        <input type="text" class="form-control"></input>
                    </div>
                    <div class="col-md-9 col-xs-6 form-group approved-date">
                        <h4>Approved Date</h4>
                        <span class="text-muted">Aug 23, 2015</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mt30 mb30 text-right">
            <a class="btn btn-cancel btn-lg">Cancel</a>
            <a class="btn btn-success btn-lg">Finalize</a>
        </div>
    </div>
</div>
