<div id="calendar">
    <div class="clearfix">
        <ul class="list-inline pull-left">
            <li><a ng-click="changeCalendarScope('day')" ng-class="{true: 'text-default', false: 'text-primary'}[calendarScope=='day']">3 Days</a></li>
            <li><a ng-click="changeCalendarScope('week')" ng-class="{true: 'text-default', false: 'text-primary'}[calendarScope=='week']">3 Weeks</a></li>
            <li><a ng-click="showProjectCalendar()" ng-class="{true: 'text-default', false: 'text-primary'}[calendarScope=='project']">Project</a></li>
        </ul>
        <div class="pull-right">
            <ul class="list-inline">
                <li><a class="date-navigator" ng-click="minusOffset()"><i class="fa fa-chevron-left"></i></a></li>
                <li class="text-muted font-medium sub-title">{{startDate.format('ddd, MMM DD')}} ~ {{endDate.format('ddd, MMM DD')}}</li>
                <li><a class="date-navigator" ng-click="plusOffset()"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="calendar-container">
        <div class="mb40" ng-repeat="section in range(3)">
            <div class="heading text-center font-bold">{{weekTitles[section]}}</div>
            <div class="week-container">
                <table class="table">
                    <tr>
                        <th width="14%" ng-repeat="day in range(7)">
                            <div class="day-header text-center" ng-class="{true: 'label-success'}[daysInRange[section * 7 + day] == today.format('ddd, MMM DD')]">{{daysInRange[section * 7 + day]}}</div>
                        </th>
                    </tr>
                    <tr ng-repeat="schedule in schedulesInWeek[section]">
                        <td ng-repeat="i in range(schedule.relativePos)" ng-class="{true: 'no-schedule'}[isEmptyDate(section, i)]"></td>
                        <td colspan="{{schedule.relativeLength}}">
                            <div class="alert text-left alert-{{schedule.schedule_type}} clearfix">
                                <div class="flag-badge"><i class="fa fa-flag"></i></div>
                                <div class="content">
                                    <div>{{schedule.description}}</div>
                                    <div class="text-muted font-regular">%{{schedule.completion_percentage}} completed</div>
                                </div>
                                <a popover-trigger="mouseenter" uib-popover-template="'schedule-popover-template.html'">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                            </div>
                        </td>
                        <td ng-repeat="i in range(7 - schedule.relativePos - schedule.relativeLength)" ng-class="{true: 'no-schedule'}[isEmptyDate(section, i + schedule.relativePos + schedule.relativeLength)]">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="schedule-popover-template.html">
    <div style="width: 400px">
        <h4>Coming soon!</h4>
        <p>This is schedule detail panel</p>
    </div>
</script>