<div id="calendar">
    <div class="clearfix">
        <ul class="list-inline pull-left">
            <li><a ng-click="changeCalendarScope('day')" ng-class="{true: 'text-default', false: 'text-primary'}[calendarScope=='day']">3 Days</a></li>
            <li><a ng-click="changeCalendarScope('week')" ng-class="{true: 'text-default', false: 'text-primary'}[calendarScope=='week']">3 Weeks</a></li>
            <li><a ng-click="showProjectCalendar()" ng-class="{true: 'text-default', false: 'text-primary'}[calendarScope=='project']">Project</a></li>
        </ul>
        <div class="pull-right">
            <ul class="list-inline">
                <li><a class="date-navigator" ng-click="minusOffset()"><i class="fa fa-chevron-left"></i></a></li>
                <li class="text-muted font-medium sub-title">{{startDate.format('ddd, MMM DD')}} ~ {{endDate.format('ddd, MMM DD')}}</li>
                <li><a class="date-navigator" ng-click="plusOffset()"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="calendar-container">
        <div class="mb40" ng-repeat="section in [0, 1, 2]">
            <div class="heading text-center font-bold">{{weekTitles[section]}}</div>
            <div class="week-container">
                <table class="table">
                    <tr>
                        <th width="14%" ng-repeat="day in [0, 1, 2, 3, 4, 5, 6]">
                            <div class="day-header text-center" ng-class="{true: 'label-success'}[daysInRange[section * 7 + day] == today.format('ddd, MMM DD')]">{{daysInRange[section * 7 + day]}}</div>        
                        </th>
                    </tr>
                    <tr ng-repeat="schedule in schedulesInWeek[section]">
                        <td width="14%" ng-if="schedule.relativePos > 0" colspan="{{schedule.relativePos}}"></td>
                        <td width="14%" colspan="{{schedule.relativeLength}}">
                            <div class="alert text-left alert-{{schedule.schedule_type}} clearfix">
                                <div class="flag-badge"><i class="fa fa-flag"></i></div>
                                <div class="content">
                                    <div>{{schedule.description}}</div>
                                    <div class="text-muted font-regular">%{{schedule.completion_percentage}} completed</div>
                                </div>
                                <i class="fa fa-info-circle pl10"></i>
                            </div>
                        </td>
                        <td width="14%" ng-if="7 - schedules.relativePos - schedule.relativeLength > 0" colspan="{{7 - schedules.relativePos - schedule.relativeLength}}">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>