<div id="schedule-list">
    <div class="">
        <div class="table-tree" style="padding: 15px 20px; background: #f3f3f4;">
            <div class="text-muted">
                <div>Phase / Sub Phase / SOW</div>
                <div style="width: 120px">Start Date</div>
                <div style="width: 120px">Completion Date</div>
                <div style="width: 120px">Duration</div>
                <div style="width: 120px">Predecessor</div>
                <div style="width: 150px">Current Costs</div>
                <div style="width: 200px">Contracted Team Members</div>
                <div style="width: 80px">Status</div>
            </div>
        </div>
        <div ui-tree data-drag-enabled="false" data-max-depth="3">
            <ol ui-tree-nodes="" ng-model="budgets">
                <li ng-repeat="item in budgets" ui-tree-node data-collapsed="true" ng-include="'budget-item-template.html'"></li>
            </ol>
        </div>
    </div>
    <!-- Nested node template -->
    <script type="text/ng-template" id="budget-item-template.html">
        <div ui-tree-handle class="tree-node tree-node-content table-tree">
            <div class="text-muted font-regular">
                <div data-nodrag ng-click="toggle(this)" class="text-primary font-semibold">
                    <i class="fa" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}" ng-if="item.children" style="display:inline-block"></i>
                    <div style="display: inline-block">
                        <div class="text-gray division">{{item.division}}</div>
                        <span>{{item.name}}</span>
                    </div>
                </div>
                <div style="width: 120px">{{item.start_date}}</div>
                <div style="width: 120px">{{item.end_date}}</div>
                <div style="width: 120px">{{item.duration}} Days</div>
                <div style="width: 120px">N/A</div>
                <div style="width: 150px">{{item.current_cost}}</div>
                <div style="width: 200px"><span class="text-primary">{{item.team_members}}</span></div>
                <div style="width: 80px"></div>
            </div>
        </div>
        <ol ui-tree-nodes ng-model="item.children" ng-class="{hidden: collapsed}">
            <li ng-repeat="item in item.children" has-child="{{item.children!=null}}" data-collapsed="true" ui-tree-node ng-include="'budget-item-template.html'"></li>
        </ol>
    </script>
</div>