<div class="row wrapper border-bottom white-bg page-heading overview">
    <div class="col-sm-6 col-lg-10">
        <h2 class="heading">Schedules</h2>
        <ul class="topSubtitle">
            <li>
                <a href="#">Wilmington 47<i class="ace-icon fa fa-angle-down"></i></a>
            </li>
            <li><span>47 Wilmington Ave<br /> Arlington, VA 90125</span></li>
        </ul>
    </div>
    <div class="col-sm-6 col-lg-2">
        <div class="btns mr10">
            <a href="#" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus"></i> Create New
            </a>
            <ul class="dropdown-menu dropdown-menu-right action-menu" role="menu">
                <li><a href="javascript:void(0)" ng-click="showGaiNewModal()">General Action Item</a></li>
                <li><a href="">RFI</a></li>
                <li><a href="javascript:void(0)" ng-click="showChangeOrderNewModal()">Change Order</a></li>
                <li><a href="">Punch List Item</a></li>
                <li><a href="">Inspections</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="panel panel-default">
        <div class="panel-body row" id="schedule-stats">
            <div class="col-md-4">
                <div class="pull-left" id="financial-chart-container">
                    <div id="financial-chart"></div>
                    <div class="chart-data">
                        <div class="arc">
                            <span class="text"></span>
                            <input type="hidden" class="percent" value="32" />
                            <input type="hidden" class="color" value="#79c485" />
                        </div>
                        <div class="arc">
                            <span class="text"></span>
                            <input type="hidden" class="percent" value="64" />
                            <input type="hidden" class="color" value="#3aabd5" />
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <table class="table no-border pull-right mt20">
                        <tr>
                            <td>
                                <div class="label label-primary">&nbsp;</div>
                                SCHEDULE
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="font-regular">Estimate Completion</td>
                            <td class="font-bold">Apr 20, 2016</td>
                        </tr>
                        <tr>
                            <td class="font-regular">Original Completion Date</td>
                            <td class="font-bold">Nov 12, 2014</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 border-right">
                <table class="table no-border pull-right mt20">
                    <tr>
                        <td>
                            <div class="label label-success">&nbsp;</div>
                            FINANCE
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="font-regular">Fund Disbursed Date</td>
                        <td class="font-bold">Apr 20, 2016</td>
                    </tr>
                    <tr>
                        <td class="font-regular">Original Completion Date</td>
                        <td class="font-bold">Nov 12, 2014</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="clearfix">
                    <div class="pull-left" sparkline spark-data="[68, 32]" spark-options="pieOptions"></div>
                    <div class="pull-left mt40 pl20">68%</div>
                </div>
                <div class="sub-title">Task Due Today</div>
                <div class="text-muted">7 of 16 completed</div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="clearfix">
                    <div class="pull-left" sparkline spark-data="[44, 56]" spark-options="pieOptions"></div>
                    <div class="pull-left mt40 pl20">44%</div>
                </div>
                <div class="sub-title">Task Due Today</div>
                <div class="text-muted">7 of 16 completed</div>
            </div>
        </div>
    </div>
    <uib-tabset>
        <uib-tab heading="Calendar">
            <div ng-include="'partials/schedules/calendar.html'"></div>
        </uib-tab>
        <uib-tab heading="Flow">Short Labeled Justified content</uib-tab>
        <uib-tab heading="List">Long Labeled Justified content</uib-tab>
        <uib-tab heading="Gantt">Long Labeled Justified content</uib-tab>
        <uib-tab heading="Baseline">Long Labeled Justified content</uib-tab>
    </uib-tabset>
</div>

<script>
var financial_chart = {
    init: function (width, height, radius, pen_width) {
        this.diagram(width, height, radius, pen_width);
    },
    random: function (l, u) {
        return Math.floor((Math.random() * (u - l + 1)) + l);
    },
    diagram: function (width, height, radius, pen_width) {
        var display = '';
        var width = width,
            height = height,
            radius = radius,
            pen_width = pen_width;

        $('#financial-chart-container .chart-data').find('.arc').each(function (i) {
            var t = $(this);
            display += t.find('.percent').val() + "%\n";
        });

        var r = Raphael('financial-chart', width, height),
            rad = radius,
            defaultText = '%',
            param = {stroke: "#fff", "stroke-width": pen_width};
            speed = 250;

        // r.circle(width/2, height/2, p).attr({ stroke: 'none', fill: '#FFF' });

        var title = r.text(width / 2, height / 2, defaultText).attr({
            font: '14px Arial',
            fill: '#000'
        }).toFront();

        title.attr({ text: display });

        r.customAttributes.arc = function (value, color, rad) {
            var v = 3.6 * value,
                alpha = v == 360 ? 359.99 : v,
                a = (90 - alpha) * Math.PI / 180,
                b = 90 * Math.PI / 180,
                sx = width / 2 + rad * Math.cos(b),
                sy = height / 2  - rad * Math.sin(b),
                x = width / 2 + rad * Math.cos(a),
                y = height / 2 - rad * Math.sin(a),
                path = [['M', sx, sy], ['A', rad, rad, 0, +(alpha > 180), 1, x, y]];
            return { path: path }
        }

        $('#financial-chart-container .chart-data').find('.arc').each(function (i) {
            var t = $(this),
                color = t.find('.color').val(),
                value = t.find('.percent').val(),
                text = t.find('.text').text();

            rad += pen_width;
            var z = r.path().attr(param).attr({ arc: [0, color, rad]});
            z.animate({arc: [value, color, rad], 'stroke': color}, 1000, ">");
        });
    }
}
$(function(){
    financial_chart.init(120, 120, 20, 10);
})
</script>