<div class="pt20" id="compliance">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="text-muted">
                    <th>Name</th>
                    <th></th>
                    <th>Project/Role</th>
                    <th>Credit<img width="20px" src="assets/img/alert.png"></th>
                    <th>Insurance</th>
                    <th>Licence</th>
                    <th>Judgements</th>
                    <th>Background Check</th>
                    <th>Status</th>
                    <th class="text-right no-padding">
                        <a class="btn btn-sm dropdown-toggle btn-round">
                            Sort by  <i class="fa fa-angle-down"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in compliances">
                    <td>
                        <img src="assets/img/user1.png" class="img-circle" alt="image">
                    </td>
                    <td style="padding-left: 0">
                        <div class="sub-title text-primary">{{item.contact}}</div>
                        <small>{{item.company_name}}</small>
                        <ul class="list-inline text-muted">
                            <li><i class="fa fa-envelope"></i></li>
                            <li><i class="fa fa-comments"></i></li>
                            <li><i class="fa fa-phone"></i>  {{item.phone_number}}</li>
                        </ul>
                    </td>
                    <td>
                        <div class="text-muted">{{item.project_name}}</div>
                        <div>{{item.contract_type}}</div>
                    </td>
                    <td>
                        <div>
                            <div class="pull-left">
                                <img alt="image" class="img-circle flag" width="20px" src="assets/img/flag_green.png">
                            </div>
                            <div class="pull-left">
                                <div class="text-primary small">1 attachment</div>
                                <div class="text-muted small">{{convertDate(item.credit_date)}}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="pull-left">

                                <img alt="image" ng-if="item.status != 'Complaint'" class="img-circle flag" width="20px" src="assets/img/flag_red.png">
                                <img alt="image" ng-if="item.status == 'Complaint'" class="img-circle flag" width="20px" src="assets/img/flag_green.png">
                            </div>
                            <div class="pull-left">
                                <div class="text-primary small">1 attachment</div>
                                <div class="text-muted small">{{convertDate(item.insurance_date)}}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="pull-left">
                                <img alt="image" class="img-circle flag" width="20px" src="assets/img/flag_green.png">
                            </div>
                            <div class="pull-left">
                                <div class="text-primary small">1 attachment</div>
                                <div class="text-muted small">{{convertDate(item.license_date)}}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="pull-left">
                                <img alt="image" class="img-circle flag" width="20px" src="assets/img/flag_green.png">
                            </div>
                            <div class="pull-left">
                                <div class="text-primary small">1 attachment</div>
                                <div class="text-muted small">{{convertDate(item.judgement_date)}}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="pull-left">
                                <img alt="image" class="img-circle flag" width="20px" src="assets/img/flag_green.png">
                            </div>
                            <div class="pull-left">
                                <div class="text-primary small">1 attachment</div>
                                <div class="text-muted small">{{convertDate(item.background_check_date)}}</div>
                            </div>
                        </div>
                    </td>
                    <td><small class="text-success" ng-class="{true: 'text-danger'}[item.status != 'Complaint']">{{item.status}}</small></td>
                    <td class="text-right">
                        <a class="btn btn-transparent"><i class="fa fa-cog"></i><i class="pl5 fa fa-angle-down"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
