<div class="pt20" id="compliance">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th>Project/Role</th>
                    <th>Credit<img width="20px" src="assets/img/alert.png"></th>
                    <th>Insurance</th>
                    <th>Licence</th>
                    <th>Judgements</th>
                    <th>Background Check</th>
                    <th>Status</th>
                    <th>
                        <div class="pull-left">
                            <a class="btn1 btn-dangersort btn-sm" href="#">
                                Sort by  <i class="fa fa-angle-down"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="assets/img/user1.png" class="img-circle" alt="image">
                    </td>
                    <td style="padding-left: 0" class="text-muted">
                        <div class="sub-title text-primary">Bob Jones</div>
                        <small>Flora Corp.</small>
                        <ul class="list-inline">
                            <li><i class="fa fa-envelope"></i></li>
                            <li><i class="fa fa-comments"></i></li>
                            <li><i class="fa fa-phone"></i>  415 123 3456</li>
                        </ul>
                    </td>
                    <td>
                        <div class="text-muted">Parking Level A</div>
                        <div>Senior Director</div>
                    </td>
                    <td>
                        <div>
                            <div class="pull-left">
                                <img alt="image" class="img-circle flag" width="20px" src="assets/img/flag_red.png">
                            </div>
                            <div class="pull-left">
                                <div class="text-primary small">1 attachment</div>
                                <div class="text-muted">Jun 30, 2015</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="pull-left">
                                <img alt="image" class="img-circle flag" width="20px" src="assets/img/flag_green.png">
                            </div>
                            <div class="pull-left">
                                <div class="text-primary small">1 attachment</div>
                                <div class="text-muted">Jun 30, 2015</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="pull-left">
                                <img alt="image" class="img-circle flag" width="20px" src="assets/img/flag_red.png">
                            </div>
                            <div class="pull-left">
                                <div class="text-primary small">1 attachment</div>
                                <div class="text-muted">Jun 30, 2015</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="pull-left">
                                <img alt="image" class="img-circle flag" width="20px" src="assets/img/flag_red.png">
                            </div>
                            <div class="pull-left">
                                <div class="text-primary small">1 attachment</div>
                                <div class="text-muted">Jun 30, 2015</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="pull-left">
                                <img alt="image" class="img-circle flag" width="20px" src="assets/img/flag_red.png">
                            </div>
                            <div class="pull-left">
                                <div class="text-primary small">1 attachment</div>
                                <div class="text-muted">Jun 30, 2015</div>
                            </div>
                        </div>
                    </td>
                    <td><small class="text-danger">Out of Compliance</small></td>
                    <td>
                        <div class="pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
