<div class="row pt20">
    <div class="table-responsive">
        <table class="table bankCompliance">
            <thead>
                <tr>
                    <th width="200px">Name</th>
                    <th>Project/Role</th>
                    <th>Credit<img src="assets/img/alert.png"></th>
                    <th>Insurance</th>
                    <th>Licence</th>
                    <th>Judgements</th>
                    <th>Background Check</th>
                    <th>Status</th>
                    <th>
                        <div class="buy1 pull-left">
                            <a class="btn1 btn-dangersort btn-sm" href="#">
                                Sort by  <i class="fa fa-angle-down"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="220px">
                        <div class="feed-Compliance">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user1.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-bankCompliance">
                                <div class="TableDetails">
                                    <span>Bob Jones</span>
                                    <p>Flora Corp.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>   415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>-</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td><span class="outcompliance">Out of Compliance</span></td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="220px">
                        <div class="feed-Compliance">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user_5.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-bankCompliance">
                                <div class="TableDetails">
                                    <span>Bob Jones</span>
                                    <p>Flora Corp.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>   415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>

                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>-</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td><span class="sky4">In Compliance</span></td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="220px">
                        <div class="feed-Compliance">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user_6.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-bankCompliance">
                                <div class="TableDetails">
                                    <span>Jim Stevens</span>
                                    <p>Lights and fixtures etc.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>   415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>

                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>-</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td><span class="sky4">In Compliance</span></td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td width="220px">
                        <div class="feed-Compliance">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user_7.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-bankCompliance">
                                <div class="TableDetails">
                                    <span>Jessica Sawyer</span>
                                    <p>Lights and fixtures etc.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>   415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>

                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>-</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td><span class="outcompliance">Out of Compliance</span></td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="220px">
                        <div class="feed-Compliance">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user1.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-bankCompliance">
                                <div class="TableDetails">
                                    <span>Bob Jones</span>
                                    <p>Flora Corp.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>   415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>

                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>-</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td><span class="outcompliance">Out of Compliance</span></td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="220px">
                        <div class="feed-Compliance">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user_7.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-bankCompliance">
                                <div class="TableDetails">
                                    <span>Jessica Sawyer</span>
                                    <p>Lights and fixtures etc.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>   415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>

                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_red.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>-</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img alt="image" class="img-circle" src="assets/img/flag_green.png">
                            </div>
                            <div class="media-bankCompliance">
                                <small class="pull-right"></small>
                                <strong>1 attachment</strong><br>
                                <small class="date-muted">Jun 30, 2015</small>
                            </div>
                        </div>
                    </td>
                    <td><span class="outcompliance">Out of Compliance</span></td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
