<div class="bankdraw-inner-page">
    <!----==================TOP NAV BAR==================---->
    <div class="row bankbg">
        <div class="col-md-1 noPdingLeft">
            <div class="closeBox">
                <p><a href="#">Close <i class="fa fa-caret-right"></i></a></p>
            </div>
        </div>
        <div class="col-sm-7 heading">
            <h2>New Bank Draw Request</h2>
            <h2 class="label label-info1">OWNER</h2>
            <h4>Enclave at Sun Canyon Lots 34 and 35, LLC</h4>
            <h5>Contractor</h5>
            <span>Construction Lending Office</span>
            <h5>Property</h5>
            <span>2549 & 2555 Enclave Ln., Park City, UT</span>
            <h5>Loan #</h5>
            <span>1060524101-26</span>
        </div>
        <div class="col-sm-4 text-right mt25">
            <table class="table table-condensed tablebankTopRight">
                <tbody>
                <tr>
                    <td><span>Draw request NUMBER</span></td>
                    <td width="100px"><span class="noBtn">193</span></td>
                </tr>
                <tr>
                    <td><span>Date initiated</span></td>
                    <td width="100px"><p>8/23/2014</p></td>
                </tr>
                <tr>
                    <td><span>Initiated BY</span></td>
                    <td width="100px">Eric Hoffman</td>
                </tr>

                <tr>
                    <td><span>Curren Status</span></td>
                    <td width="100px"><p class="greenClr">Completed</p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!----==================MIDDLE CONTENT==================---->
    <div class="row prog-inner mt35">
        <div class="row progressBar mt15">
            <!----================== START DEFAULT WIZARD==================---->
            <div class="col-lg-9">
                <div class="row bs-wizard" style="border-bottom:0;">

                    <div class="col-xs-12 col-md-2 bs-wizard-step complete">
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot1"></a>
                        <div class="bs-wizard-info text-blue">Payment Application</div>
                    </div>

                    <div class="col-xs-12 col-md-2 bs-wizard-step disabled">
                        <!-- complete -->
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot1"></a>
                        <div class="bs-wizard-info text-blue">Draw Details</div>
                    </div>

                    <div class="col-xs-12 col-md-2 bs-wizard-step disabled">
                        <!-- complete -->
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot1"></a>
                        <div class="bs-wizard-info text-blue">Compliance</div>
                    </div>

                    <div class="col-xs-12 col-md-2 bs-wizard-step complete">
                        <!-- active -->
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Documents</div>
                    </div>

                    <div class="col-xs-12 col-md-2 bs-wizard-step disabled">
                        <!-- active -->
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Payment Details</div>
                    </div>
                    <div class="col-xs-12 col-md-2 bs-wizard-step disabled">
                        <!-- active -->
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Finalize</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="row mt15">
                    <div class="col-lg-4 col-lg-offset-2">
                        <strong class="savedraft">Save Draft</strong>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-w-n btn-danger" type="button">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END DEFAULT WIZARD -->
        <!--================== BANK DRAW V2 COMPLIANCE==================-->
        <div class="row pt20">
            <div class="table-responsive">
                <table class="table table-striped bankdocument">
                    <thead>
                    <thead>
                    <tr>
                        <th>Document Name</th>
                        <th>Type</th>
                        <th>Project</th>
                        <th>Scope of Work</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span class="sky1">Pharetra Bibendum</span></td>
                        <td>Payment Application</td>
                        <td>Project Name</td>
                        <td>Hang the Wall Cabinets, Install</td>
                        <td><span class="sky1">Bob Jones</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Vehicula Adipiscing Cras</span></td>
                        <td>Invoice</td>
                        <td>A long long Project Name</td>
                        <td>Base Cabinets, Measure base cabinets </td>
                        <td><span class="sky1">Eric Hoffman</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Integer posuere</span></td>
                        <td>Contract</td>
                        <td>A long Project Name</td>
                        <td>Vestibulum Elit Lorem</td>
                        <td><span class="sky1">Darren Summers</span></td>
                    </tr>

                    <tr>
                        <td><span class="sky1">Erat a ante venenatis dapibus posuere</span></td>
                        <td>Photo</td>
                        <td>Project Name</td>
                        <td>Ultricies Justo Aenean Fusce</td>
                        <td><span class="sky1">Mike Ross</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Risus Nullam</span></td>
                        <td>Lien Waiver</td>
                        <td>A long long Project Name</td>
                        <td>Hang the Wall Cabinets, Install</td>
                        <td><span class="sky1">Harvey Spector</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Pharetra Bibendum</span></td>
                        <td>Photo</td>
                        <td>A long Project Name</td>
                        <td>Base Cabinets, Measure base cabinets</td>
                        <td><span class="sky1">Luis Litt</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Vehicula Adipiscing Cras</span></td>
                        <td>Payment Application</td>
                        <td>Project Name</td>
                        <td>Vestibulum Elit Lorem</td>
                        <td><span class="sky1">Bob Jones</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Integer posuere</span></td>
                        <td>Invoice</td>
                        <td>A long long Project Name</td>
                        <td>Ultricies Justo Aenean Fusce</td>
                        <td><span class="sky1">Eric Hoffman</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Erat a ante venenatis dapibus posuere</span></td>
                        <td>Contract</td>
                        <td>A long Project Name</td>
                        <td>Hang the Wall Cabinets, Install</td>
                        <td><span class="sky1">Darren Summers</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Risus Nullam</span></td>
                        <td>Photo</td>
                        <td>Project Name</td>
                        <td>Base Cabinets, Measure base cabinets </td>
                        <td><span class="sky1">Mike Ross</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Pharetra Bibendum</span></td>
                        <td>Lien Waiver</td>
                        <td>A long long Project Name</td>
                        <td>Vestibulum Elit Lorem</td>
                        <td><span class="sky1">Harvey Spector</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Vehicula Adipiscing Cras</span></td>
                        <td>Photo</td>
                        <td>A long Project Name</td>
                        <td>Ultricies Justo Aenean Fusce</td>
                        <td><span class="sky1">Luis Litt</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Integer posuere</span></td>
                        <td>Payment Application</td>
                        <td>Project Name</td>
                        <td>Base Cabinets, Measure base cabinets </td>
                        <td><span class="sky1">Bob Jones</span></td>
                    </tr>
                    <tr>
                        <td><span class="sky1">Erat a ante venenatis dapibus </span></td>
                        <td>Invoice</td>
                        <td>Another Project Name</td>
                        <td>Vestibulum Elit Lorem</td>
                        <td><span class="sky1">Eric Hoffman</span></td>

                    </tr>
                    </tbody>
                </table>
                <div class="col-lg-12 pb20">
                    <button class="btn btn-w-m btn-upload pull-right" type="button">Upload Files</button>
                </div>
            </div>
        </div>
    </div>
</div>
