<div class="pt10">
    <div class="table-responsive">
        <table class="table mb20 text-muted">
            <thead>
                <tr>
                    <th width="200px">Description</th>
                    <th>Sched. Value</th>
                    <th>Reallocations</th>
                    <th>Updated Budget</th>
                    <th>Disbursed to Date</th>
                    <th>This Draw</th>
                    <th>% Drawn</th>
                    <th>Balance to Finish</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in drawDetails">
                    <td width="200px">{{item.description}}</td>
                    <td>{{numberToCurrency(item.scheduled_value)}}</td>
                    <td>{{numberToCurrency(item.reallocations)}}</td>
                    <td>{{numberToCurrency(item.updated_budget)}}</td>
                    <td>{{numberToCurrency(item.disbursed_to_date)}}</td>
                    <td class="text-primary">{{numberToCurrency(item.this_draw)}}</td>
                    <td>{{item.pecent_of_drawn}}%</td>                                    
                    <td ng-class="{true: 'text-danger'}[item.balance_to_complete < 0]">{{item.balance_to_complete | accounting}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>