<div id="bankdraw-finalize">
    <div class="row" id="total-section">
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="text-muted title">Working Budget.</div>
            <div class="value"> $2,603,284</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="text-muted title">Pending Costs</div>
            <div class="value">-</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="text-danger title">Unbudgeted Costs</div>
            <div class="text-danger value">-</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="text-muted title">Estimated Cost at Completion</div>
            <div class="value"> $2,603,284</div>
        </div>
    </div>

    <table class="table" id="stats">
        <tr>
            <td>
                <div sparkline spark-data="[6.3, 31.6, 62.1]" spark-options="pieOptions"></div>
            </td>
            <td class="sub-title pl0">
                <div class="value">Construction Loan Amount </div>
                <table class="table ">
                    <tr>
                        <td>
                            <div class="label label-primary">&nbsp;</div>
                            <div class="inline-block">
                                <span class="">Current Draw Amount</span>
                                <span class="pl20 font-bold">6.3%</span>
                                <div> $181,267</div>
                            </div>
                        </td>
                        <td>
                            <div class="label label-success">&nbsp;</div>
                            <div class="inline-block">
                                <span class="">Amount Drawn To Date</span>
                                <span class="pl20 font-bold">31.6%</span>
                                <div> $903,348 </div>
                            </div>
                        </td>
                        <td>
                            <div class="label label-warning">&nbsp;</div>
                            <div class="inline-block">
                                <span class="">Amount Remaining To be Drawn</span>
                                <span class="pl20 font-bold">62.1%</span>
                                <div> $1,775,894.49 </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Date Range and summary of selected -->
    <div class="row">
        <div class="col-sm-9">
            <div class="table-responsive">
                <div class="value">Summary of Selected Pay Applications</div>
                <table class="table table-bordered">
                    <thead>
                        <tr class="middle-align">
                            <th>PAYEE</th>
                            <th>
                                COMPLIANT
                                <div class="small text-muted">Count  / Amount.</div>
                            </th>
                            <th>
                                NON COMPLIANT
                                <div class="small text-muted">Count  / Amount.</div>
                            </th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                    <tbody class="text-muted">
                        <tr ng-repeat="row in summary_results">
                            <td>
                                {{row.payee}}
                            </td>
                            <td>
                                {{row.complaint_count}} / {{row.complaint_amount}}
                            </td>
                            <td>
                                {{row.uncomplaint_count}} / {{row.uncomplaint_amount}}
                            </td>
                            <td>
                                {{row.total_count}} / {{row.total_amount}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt30 text-muted mb20">
                <div class="col-sm-3">
                    <div>Draw Reviewed & Appoved by</div>
                    <input type="text" class="input-sm" readonly placeholder="Bruce Wayner" />
                </div>
                <div class="col-sm-3">
                    <div>Signature</div>
                    <input type="text" class="input-sm" readonly placeholder="" />
                </div>
                <div class="col-sm-3">
                    <div>Title</div>
                    <input type="text" class="input-sm" readonly placeholder="General Contractor" />
                </div>
                <div class="col-sm-3">
                    <div>Date Submitted</div>
                    <input type="text" class="input-sm" readonly placeholder="8/17/2015" />
                </div>
            </div>
        </div>
    </div>
</div>