<div id="bankdraw-finalize">
    <div class="row" id="total-section">
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="text-muted title">Working Budget.</div>
            <div class="value">$12,000,000.00</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="text-muted title">Pending Costs</div>
            <div class="value">$3,456,900.00</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="text-danger title">Unbudgeted Costs</div>
            <div class="text-danger value">$456,900.00</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="text-muted title">Estimated Cost at Completion</div>
            <div class="value">$12,678,900.00</div>
        </div>
    </div>

    <table class="table" id="stats">
        <tr>
            <td>
                <img src="assets/img/graph.png">
            </td>
            <td class="sub-title pl0">
                <div class="value">Construction Loan Amount </div>
                <table class="table ">
                    <tr>
                        <td>
                            <div class="label label-primary">&nbsp;</div>
                            <div class="inline-block">
                                <span class="">Current Draw Amount</span>
                                <span class="">27%</span>
                                <div>$123,987.00</div>
                            </div>
                        </td>
                        <td>
                            <div class="label label-success">&nbsp;</div>
                            <div class="inline-block">
                                <span class="">Amount Drawn To Date</span>
                                <span class="">44%</span>
                                <div>$123,987.00</div>
                            </div>
                        </td>
                        <td>
                            <div class="label label-warning">&nbsp;</div>
                            <div class="inline-block">
                                <span class="">Amount Remaining To be Drawn</span>
                                <span class="">27%</span>
                                <div>$123,987.00</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Date Range and summary of selected -->
    <div class="row">
        <div class="col-sm-9">
            <div class="table-responsive">
                <div class="value">Summary of Selected Pay Applications</div>
                <table class="table table-bordered">
                    <thead>
                        <tr class="middle-align">
                            <th>PAYEE</th>
                            <th>
                                COMPLIANT
                                <div class="small text-muted">Count  / Amount.</div>
                            </th>
                            <th>
                                NON COMPLIANT
                                <div class="small text-muted">Count  / Amount.</div>
                            </th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                    <tbody class="text-muted">
                        <tr>
                            <td>
                                <div>General Conditions</div>
                            </td>
                            <td>
                                <div>123 / $456,789.00</div>
                            </td>
                            <td>
                                <div>123 / $456,789.0</div>
                            </td>
                            <td>
                                456 / $1,987,876.00
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt30 text-muted">
                <div class="col-sm-3">
                    <div>Draw Reviewed & Appoved by</div>
                    <input type="text" placeholder="Eric Hoffman" />
                </div>
                <div class="col-sm-3">
                    <div>Signature</div>
                    <input type="text" placeholder="Ligula Vehicula" />
                </div>
                <div class="col-sm-3">
                    <div>Title</div>
                    <input type="text" placeholder="Fusce" />
                </div>
                <div class="col-sm-3">
                    <div>Date Submitted</div>
                    <input type="text" placeholder="Aug 26, 2015" />
                </div>
            </div>
        </div>
    </div>
</div>