<div class="pt30" id="payment-applications">
    <table class="table table-bordered">
        <tr>
            <td width="360">
                <div class="filters">
                    <div class="pl10">
                        <div class="checkbox checkbox-inline">
                            <input type="checkbox" ng-click="checkAll()" ng-model="isCheckedAll">
                            <label>&nbsp;</label>
                        </div>
                        <span class="text-muted">Filter By</span>
                    </div>
                    <div class="text-primary sub-title">
                        Date Range
                    </div>
                    <div class="text-primary sub-title">
                        Amount Range
                    </div>
                </div>
                <div class="table-responsive" slim-scroll box-height="500px">
                    <table class="table" id="application-list">
                        <tbody>
                            <tr ng-repeat="application in payment_applications">
                                <td class="middle-align pl5">
                                    <div class="checkbox checkbox-inline">
                                        <input type="checkbox" ng-model="application.checked">
                                        <label>&nbsp;</label>
                                    </div>
                                </td>
                                <td class="data">
                                    <div>
                                        <span class="sub-title text-primary">{{application.company_name}}</span>
                                        <span class="pull-right">{{application.date}}</span>
                                    </div>
                                    <div>{{application.project_name}}</div>
                                    <span class="amount font-regular">{{application.amount | currency}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="application-summary">
                    <div class="table-responsive">
                        <div class="title">Summary of Selected Pay Applications</div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Info</th>
                                    <th width="150px">Sched / Est<br /> Completion Date</th>
                                    <th>Construction</th>
                                    <th>SOW</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="application in payment_applications | filter: {checked: true}">
                                    <td width="200px">
                                        <div>
                                            <div class="text-primary">{{application.contact}}</div>
                                            <small>{{application.company_name}}</small>
                                            <ul class="list-inline text-muted">
                                                <li><i class="fa fa-envelope"></i></li>
                                                <li><i class="fa fa-comments"></i></li>
                                                <li><i class="fa fa-phone"></i>  <small>415 123 3456</small></li>
                                            </ul>
                                        </div>
                                        <div class="mt10">
                                            <small>Project Name Goes Here</small>
                                            <p>Jun 21, 2015</p>
                                        </div>
                                    </td>
                                    <td width="150px">
                                        <span class="small text-success">sched</span>
                                        <p class="subtitle">Jun 23, 2016</p>
                                        <span class="small text-success">est</span>
                                        <p class="sub-title">Jun 23, 2016</p>
                                    </td>
                                    <td>
                                        <span class="small text-success">completed</span>
                                        <p class="sub-title">84%</p>
                                        <span class="small text-success">cost</span>
                                        <p class="sub-title">{{application.cost | currency}}$8,000</p>
                                    </td>
                                    <td>
                                        <small class="text-muted">
                                            Master bathroom cabinetry,
                                            Carpet, Kitchen Something, Another
                                            something.
                                        </small>
                                    </td>
                                    <td>
                                        <div class="sub-title">{{application.amount | currency}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clearfix mt20">
                            <div class="pull-right">
                                <div>total</div>
                                <div class="amount">{{checkedTotal() | currency}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>