<div class="row pt20">
    <div class="table-responsive">
        <table class="table Payment">
            <thead>
                <tr>
                    <th width="200px">Payment Application Initiator</th>
                    <th>Project & Roles</th>
                    <th>Payment Application</th>
                    <th>Split Payments</th>
                    <th>Payment Amount</th>
                    <th>Payee</th>
                    <th>Payment Form</th>
                    <th>Varience</th>
                    <th>Adjustment Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="220px">
                        <div class="feed-Payment">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user1.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-Payment">
                                <div class="TableDetails">
                                    <span>Bob Jones</span>
                                    <p class="profile_text">Flora Corp.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <p>$1,000,000</p>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong class="red">No</strong>
                            <i class="fa fa-angle-down"></i>

                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>$1,000.00</strong>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>Bob Jones</strong>
                        </div>
                    </td>
                    <td>

                        <p>Check</p>

                    </td>
                    <td><strong class="red">$1,000,000</strong></td>
                    <td>
                        <p>
                            Lorem ipsum dolor sit amet, cons<br />
                            ectetur adipiscing elit
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="220px">
                        <div class="feed-Payment">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user_5.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-Payment">
                                <div class="TableDetails">
                                    <span>Aaron Cravers</span>
                                    <p class="profile_text">Flora Corp.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <p>$800.0</p>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong class="red">No</strong>
                            <i class="fa fa-angle-down"></i>

                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>$800.00</strong>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>Aaron Cravers</strong>
                        </div>
                    </td>
                    <td>

                        <p>Check</p>

                    </td>
                    <td><strong class="red">$800.00</strong></td>
                    <td>
                        <p>
                            Lorem ipsum dolor sit amet, cons<br />
                            ectetur adipiscing elit
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="220px">
                        <div class="feed-Payment">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user_6.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-Payment">
                                <div class="TableDetails">
                                    <span>Jim Stevens</span>
                                    <p class="profile_text">Flora Corp.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <p>$30,000.00</p>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong class="red">No</strong>
                            <i class="fa fa-angle-down"></i>

                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>$30,000.00</strong>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>Jim Stevens</strong>
                        </div>
                    </td>
                    <td>

                        <p>Check</p>

                    </td>
                    <td><strong class="red">$30,000.00</strong></td>
                    <td>
                        <p>
                            Lorem ipsum dolor sit amet, cons<br />
                            ectetur adipiscing elit
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="220px">
                        <div class="feed-Payment">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user_7.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-Payment">
                                <div class="TableDetails">
                                    <span>Jessica Sawyer</span>
                                    <p class="profile_text">Flora Corp.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <p>$60,000.00</p>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong class="red">No</strong>
                            <i class="fa fa-angle-down"></i>

                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>$60,000.00</strong>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>Jessica Sawyer</strong>
                        </div>
                    </td>
                    <td>

                        <p>Check</p>

                    </td>
                    <td><strong class="red">$60,000.00</strong></td>
                    <td>
                        <p>
                            Lorem ipsum dolor sit amet, cons<br />
                            ectetur adipiscing elit
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="220px">
                        <div class="feed-Payment">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user1.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-Payment">
                                <div class="TableDetails">
                                    <span>Bob Jones</span>
                                    <p class="profile_text">Flora Corp.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <p>$10,000.00</p>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong class="red">No</strong>
                            <i class="fa fa-angle-down"></i>

                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>$10,000.00</strong>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>Bob Jones</strong>
                        </div>
                    </td>
                    <td>

                        <p>Check</p>

                    </td>
                    <td><strong class="red">$10,000.00</strong></td>
                    <td>
                        <p>
                            Lorem ipsum dolor sit amet, cons<br />
                            ectetur adipiscing elit
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="220px">
                        <div class="feed-Payment">
                            <a class="pull-left" href="#">
                                <img src="assets/img/user_7.png" class="img-circle" alt="image">
                            </a>
                            <div class="media-Payment">
                                <div class="TableDetails">
                                    <span>Jessica Sawyer</span>
                                    <p class="profile_text">Flora Corp.</p>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>Parking Level A</p>
                        <span><b>Senior Director</b></span>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <p>$8,500.00</p>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong class="red">No</strong>
                            <i class="fa fa-angle-down"></i>

                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>$8,500.00</strong>
                        </div>
                    </td>
                    <td>
                        <div class="media-Payment">
                            <strong>Jessica Sawyer</strong>
                        </div>
                    </td>
                    <td>
                        <p>Check</p>
                    </td>
                    <td><strong class="red">$85,00.00</strong></td>
                    <td>
                        <p>
                            Lorem ipsum dolor sit amet, cons<br />
                            ectetur adipiscing elit
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>