<div class="row pt30" id="payment-applications">
    <div class="col-md-4">
        <div class="filters">
            <div class="pl10">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" ng-click="checkAll()" ng-model="isCheckedAll">
                    <label>&nbsp;</label>
                </div>
                <span class="text-muted">Filter By</span>
            </div>
            <div class="text-primary sub-title">
                Date Range
            </div>
            <div class="text-primary sub-title">
                Amount Range
            </div>
        </div>
        <div class="table-responsive" slim-scroll box-height="500px">
            <table class="table">
                <tbody>
                    <tr ng-repeat="application in payment_applications">
                        <td>
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" ng-model="application.checked">
                                <label>&nbsp;</label>
                            </div>
                        </td>
                        <td class="data">
                            <div>
                                <span class="sub-title text-primary">{{application.company_name}}</span>
                                <span class="pull-right">{{application.date}}</span>
                            </div>
                            <div>{{application.project_name}}</div>
                            <span class="amount font-regular">{{application.amount | currency}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-8">
        <div class="table-responsive">
            <div class="title">Summary of Selected Pay Applications</div>
            <table class="table table-bankright">
                <thead>
                    <tr class="lightgry">
                        <th>Info</th>
                        <th width="150px">Sched / Est<br /> Completion Date</th>
                        <th>Construction</th>
                        <th>SOW</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="BankTableDetails">
                                <span>Bob Jones</span>
                                <p>Flora Corp.</p>
                                <ul class="breadcrumb1">
                                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                    <li><a href="#"><i class="fa fa-phone"></i>   415 123 3456</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-12 project mt30">
                                <span>Project Name Goes Here</span>
                                <p>Jun 21, 2015</p>
                            </div>
                        </td>
                        <td width="150px">
                            <span class="greenTxt">sched</span>
                            <p class="bigTxt">Jun 23, 2016</p>
                            <span class="greenTxt">sched</span>
                            <p class="bigTxt">Jun 23, 2016</p>
                        </td>
                        <td>
                            <span class="greenTxt">completed</span>
                            <p class="bigTxt">84%</p>
                            <span class="greenTxt">cost</span>
                            <p class="bigTxt">$1,450,000</p>
                        </td>
                        <td>
                            <span>
                                Master bathroom cabinetry,
                                Carpet, Kitchen Something, Another
                                something.
                            </span>
                        </td>
                        <td>
                            <h2>$150,000</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="BankTableDetails">
                                <span>David Anderson</span>
                                <p>Company Name Here</p>
                                <ul class="breadcrumb1">
                                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                    <li><a href="#"><i class="fa fa-phone"></i>   415 123 3456</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-12 project mt30">
                                <span>Project Name Goes Here</span>
                                <p>Jun 21, 2015</p>
                            </div>
                        </td>
                        <td width="150px">
                            <span class="greenTxt">sched</span>
                            <p class="bigTxt">Jun 23, 2016</p>
                            <span class="greenTxt">sched</span>
                            <p class="bigTxt">Jun 23, 2016</p>
                        </td>
                        <td>
                            <span class="greenTxt">completed</span>
                            <p class="bigTxt">84%</p>
                            <span class="greenTxt">cost</span>
                            <p class="bigTxt">$1,450,000</p>
                        </td>
                        <td>
                            <span>
                                Master bathroom cabinetry,
                                Carpet, Kitchen Something, Another
                                something.
                            </span>
                        </td>
                        <td>
                            <h2>$50,000</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-lg-12">
                <div class="total pull-right">
                    <h3>total</h3>
                    <h1>$200,000</h1>
                </div>
            </div>
        </div>
    </div>
</div>
