<div class="row progressBar mt15">
    <!----================== START DEFAULT WIZARD==================---->
    <div class="col-lg-9">
        <div class="row bs-wizard" style="border-bottom:0;">
            <!-- active -->
            <div class="col-xs-12 col-md-2 bs-wizard-step complete">
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Payment Application</div>
            </div>

            <div class="col-xs-12 col-md-2 bs-wizard-step disabled">
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Draw Details</div>
            </div>

            <div class="col-xs-12 col-md-2 bs-wizard-step disabled">
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Compliance</div>
            </div>

            <div class="col-xs-12 col-md-2 bs-wizard-step disabled">
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Documents</div>
            </div>

            <div class="col-xs-12 col-md-2 bs-wizard-step disabled">
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Payment Details</div>
            </div>
            <div class="col-xs-12 col-md-2 bs-wizard-step disabled">
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Finalize</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="row mt15">
            <div class="col-lg-4 col-lg-offset-2">
                <strong class="savedraft">Save Draft</strong>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-w-n btn-danger" type="button">Next</button>
            </div>
        </div>
    </div>
</div>