<div class="modal-header clearfix">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body">
    <div class="row border-bottom bid-modal-title">
        <p>Award Bid</p>
    </div>
    <div class="row border-bottom bid-modal-info">
        <div class="col-lg-4 no-l-pad">
            <span>Bid Name</span>
            <p class="text-active">Ridiculus Omare Venenatis</p>
        </div>
        <div class="col-lg-3">
            <span>Sub Contractor</span>
            <p class="text-active">Bruce Wayne</p>
        </div>
        <div class="col-lg-3">
            <span>Company</span>
            <p class="text-inactive">Ornare Venenatis</p>
        </div>
        <div class="col-lg-2 no-l-pad">
            <span>Bid Amount</span>
            <p>$1,123,456.00</p>
        </div>
    </div>
    <div class="row border-bottom bid-modal-query">
        <div class="col-lg-6 no-l-pad">
            <p>Who is responsible for generating contact?</p>
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-3 no-l-pad">
            <p>Contact Due Date</p>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row bid-modal-costs">
        <div class="row no-margin bid-modal-detail">
            <div class="pull-left">
                <p>Does this contract replace any currently Estimated Costs?</p>
            </div>
            <div class="pull-right">
                <ui-rec-switch ng-model="upload" />
            </div>
        </div>
        <div class="row no-margin bid-modal-details">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Division 1</td>
                            <td>Total</td>
                            <td>Estimate by</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="text-active">Hello</td>
                                                    <td>hello</td>
                                                    <td>Hello</td>
                                                    <td>hello</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-cancel btn-lg" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary btn-lg" ng-click="award()">Award Bid</button>
</div>