<div class="row page-detail-header">
    <div class="col-md-1 no-padding-horizontal">
        <div class="closeBox">
            <p>
                <a ui-sref="action-items.main">
                    Close <i class="fa fa-caret-right"></i>
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-11 animated fadeInRight">
        <div class="row page-detail-header-wrapper">
            <div class="col-sm-12 col-md-12 col-lg-9">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="heading">Malesuada Fermentum Aenean Condimentum</h2>
                        <ul class="topSubtitle">
                            <li>
                                <a href="#">Wilmington 47 <i class="ace-icon fa fa-angle-down"></i></a>
                            </li>
                            <li><span>47 Wilmington Ave<br /> Arlington, VA 90125</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="row bids-proj-info">
                    <div class="pull-left text-right">
                        <p>BID NUMBER</p>
                        <P>DATE INITIATED</P>
                        <P>INITIATED BY</P>
                    </div>
                    <div class="text-left">
                        <p>193</p>
                        <p>8/23/14</p>
                        <p>Eric Hoffman</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="bids-comp-wrapper">
        <h3>Bid Comparison</h3>
        <hr>
        <div class="bids-comp-table">
            <p>Scope of work</p>
            <div class="table-resposive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Estimate Information</td>
                            <td>SubContractor Name 1</td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td>Fusce Risus</td>
                        </tr>
                        <tr>
                            <td>Materials</td>
                            <td>5 days</td>
                        </tr>
                        <tr>
                            <td>Labor</td>
                            <td>$123456</td>
                        </tr>
                        <tr>
                            <td>Equipment</td>
                            <td>$56565</td>
                        </tr>
                        <tr>
                            <td>Micellaneous</td>
                            <td>$45466</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$5676767</td>
                        </tr>
                        <tr>
                            <td>Additional Requirements:</td>
                            <td>Hello world</td>
                        </tr>
                        <tr>
                            <td>Company Information</td>
                            <td>hello</td>
                        </tr>
                        <tr>
                            <td>Insurance Requirements</td>
                            <td>hello</td>
                        </tr>
                        <tr>
                            <td>Work History</td>
                            <td>hello</td>
                        </tr>
                        <tr>
                            <td>References</td>
                            <td>hello</td>
                        </tr>
                        <tr>
                            <td>BLANK</td>
                            <td>View Bid, Button</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>