<div class="bids-package">
    <div class="row page-detail-header package-create-header">
        <div class="col-sm-1 no-padding-horizontal">
            <div class="closeBox">
                <p>
                    <a ui-sref="bids.main">
                        Close <i class="fa fa-caret-right"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="row package-header-title">
                <div class="col-md-7">
                    <h2 class="heading">Bid Package</h2>
                    <input type="text" placeholder="A Long Long Bid Name Goes Here">
                    <div class="info">
                        <span class="info-title">{{ company}}</span><br/>
                        <span class="info-value">{{ address1 }}</span><br/>
                        <span class="info-value">{{ address2 }}</span>
                    </div>
                </div>
                <div class="col-md-5 additional-info">
                    <div class="details">
                        <span class="more-info-name">Bid Number</span>
                        <span class="more-info-value"><span class="pc-info-title">{{ bidNumber }}</span></span>
                    </div>
                    <div class="details">
                        <span class="more-info-name">Date initiated</span>
                        <span class="more-info-value"><span class="pc-info-date">{{ dateInit }}</span></span>
                    </div>
                    <div class="details">
                        <span class="more-info-name">initiated by</span>
                        <span class="more-info-value"><span class="pc-info-date">{{ creator }}</span></span>
                    </div>
                    <div class="details">
                        <span class="more-info-name">Status</span>
                        <span class="more-info-value"><span class="pc-info-status text-success">{{ procurementStatus }}</span></span>
                    </div>
                    <div class="details">
                        <span class="more-info-name pd-right-20">Currently Responsible</span>
                        <div class="more-info-select"><ui-select selected-item="selectedScope" options="responsibleList" placeholder="Bob Jones"></ui-select></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-margin animated fadeInRight">
        <div class="col-lg-12">
            <div class="package-create-content">
                <div class="row person-info-wrapper">
                    <div class="person-info">
                        <div class="info-panel">
                            <div class="name">
                                <span class="name-header">General Contractor</span><br/>
                                <span class="name-value text-primary">{{ generalContractor }}</span>
                            </div>
                            <div class="other">
                                <span class="other-header">Contact</span><br/>
                                <span class="other-contact">
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;{{ contractorPhone }}</a></li>
                                    </ul>
                                </span>
                            </div>
                            <div class="other">
                                <span class="other-header">Company</span><br/>
                                <span class="other-value">{{ contactorCompany }}</span>
                            </div>
                        </div>
                        <div class="info-panel">
                            <div class="name">
                                <span class="name-header">Project Manager</span><br/>
                                <span class="name-value text-primary">{{ projectManager }}</span>
                            </div>
                            <div class="other">
                                <span class="other-header">Contact</span><br/>
                                <span class="other-contact">
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;{{ managerPhone }}</a></li>
                                    </ul>
                                </span>
                            </div>
                            <div class="other">
                                <span class="other-header">Company</span><br/>
                                <span class="other-value">{{ managerCompany }}</span>
                            </div>
                        </div>
                        <div class="info-panel">
                            <div class="other">
                                <span class="other-header">Date Est. to be on Project</span><br/>
                                <span class="other-value">{{ projectDateOn }}</span>
                            </div>
                            <div class="other">
                                <span class="other-header">Bid Closing Date</span><br/>
                                <span class="other-value">{{ ProjectDateBidClose }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-team pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>&nbsp;
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="">Edit</a></li>
                            <li><a href="">Delete</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row person-info-wrapper no-border">
                    <div class="col-md-4 no-padding-left">
                        <span class="document-title">Documents</span>
                        <div class="table-responsive table-document">
                            <table class="table">
                                <thead>
                                    <tr><th>Name</th></tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="document in documents"><td>{{ document }}<i class="fa fa-download pull-right"></i></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 no-padding-left">
                        <span class="document-title">Project Links</span>
                        <div class="table-responsive table-document">
                            <table class="table">
                                <thead>
                                    <tr><th>Name</th></tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="link in projectLinks"><td>{{ link }}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row bids-package-table">
            <div class="col-md-12">
                <h3>Project Estimates</h3>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <th>Scope of Work</th>
                            <th>Quantity</th>
                            <th>Measurement</th>
                            <th>Material</th>
                            <th>Material Link</th>
                            <th>Details</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in projectEstimates">
                                <td class="title">{{ row.scopeOfWork }}</td>
                                <td>{{ row.quantity }}</td>
                                <td>{{ row.measurement }}</td>
                                <td>{{ row.material }}</td>
                                <td class="title">{{ row.materialLink }}</td>
                                <td>{{ row.details }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row cost-schedule-table">
            <div class="col-md-12">
                <h3>Cost & Schedule breakdown</h3>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <th>Scope of Work</th>
                            <th>Cost Code</th>
                            <th>Phase/Subphase</th>
                            <th>Duration</th>
                            <th>Labor</th>
                            <th>Material</th>
                            <th>Equipment</th>
                            <th>Misc</th>
                            <th>Total</th>
                            <th class="small">Require Selection</th>
                            <th class="small">Responsible to Selection</th>
                            <th class="small">Require Order</th>
                            <th class="small">Responsible to Select</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in costScheduledBreakdown">
                                <td><span class="scope-title">{{ row.scopeOfWork.title }}</span><br/><span class="scope-division">{{ row.scopeOfWork.division }}</span></td>
                                <td><span class="costcode">{{ row.costCode.code }}</span><span>{{ row.costCode.title }}</span></td>
                                <td><span class="phase">{{ row.phase.parent }}</span><br/><span class="phase">{{ row.phase.sub }}</span></td>
                                <td><span>{{ row.duration }}</span></td>
                                <td><span>{{ row.labor }}</span></td>
                                <td><span>{{ row.material }}</span></td>
                                <td><span>{{ row.equipment }}</span></td>
                                <td><span>{{ row.misc }}</span></td>
                                <td><span>{{ row.total }}</span></td>
                                <td><span><input type="checkbox" ng-model="row.requireSelection"></td>
                                <td><span class="large-text">{{ row.responsibleToSelection }}</span></td>
                                <td><span><input type="checkbox" ng-model="row.requireOrder"></td>
                                <td><span class="large-text">{{ row.responsibleToSelection2 }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pull-right" uib-dropdown dropdown-append-to-body>
                <button type="button" class="btn btn-success btn-lg action-button" uib-dropdown-toggle>
                    <span class="btn-text">Actions</span><span class="fa fa-angle-down"></span>
                </button>
                <ul class="uib-dropdown-menu dropdown-menu-right action-menu bid-package-dropdown-menu" role="menu">
                    <li><a href="">Save</a></li>
                    <li><a href="">Submit</a></li>
                    <li><a href="">Award</a></li>
                    <li><a href="">Accept Award</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <uib-tabset>
            <uib-tab heading="Comments">
                <div ng-include="'partials/bids/package/comments.html'"></div>
            </uib-tab>
            <uib-tab heading="Access">Access</uib-tab>
            <uib-tab heading="Workflow">Workflow</uib-tab>
            <uib-tab heading="Attachments">Attachments</uib-tab>
        </uib-tabset>
    </div>
</div>


