<div class="row page-detail-header">
    <div class="col-md-1 no-padding-horizontal">
        <div class="closeBox">
            <p>
                <a ui-sref="action-items.main">
                    Close <i class="fa fa-caret-right"></i>
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-11 animated fadeInRight">
        <div class="row page-detail-header-wrapper">
            <div class="col-sm-12 col-md-12 col-lg-9">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="heading">Malesuada Fermentum Aenean Condimentum</h2>
                        <ul class="topSubtitle">
                            <li>
                                <a href="#">Wilmington 47 <i class="ace-icon fa fa-angle-down"></i></a>
                            </li>
                            <li><span>47 Wilmington Ave<br /> Arlington, VA 90125</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="row bids-proj-info">
                    <div class="pull-left text-right">
                        <p>BID NUMBER</p>
                        <P>DATE INITIATED</P>
                        <P>INITIATED BY</P>
                    </div>
                    <div class="text-left">
                        <p>193</p>
                        <p>8/23/14</p>
                        <p>Eric Hoffman</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="bids-comp-wrapper">
        <h3>Bid Comparison</h3>
        <hr>
        <div class="table-resposive">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th class="bids-table-high">Scope of Work</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bids-table-hd bids-table-high">Fireplace</td>
                        <td class="bids-table-high">SubContractor Name 1</td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd">Estimate Information</td>
                        <td>Fusce Risus</td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd">Duration</td>
                        <td>5 days</td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd">Materials</td>
                        <td>$1,234,567</td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd">Labor</td>
                        <td class="bids-table-active">$5,987</td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd">Equipment</td>
                        <td>$7,897.00</td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd">Micellaneous</td>
                        <td>$300</td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd bids-table-total">Total</td>
                        <td>$9,234,897.00</td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd">Additional Requirements:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd">Company Information</td>
                        <td>
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" ng-click="">
                                <label>&nbsp;</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd">Insurance Requirements</td>
                        <td>
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" ng-click="">
                                <label>&nbsp;</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd">Work History</td>
                        <td>
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" ng-click="">
                                <label>&nbsp;</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bids-table-hd">References</td>
                        <td>
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" ng-click="">
                                <label>&nbsp;</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bids-table-btn"></td>
                        <td class="bids-table-btn">
                            <div class="text-center">
                                <p>View Bid</p>
                                <button type="button" class="btn btn-primary btn-lg">Award Bid</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>