<div class="row wrapper border-bottom white-bg page-heading overview">
    <div class="col-sm-12 col-md-3">
        <h2 class="hding">Project Overview</h2>
        <ul class="topSubtitle">
            <li>
                <a href="#">Wilmington 47 <i class="ace-icon fa fa-angle-down"></i></a>
            </li>
            <li><span>Arlington, VA 90125</span></li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="col-md-6">
            <div class="row">
                <div class="pull-left prj-pr-m" id="financial-chart-container">
                    <div id="financial-chart"></div>
                    <div class="chart-data">
                        <div class="arc">
                            <span class="text"></span>
                            <input type="hidden" class="percent" value="32" />
                            <input type="hidden" class="color" value="#79c485" />
                        </div>
                        <div class="arc">
                            <span class="text"></span>
                            <input type="hidden" class="percent" value="64" />
                            <input type="hidden" class="color" value="#3aabd5" />
                        </div>
                    </div>
                </div>
                <div class="pull-left prj-mt-s">
                    <div class="">
                        <span class="prj-blue-rect prj-mr-s"></span>
                        <span class="prj-hd-itm">Schedule</span>
                    </div>
                    <div>
                        <div class="clearfix prj-pt-s">
                            <div class="pull-left prj-pr-m">
                                <span class="prj-itm-title">Estimated Completion Date<span>
                            </div>
                            <div class="pull-right">
                                <p class="text-right prj-itm-cont">Dec 28, 2015</p>
                            </div>
                        </div>
                        <div class="clearfix prj-pt-s">
                            <div class="pull-left prj-pr-m">
                                <span class="prj-itm-title">Original Completion Date<span>
                            </div>
                            <div class="pull-right">
                                <p class="text-right prj-itm-cont">Nov 14, 2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="prj-mt-s">
                <div>
                    <span class="prj-green-rect prj-mr-s"></span>
                    <span class="prj-hd-itm">Finance</span>
                </div>
                <div>
                    <div class="clearfix prj-pt-s">
                        <div class="pull-left prj-pr-m">
                            <span class="prj-itm-title">Funds Disbursed to Date</span>
                        </div>
                        <div class="pull-right">
                             <p class="text-right prj-itm-cont">$903,348</p>
                        </div>
                    </div>
                    <div class="clearfix prj-pt-s">
                        <div class="pull-left prj-pr-m">
                            <span class="prj-itm-title">Estimated Cost at Completion</span>
                        </div>
                        <div class="pull-right">
                            <p class="text-right prj-itm-cont">$2,788,284</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-2 prj-re-col">
            <div class="btns">
                <a href="#" class="btn btn-success btn-lg btn-bids" data-toggle="dropdown">
                    <i class="fa fa-plus"></i> Add New
                </a>
                <ul class="dropdown-menu dropdown-menu-right action-menu" role="menu">
                    <li><a href="">Invite Team Members</a></li>
                    <li><a href="">Create General Action Item</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <div class="row no-margin animated fadeInRight">
        <div class="col-md-12">
            <div class="project-overview">
                <div class="row progressBar">
                    <!-- START DEFAULT WIZARD -->
                    <div class="col-lg-6 border">
                        <div class="ibox">
                            <div class="Schedules">
                                <p><img src="assets/img/cal.png">  Aug 17 2015, Today's Schedules<a href="#">View All</a></p>
                            </div>
                            <div class="project">
                                <div class="feed-element">
                                    <div class="row no-margin">
                                        <div class="pull-left">
                                            <a href="#">
                                                <img src="assets/img/avasisteam/gebo.jpg" class="img-circle prj-sch-photo" alt="image">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <strong>Roof Dry-In</strong><br>
                                            <div class="clearfix"></div>
                                            <div class="row no-margin">
                                                <div class="prj-sch-cont">
                                                    <p class="progrsTxt"><span class="green"><img src="assets/img/green-flag-simple.png" class="img-circle prj-flg-sm" alt="image">In Progress</span></p>
                                                </div>
                                                <div class="prj-sch-cont"><p class="progrsTxt"> 60% Completed</p></div>
                                                <div class="prj-sch-prog">
                                                    <div class="progress progress-small">
                                                        <div class="progress-bar progress-bar-success" style="width: {{schedule_completed}}%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="prj-assigner"><span class="prj-assign">assigned to:</span> Dave Gebo</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="project">
                                <div class="feed-element">
                                    <div class="row no-margin">
                                        <div class="pull-left">
                                            <a href="#">
                                                <img src="assets/img/avasisteam/gebo.jpg" class="img-circle prj-sch-photo" alt="image">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <strong>Roof Dry-In</strong><br>
                                            <div class="clearfix"></div>
                                            <div class="row no-margin">
                                                <div class="prj-sch-cont">
                                                    <p class="progrsTxt"><span><img src="assets/img/green-flag-simple.png" class="img-circle prj-flg-sm" alt="image">Suspended</span></p>
                                                </div>
                                                <div class="prj-sch-cont"><p class="progrsTxt"> 60% Completed</p></div>
                                                <div class="prj-sch-prog">
                                                    <div class="progress progress-small">
                                                        <div class="progress-bar progress-bar-success" style="width: {{schedule_completed}}%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="prj-assigner"><span class="prj-assign">assigned to:</span> Dave Gebo</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="project">
                                <div class="feed-element">
                                    <div class="row no-margin">
                                        <div class="pull-left">
                                            <a href="#">
                                                <img src="assets/img/avasisteam/gebo.jpg" class="img-circle prj-sch-photo" alt="image">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <strong>Roof Dry-In</strong><br>
                                            <div class="clearfix"></div>
                                            <div class="row no-margin">
                                                <div class="prj-sch-cont">
                                                    <p class="progrsTxt"><span class="green"><img src="assets/img/green-flag-simple.png" class="img-circle prj-flg-sm" alt="image">In Progress</span></p>
                                                </div>
                                                <div class="prj-sch-cont"><p class="progrsTxt"> 60% Completed</p></div>
                                                <div class="prj-sch-prog">
                                                    <div class="progress progress-small">
                                                        <div class="progress-bar progress-bar-success" style="width: {{schedule_completed}}%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="prj-assigner"><span class="prj-assign">assigned to:</span> Dave Gebo</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="project">
                                <div class="feed-element">
                                    <div class="row no-margin">
                                        <div class="pull-left">
                                            <a href="#">
                                                <img src="assets/img/avasisteam/gebo.jpg" class="img-circle prj-sch-photo" alt="image">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <strong>Roof Dry-In</strong><br>
                                            <div class="clearfix"></div>
                                            <div class="row no-margin">
                                                <div class="prj-sch-cont">
                                                    <p class="progrsTxt"><span class="green"><img src="assets/img/green-flag-simple.png" class="img-circle prj-flg-sm" alt="image">In Progress</span></p>
                                                </div>
                                                <div class="prj-sch-cont"><p class="progrsTxt"> 60% Completed</p></div>
                                                <div class="prj-sch-prog">
                                                    <div class="progress progress-small">
                                                        <div class="progress-bar progress-bar-success" style="width: {{schedule_completed}}%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="prj-assigner"><span class="prj-assign">assigned to:</span> Dave Gebo</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="project">
                                <div class="feed-element">
                                    <div class="row no-margin">
                                        <div class="pull-left">
                                            <a href="#">
                                                <img src="assets/img/avasisteam/gebo.jpg" class="img-circle prj-sch-photo" alt="image">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <strong>Roof Dry-In</strong><br>
                                            <div class="clearfix"></div>
                                            <div class="row no-margin">
                                                <div class="prj-sch-cont">
                                                    <p class="progrsTxt"><span class="green"><img src="assets/img/green-flag-simple.png" class="img-circle prj-flg-sm" alt="image">In Progress</span></p>
                                                </div>
                                                <div class="prj-sch-cont"><p class="progrsTxt"> 60% Completed</p></div>
                                                <div class="prj-sch-prog">
                                                    <div class="progress progress-small">
                                                        <div class="progress-bar progress-bar-success" style="width: {{schedule_completed}}%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="prj-assigner"><span class="prj-assign">assigned to:</span> Dave Gebo</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="proStatus"><img alt="image" class="img-circle" src="assets/img/i-img.png">  Project Status </h3>

                            <div class="items-today">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th colspan="2"><h2>Items Due Today</h2></th>
                                        <th>
                                            3 of 9 completed
                                            <div class="progress progress-small">
                                                <div class="progress-bar progress-bar-success" style="width: {{project_completed}}%"></div>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                <div class="slimScrollDivContainer">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td><a href="#">GAI #10234</a></td>
                                                <td><p>Need Stairs Ready for Floor Lights</p></td>
                                                <td><span>Bruce Wayne</span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">GAI #10247</a></td>
                                                <td><p>Complete Fireplace Framing</p></td>
                                                <td><span>John Steel</span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">GAI #10249</a></td>
                                                <td><p>Close Garage Roof</p></td>
                                                <td><span>Mike Hunter</span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">GAI #10252</a></td>
                                                <td><p>Finish Closing in Roof</p></td>
                                                <td><span>Dave Gebo</span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">PRO #10005</a></td>
                                                <td><p>Owner to Select Kitchen Cabinets</p></td>
                                                <td><span>Jane Smith</span></td>
                                            </tr>
                                            <tr>
                                                <td><a class="strock" href="#">RFI #10021</a></td>
                                                <td><p class="strock">Roofline Modification</p></td>
                                                <td><span class="strock">Dave Gebo</span></td>
                                            </tr>
                                            <tr>
                                                <td><a class="strock" href="#">RFI #10021</a></td>
                                                <td><p class="strock">Raidant Flooring in Driveway</p></td>
                                                <td><span class="strock">Dale Gurrea</span></td>
                                            </tr>
                                            <tr>
                                                <td><a class="strock" href="#">GAI #10217</a></td>
                                                <td><p class="strock">Install Project Fencing</p></td>
                                                <td><span class="strock">Torben Moench</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pb35 no-margin animated fadeInRight">
        <div class="col-xs-12 col-lg-4">
            <div class="whiteBox">
                <div class="hdingTopBox">
                    <p><img alt="image" src="assets/img/alert-flag.png">Flag Alerts<a href="#">View All</a></p>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-3 col-md-3">
                        <canvas doughnutchart options="mineOptions" data="mineData" height="75" width="75"></canvas>
                        <div class="prj-piechart-center-title">MINE</div>
                    </div>
                    <div class="col-xs-3 col-md-3 space">
                        <div class="bids-group">
                            <span class="label progress-bar-pending">&nbsp;</span>
                            <span>{{mineData[0].value}}</span>
                            <div>
                                <span class="bids-per">{{mineData[0].value * 100 / (mineData[0].value + mineData[1].value + mineData[2].value) | number:0 }}%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3 space">
                        <div class="bids-group">
                            <span class="label progress-bar-contractual">&nbsp;</span>
                            <span>{{mineData[1].value}}</span>
                            <div>
                                <span class="bids-per">{{mineData[1].value * 100 / (mineData[0].value + mineData[1].value + mineData[2].value) | number:0 }}%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3 space">
                        <div class="bids-group">
                            <span class="label progress-bar-cost">&nbsp;</span>
                            <span>{{mineData[2].value}}</span>
                            <div>
                                <span class="bids-per">{{mineData[2].value * 100 / (mineData[0].value + mineData[1].value + mineData[2].value) | number:0 }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12">
                    <div class="col-xs-3 col-md-3">
                        <canvas doughnutchart options="teamOptions" data="teamData" height="75" width="75"></canvas>
                        <div class="prj-piechart-center-title">TEAM</div>
                    </div>
                    <div class="col-xs-3 col-md-3 space">
                        <span class="smlhding">{{teamData[0].value + teamData[1].value + teamData[2].value}} Alerts</span>
                        <div class="left1">
                            <h3 class="label progress-bar-pending">5</h3>
                            <span class="teamupper">{{teamData[0].value}}</span>
                            <p class="price">{{teamData[0].value * 100 / (teamData[0].value + teamData[1].value + teamData[2].value) | number:0 }}%</p>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3 space">
                        <div class="left1">
                            <span>&nbsp;</span>
                            <h3 class="label progress-bar-contractual">5</h3>
                            <span class="teamupper">{{teamData[1].value}}</span>
                            <p class="price">{{teamData[1].value * 100 / (teamData[0].value + teamData[1].value + teamData[2].value) | number:0 }}%</p>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3 space">
                        <div class="left1">
                            <span>&nbsp;</span>
                            <h3 class="label progress-bar-cost">5</h3>
                            <span class="teamupper">{{teamData[2].value}}</span>
                            <p class="price">{{teamData[2].value * 100 / (teamData[0].value + teamData[1].value + teamData[2].value) | number:0 }}%</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="whiteBox mt30">
                <div class="hdingTopBox">
                    <p><img alt="image" src="assets/img/talkiii.png">Communication</p>
                </div>
                <div class="table-responsive">
                    <table class="table community">
                        <tbody>
                        <tr>
                            <td><i class="fa fa-flag-o"></i></td>
                            <td><p>Items Requiring Approval</p></td>
                            <td><button class="btn btn-danger prj-btn-sm" type="button">12 Items</button></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-envelope-o"></i></td>
                            <td><p>Unread Messages</p></td>
                            <td><button class="btn btn-warning prj-btn-sm" type="button">1 Items</button></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-file-o"></i></td>
                            <td><p>Recently Updated Documents</p></td>
                            <td><button class="btn btn-success prj-btn-sm" type="button">1 Items</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- Communication Box End -->
        </div>

        <div class="col-xs-12 col-lg-4">
            <div class="whiteBox">
                <div class="hdingTopBox">
                    <p><img src="assets/img/team-member.png" alt="image">Team Members<a href="#">View All</a></p>
                </div>
                <div class="col-lg-12">
                    <div class="row no-margin space2">
                        <div class="pull-left" id="team-member-chart-container">
                            <div id="team-member-chart"></div>
                            <div class="chart-data">
                                <div class="arc signed-members">
                                    <span class="text"></span>
                                    <input type="hidden" class="percent" value="13" />
                                    <input type="hidden" class="color" value="#3aabd5" />
                                </div>
                                <div class="arc total-members">
                                    <span class="text"></span>
                                    <input type="hidden" class="percent" value="100" />
                                    <input type="hidden" class="color" value="#79c485" />
                                </div>
                            </div>
                        </div>
                        <div class="pull-left">
                            <div class="left1">
                                <h3 class="label progress-bar-cost">5</h3>
                                <span class="teamupper">Total Project Team Members</span>
                                <p class="price">40 Members</p>
                                <h3 class="label label-Schedule">5</h3>
                                <span class="teamupper">Members Sched. On Site today</span>
                                <p class="price">5 Members</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="prj-table-wrapper">
                    <div class="table-responsive">
                        <table class="table mt20 team">
                            <tbody>
                            <tr>
                                <td width="40px"><img alt="image" class="img-circle prj-team-photo" src="assets/img/avasisteam/iris.jpg"></td>
                                <td>
                                    <span class="sky">Iris Kennedy</span>
                                    <p>Banker</p>
                                </td>
                                <td>
                                    <div class="prj-comm">
                                        <span class="border-right"><a href="#"><i class="fa fa-envelope"></i></a></span>
                                        <span class="border-right"><a href="#"><i class="fa fa-comments"></i></a></span>
                                        <span><a href="#"><i class="fa fa-phone"></i></a></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img alt="image" class="img-circle prj-team-photo" src="assets/img/avasisteam/bruce.jpg"></td>
                                <td>
                                    <span class="sky">Bruce Wayne</span>
                                    <p>Contractor</p>
                                </td>
                                <td>
                                    <div class="prj-comm">
                                        <span class="border-right"><a href="#"><i class="fa fa-envelope"></i></a></span>
                                        <span><a href="#"><i class="fa fa-comments"></i></a></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img alt="image" class="img-circle prj-team-photo" src="assets/img/avasisteam/jane.jpg"></td>
                                <td>
                                    <span class="sky">Jane Smith</span>
                                    <p>Qwner</p>
                                </td>
                                <td>
                                    <div class="prj-comm">
                                        <span><a href="#"><i class="fa fa-phone"></i></a></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img alt="image" class="img-circle prj-team-photo" src="assets/img/avasisteam/beth.jpg"></td>
                                <td>
                                    <span class="sky">Beth Wiseman</span>
                                    <p>Office Administrator</p>
                                </td>
                                <td>
                                    <div class="prj-comm">
                                        <span class="border-right"><a href="#"><i class="fa fa-envelope"></i></a></span>
                                        <span class="border-right"><a href="#"><i class="fa fa-comments"></i></a></span>
                                        <span><a href="#"><i class="fa fa-phone"></i></a></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img alt="image" class="img-circle prj-team-photo" src="assets/img/avasisteam/gebo.jpg"></td>
                                <td>
                                    <span class="sky">Dave Gebo</span>
                                    <p>Sub-Contractor</p>
                                </td>
                                <td>
                                    <div class="prj-comm">
                                        <span class="border-right"><a href="#"><i class="fa fa-envelope"></i></a></span>
                                        <span><a href="#"><i class="fa fa-comments"></i></a></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img alt="image" class="img-circle prj-team-photo" src="assets/img/avasisteam/dan.jpg"></td>
                                <td>
                                    <span class="sky">Dan Bonker</span>
                                    <p>Sub-Contractor</p>
                                </td>
                                <td>
                                    <div class="prj-comm">
                                        <span><a href="#"><i class="fa fa-phone"></i></a></span>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-xs-12 col-lg-4">
            <div class="whiteBox">
                <div class="hdingTopBox">
                    <p><img alt="image" src="assets/img/latest-photo.png">Latest Photos<a href="#">View All</a></p>
                </div>

                <div class="row gallery mt10">
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic1.jpg"> </div>
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic2.jpg"> </div>
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic3.jpg"> </div>
                </div>
                <div class="row gallery">
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic4.jpg"> </div>
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic2.jpg"> </div>
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic1.jpg"> </div>
                </div>
                <div class="row gallery">
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic4.jpg"> </div>
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic2.jpg"> </div>
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic1.jpg"> </div>
                </div>
                <div class="row gallery">
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic2.jpg"> </div>
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic4.jpg"> </div>
                    <div class="col-xs-4 col-md-4 col-lg-4"><img class="img-responsive" alt="image" src="assets/img/latest-pic3.jpg"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- END DEFAULT WIZARD -->

<!----================== Avasis-projectDetails-v12@2x SLIM SCROLL================== ---->
<script type="text/javascript">
    $(function () {
        $('.slimScrollDivContainer').slimScroll({
            height:'434px'
        });
    });
</script>

<script type="text/javascript">
    function DropDown(el) {
        this.dd = el;
        this.placeholder = this.dd.children('span');
        this.opts = this.dd.find('ul.dropdown > li');
        this.val = '';
        this.index = -1;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;

            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                return false;
            });
        },
        getValue: function () {
            return this.val;
        },
        getIndex: function () {
            return this.index;
        }
    }

    $(function () {
        var dd = new DropDown($('#dd'));

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-3').removeClass('active');
        });

    });
</script>

<!----==================DROPDOWN TEAM MEMBERS================== ---->
<script type="text/javascript">
    function DropDown(el) {
        this.dd = el;
        this.placeholder = this.dd.children('span');
        this.opts = this.dd.find('ul.dropdown > li');
        this.val = '';
        this.index = -1;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;

            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                return false;
            });
        },
        getValue: function () {
            return this.val;
        },
        getIndex: function () {
            return this.index;
        }
    }

    $(function () {
        var dd = new DropDown($('.dd'));

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-team').removeClass('active');
        });

    });

</script>

<script>
var financial_chart = {
    init: function (width, height, radius, pen_width) {
        this.diagram(width, height, radius, pen_width);
    },
    random: function (l, u) {
        return Math.floor((Math.random() * (u - l + 1)) + l);
    },
    diagram: function (width, height, radius, pen_width) {
        var display = '';
        var width = width,
            height = height,
            radius = radius,
            pen_width = pen_width;

        $('#financial-chart-container .chart-data').find('.arc').each(function (i) {
            var t = $(this);
            display += t.find('.percent').val() + "%\n";
        });

        var r = Raphael('financial-chart', width, height),
			rad = radius,
			defaultText = '%',
            param = {stroke: "#fff", "stroke-width": pen_width};
			speed = 250;

        // r.circle(width/2, height/2, p).attr({ stroke: 'none', fill: '#FFF' });

        var title = r.text(width / 2, height / 2, defaultText).attr({
            font: '14px Arial',
            fill: '#000'
        }).toFront();

        title.attr({ text: display });

        r.customAttributes.arc = function (value, color, rad) {
            var v = 3.6 * value,
				alpha = v == 360 ? 359.99 : v,
				a = (90 - alpha) * Math.PI / 180,
				b = 90 * Math.PI / 180,
				sx = width / 2 + rad * Math.cos(b),
				sy = height / 2  - rad * Math.sin(b),
				x = width / 2 + rad * Math.cos(a),
				y = height / 2 - rad * Math.sin(a),
				path = [['M', sx, sy], ['A', rad, rad, 0, +(alpha > 180), 1, x, y]];
            return { path: path }
        }

        $('#financial-chart-container .chart-data').find('.arc').each(function (i) {
            var t = $(this),
				color = t.find('.color').val(),
				value = t.find('.percent').val(),
				text = t.find('.text').text();

            rad += pen_width;
            var z = r.path().attr(param).attr({ arc: [0, color, rad]});
            z.animate({arc: [value, color, rad], 'stroke': color}, 1000, ">");
        });
    }
}

var team_member_chart = {
    init: function (width, height, radius, pen_width) {
        this.diagram(width, height, radius, pen_width);
    },
    random: function (l, u) {
        return Math.floor((Math.random() * (u - l + 1)) + l);
    },
    diagram: function (width, height, radius, pen_width) {
        var display = '';
        var width = width,
            height = height,
            radius = radius,
            pen_width = pen_width;

        display = $('#team-member-chart-container .signed-members .percent').val() + "%\n";

        var r = Raphael('team-member-chart', width, height),
			rad = radius,
			defaultText = '%',
            param = {stroke: "#fff", "stroke-width": pen_width};
			speed = 250;

        // r.circle(width/2, height/2, p).attr({ stroke: 'none', fill: '#FFF' });

        var title = r.text(width / 2, height / 2, defaultText).attr({
            font: '14px Arial',
            fill: '#000'
        }).toFront();

        title.attr({ text: display });

        r.customAttributes.arc = function (value, color, rad) {
            var v = 3.6 * value,
				alpha = v == 360 ? 359.99 : v,
				a = (90 - alpha) * Math.PI / 180,
				b = 90 * Math.PI / 180,
				sx = width / 2 + rad * Math.cos(b),
				sy = height / 2  - rad * Math.sin(b),
				x = width / 2 + rad * Math.cos(a),
				y = height / 2 - rad * Math.sin(a),
				path = [['M', sx, sy], ['A', rad, rad, 0, +(alpha > 180), 1, x, y]];
            return { path: path }
        }

        $('#team-member-chart-container .chart-data').find('.arc').each(function (i) {
            var t = $(this),
				color = t.find('.color').val(),
				value = t.find('.percent').val(),
				text = t.find('.text').text();

            rad += pen_width;
            var z = r.path().attr(param).attr({ arc: [0, color, rad]});
            z.animate({arc: [value, color, rad], 'stroke': color}, 1000, ">");
        });
    }
}

$(document).ready(function() {
    financial_chart.init(90, 90, 20, 10);
    team_member_chart.init(80, 80, 20, 5);
});
</script>
