<div class="row wrapper border-bottom white-bg page-heading overview">
    <div class="col-xs-6 col-lg-10">
        <h2 class="heading">Your Project Photos</h2>
        <ul class="topSubtitle">
            <li>
                <a href="#">Wilmington 47 <i class="ace-icon fa fa-angle-down"></i></a>
            </li>
            <li><span>47 Wilmington Ave  Arlington,<br /> VA 90125</span></li>
        </ul>
    </div>
    <div class="col-xs-6 col-lg-2">
        <div class="btns mr10">
            <a href="#" class="btn btn-success btn-lg">
                <i class="fa fa-plus"></i> Add New Photos
            </a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="card-wrapper whiteBox">

        <div class="row">

            <div class="panel photos">
                <div class="panel-heading">

                    <!-- filters -->
                    <div class="filters mt5">
                        <div class="col-xs-9 col-sm-8 col-md-4 col-lg-4 searchdown">
                            <div class="search-field">
                                <i class="fa fa-search p15"></i>
                                <input type="text" placeholder="Search by date, worker, tag, location  or project "
                                       class="form-control round ng-pristine ng-valid ng-touched" ng-model="query">
                            </div>
                            <br/>
                        </div>
                        <div class="col-xs-3 col-sm-4 col-md-8 col-lg-8 text-right viewall">
                            <a href="#">View All</a>
                        </div>
                    </div> <!-- /filters -->

                    <!-- folders -->
                    <div class="folders" ng-if="folders.length == 0">
                        <img src="assets/img/addphotos.png" class="arrow">

                        <h3>Folders <a href="">Add Folder</a></h3>

                        <div class="col-md-12 text-center">
                            <p class="mt30">There is no folder created yet.</p>
                            <span>Click to “Add Folder” to create folder, and keep your photos organized</span>
                            <br/>
                        </div>
                    </div><!-- /folders -->

                    <!-- folders -->
                    <div class="folders" ng-if="folders.length > 0">

                        <h3>Folders <a href="">Add Folder</a></h3>

                        <button class="backward"><i class="fa fa-chevron-left"></i></button>
                        <button class="forward"><i class="fa fa-chevron-right"></i></button>

                        <div class="frame" id="basic">
                            <ul class="clearfix">
                                <li ng-repeat="folder in folders">
                                    <img src="assets/img/photos/Photos1.jpg" alt="" />
                                    <div class="mask">
                                        <div class="folder-name">{{folder.name}}</div>
                                        <div class="folder-date">{{folder.date}}</div>
                                        <div class="folder-number-photos">{{folder.number_of_photos}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="scrollbar">
                            <div class="handle">
                                <div class="mousearea"></div>
                            </div>
                        </div>

                    </div><!-- /folders -->

                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-left">
                                <h3>
                                    Photos Uploaded
                                </h3>
                                <div class="btn-group" uib-dropdown>
                                    <button type="button" class="btn round dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                        <small>Filter By <span class="fa fa-angle-down"></span></small>
                                    </button>
                                    <ul class="uib-dropdown-menu dropdown-menu" role="menu">
                                        <li role="menuitem"><a href="#">This Week</a></li>
                                        <li role="menuitem"><a href="#">This Month</a></li>
                                        <li role="menuitem"><a href="#">This Year</a></li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#" class="pull-right options">Options</a>
                        </div>
                    </div>

                    <div class="row mt20">
                        <div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="photo in photos">
                            <a href="#" class="thumbnail">
                                <img ng-src="assets/img/photos/{{photo.name}}" alt=""/>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script>
    $(document).ready(function () {

        var widthpho = $('.photos').width();
        var unitWeight = parseInt(widthpho / 2) - 262 + 'px';

        $('.photos .arrow').css('width', unitWeight);
    });
</script>
