<div class="row wrapper border-bottom white-bg page-heading overview">
    <div class="col-xs-6 col-lg-10">
        <h2 class="heading">Your Project Photos</h2>
        <ul class="topSubtitle">
            <li>
                <a href="#">Wilmington 47<i class="ace-icon fa fa-angle-down"></i></a>
            </li>
            <li><span>47 Wilmington Ave  Arlington,<br /> VA 90125</span></li>
        </ul>
    </div>
    <div class="col-xs-6 col-lg-2">
        <div class="btns mr10">
            <a href="#" class="btn btn-success btn-lg">
                <i class="fa fa-plus"></i> Add New Photos
            </a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="card-wrapper whiteBox">

        <div class="row">

            <div class="panel photos">
                <div class="panel-heading">

                    <!-- filters -->
                    <div class="filters mt5">
                        <div class="col-xs-9 col-sm-8 col-md-4 col-lg-4 searchdown">
                            <div class="search-field">
                                <i class="fa fa-search p15"></i>
                                <input type="text" placeholder="Search by date, worker, tag, location  or project "
                                       class="form-control round ng-pristine ng-valid ng-touched" ng-model="query">
                            </div>
                            <br/>
                        </div>
                        <div class="col-xs-3 col-sm-4 col-md-8 col-lg-8 text-right viewall">
                            <a href="#">View All</a>
                        </div>
                    </div> <!-- /filters -->

                    <!-- folders -->
                    <folder-slider />

                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-left">
                                <h3>
                                    Photos Uploaded
                                </h3>
                                <div class="btn-group" uib-dropdown>
                                    <button type="button" class="btn round dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                        <small>Filter By <span class="fa fa-angle-down"></span></small>
                                    </button>
                                    <ul class="uib-dropdown-menu dropdown-menu" role="menu">
                                        <li role="menuitem"><a href="#">This Week</a></li>
                                        <li role="menuitem"><a href="#">This Month</a></li>
                                        <li role="menuitem"><a href="#">This Year</a></li>
                                    </ul>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="pull-right options animated fadeIn" ng-click="toggleOption()">{{isOptionShow ? 'Done' : 'Options'}}</a>

                            <ul class="list-unstyled option pull-right animated fadeInLeft" ng-show="isOptionShow">
                                <li>
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <i class="fa fa-share-square" aria-hidden="true"></i>
                                        Share
                                    </button>
                                </li>
                                <li>
                                    <div class="dropdown">

                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-folder"></i>
                                            Move to Folder
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right chevron-down-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                                        Copy to Folder
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        Download
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <i class="fa fa-tag" aria-hidden="true"></i>
                                        Add Tags
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        Trash
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt20">
                        <div class="col-xs-6 col-sm-4 col-md-2 photo" ng-repeat="photo in photos">
                            <div class="overlay" ng-class="{'selected': photo.selected}">
                                <div class="uploaded_by text-left">Bruce Wayne</div>
                                <div class="uploaded_at text-left">May 20, 2015 - 2:34pm</div>
                                <div class="desc text-left">Master bedroom cabinetry install</div>
                            </div>
                            <div class="thumbnail" ng-class="{'selected': photo.selected}">
                                <input type="checkbox" ng-model="photo.selected" ng-show="isFolderSelected"></input>
                                <img ng-src="assets/img/photos/{{photo.name}}" alt=""/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
