<div class="row">
    <div class="col-md-5 col-sm-10">
        <div class="form-group">
            <label>Signature</label>
            <input type="text">
        </div>
    </div>
    <div class="col-md-3 col-sm-10">
        <div class="revision-item">
            <span>Revisions Requested</span>
            <ui-rec-switch ng-model="revisionRequested" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Comments</label>
            <textarea placeholder="Provide any addtional information here..."></textarea>
        </div>
    </div>
</div>