<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <label>Selection Topic</label>
            <input type="text">
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <label>Material</label>
            <input type="text">
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <label>Color</label>
            <input type="text">
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <label>Size</label>
            <input type="text">
        </div>
    </div>
</div>