<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <i class="fa fa-caret-left"></i>
            <span minimaliza-sidebar></span>
            <!-- <a class="navbar-minimalize minimalize-styl-2 btn" href="#"><i class="fa fa-bars"></i> </a> -->

            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div id="top-search-bar">
                    <a href="#"><i class="fa fa-search"></i></a>
                    <input type="text" placeholder="Search your projects " class="form-control search"
                           name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">

            <li class="light-blue" ng-class="{'border-right': unreads == 0}">
                <div class="dropdown">
                    <a href="" class="dropdown-toggle text-primary" data-toggle="dropdown">
                        <img alt="Jason's Photo" src="assets/img/bruce-wayne.png" class="img-circle nav-user-photo">
                                <span class="user-info">
                                    Bruce Wayne
                                </span>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right chevron-down-menu" role="menu">
                        <li><a href="javascript:void(0)">My Profile</a></li>
                        <li><a href="javascript:void(0)">Company Profile</a></li>
                        <li><a href="javascript:void(0)">Project Profile</a></li>
                        <li><a href="javascript:void(0)" class="logoff">Logoff</a></li>
                    </ul>
                </div>
            </li>

            <li class="unreads" ng-click="showNotificationsBar()" ng-if="unreads > 0">
                <a href="#">
                    <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                    <span class="badge badge-important">{{unreads}}</span>
                </a>
            </li>
            <li class="nounreads" ng-click="showNotificationsBar()" ng-if="unreads == 0">
                <a href="#">
                    <i class="ace-icon fa fa-bell-o icon-animated-bell"></i>
                </a>
            </li>
        </ul>

    </nav>
</div>
