.bankdraw .title {
  font-size: 17px;
  line-height: 30px;
  margin-top: 5px; }

.bankdraw .heading {
  font-size: 16px;
  line-height: 30px;
  color: #a1a3a5; }

.bankdraw .sub-title {
  font-size: 14px; }

.bankdraw .top {
  background: white; }
  .bankdraw .top .closeBox {
    background: #000;
    width: 100px;
    padding: 110px 0;
    text-align: center;
    float: left; }
  .bankdraw .top .detail {
    padding: 30px 20px 0;
    margin-top: 10px;
    width: calc(100% - 100px);
    float: left; }
    .bankdraw .top .detail .pull-left {
      font-size: 14px; }
    .bankdraw .top .detail .pull-right {
      padding-top: 30px; }
      .bankdraw .top .detail .pull-right table tr > td {
        padding: 3px 10px; }
        .bankdraw .top .detail .pull-right table tr > td:first-child {
          text-align: right;
          font-size: 12px; }
