.bids-award-modal .modal-body {
  padding: 20px 20px 10px 20px; }

.bids-award-modal .bid-award-modal-title {
  padding: 12px 0;
  border-bottom: 1px solid #d7d7d7; }
  .bids-award-modal .bid-award-modal-title span {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px; }

.bids-award-modal .bid-award-modal-info {
  padding: 14px 0;
  border-bottom: 1px solid #d7d7d7; }
  .bids-award-modal .bid-award-modal-info .text-title {
    font-family: "AvenirNextLTPro-Medium";
    font-size: 9px;
    color: #8b8b8b;
    padding-bottom: 2px;
    display: block; }
  .bids-award-modal .bid-award-modal-info .text-bid-name, .bids-award-modal .bid-award-modal-info .text-sub-contractor, .bids-award-modal .bid-award-modal-info .text-bid-amount {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px;
    color: #3aabd5; }
  .bids-award-modal .bid-award-modal-info .text-bid-amount {
    color: #2a2d33; }
  .bids-award-modal .bid-award-modal-info .text-company {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 13px;
    color: #4a4a4a; }
  .bids-award-modal .bid-award-modal-info .form-group label {
    display: block;
    padding-bottom: 10px;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 12px;
    color: #44474b; }
  .bids-award-modal .bid-award-modal-info .form-group input, .bids-award-modal .bid-award-modal-info .form-group textarea {
    background-color: #f9f9f9;
    width: 100%;
    padding: 10px 20px;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 12px; }
  .bids-award-modal .bid-award-modal-info .form-group .due-date {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 12px;
    background-color: #f9f9f9;
    color: #8b8b8b;
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #d7d7d7; }
  .bids-award-modal .bid-award-modal-info .form-group .inline-calendar {
    display: inline-block;
    position: absolute;
    min-height: 290px;
    z-index: 9999; }
  .bids-award-modal .bid-award-modal-info .replaceCost-title {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px;
    color: #44474b;
    padding-top: 8px;
    display: block; }
  .bids-award-modal .bid-award-modal-info .past-estimates {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    margin: 15px; }
    .bids-award-modal .bid-award-modal-info .past-estimates .division {
      font-family: "AvenirNextLTPro-Medium";
      font-size: 9px;
      color: #4a4a4a;
      display: block;
      margin-bottom: -5px; }
    .bids-award-modal .bid-award-modal-info .past-estimates .name {
      font-family: "AvenirNextLTPro-Demi";
      font-size: 12px;
      color: #3aabd5; }
    .bids-award-modal .bid-award-modal-info .past-estimates .total-title, .bids-award-modal .bid-award-modal-info .past-estimates .total-estimateby {
      font-family: "AvenirNextLTPro-Demi";
      font-size: 9px;
      color: #8b8b8b; }
    .bids-award-modal .bid-award-modal-info .past-estimates .angular-ui-tree-nodes .angular-ui-tree-nodes {
      padding-left: 20px; }
    .bids-award-modal .bid-award-modal-info .past-estimates .angular-ui-tree-node .angular-ui-tree-nodes:before {
      left: 20px; }
    .bids-award-modal .bid-award-modal-info .past-estimates li.no-child .angular-ui-tree-nodes:before {
      border: none; }
    .bids-award-modal .bid-award-modal-info .past-estimates .font-regular {
      font-family: "AvenirNextLTPro-Regular";
      font-size: 12px;
      color: #44474b; }
    .bids-award-modal .bid-award-modal-info .past-estimates input {
      background-color: #f9f9f9;
      width: 120px;
      padding: 10px 10px;
      font-family: "AvenirNextLTPro-Regular";
      font-size: 12px; }

.bids-award-modal .modal-footer {
  border: none;
  padding: 20px; }

@media (min-width: 768px) {
  .bids-award-modal .modal-dialog {
    width: 720px; } }
