.btn i {
    margin-right: 5px;
}

.bids-card-content {
    padding: 20px;
}

.bids-distrib {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 13px;
    font-weight: normal;
}
.bids-distrib-value {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 15px;
    color: #808080;
}
.bids-amount {
    font-size: 12px;
    color: #808080;
}

.bids-card-content .label-blue {
    background-color: #3aabd5;
    font-size: 10px;
}
.bids-card-content .label-orange {
    background-color: #fdae46;
    font-size: 10px;
}

.progress.progress-bids {
    height: 13px;
    margin: 4px 0 4px 0;
}

.bids-panel-body {
    padding: 0;
    position: relative;
    font-size: 14px;
}
.bids-panel-body p {
    font-family: "AvenirNextLTPro-Medium";
    font-size: 17px;
    margin-bottom: 17px;
}

.table-bids {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 14px;
}

.table-bids thead, 
.table-bids tbody {
    border: 1px solid #d7d7d7;
}

table.table-bids tbody {
    border: 1px solid #d7d7d7;
}
table.table-bids tbody + tbody {
    border: 1px solid #d7d7d7;
}

.table-bids thead tr th {
    font-family: "AvenirNextLTPro-Demi";
    color: #808080;
    font-size: 12px;
}
.table-bids tbody tr {
    background: #fff;
}
.table-bids .grand-total {
    height: 90px;
}
.grand-title {
    margin-left: 20px;
}

.table-bids .bids-status {
    font-size: 9px;
    color: #79c485;
}

.table-bids thead tr th,
.table-bids tbody tr td {
    vertical-align: middle;
}
.table-bids tfoot tr td {
    border: none;
    vertical-align: middle;
    font-family: "AvenirNextLTPro-Demi";
    color: #808080;
}
.table-bids tfoot span {
    color: #44474b;
}
.table-bids tfoot tr .grand-left {
    background: #fff;    
    border-left: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    border-radius: 3px;
}
.table-bids tfoot tr .grand-middle {
    background: #fff;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.table-bids tfoot tr .grand-right {
    background: #fff;
    border-right: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.table-bids tr td,
.table-bids tr th {
    padding: 20px !important;
}

p {

}

.table-bids .bid-name {
    width: 300px;
}
.table-bids .text-active {
    color: #3aabd5;
    font-weight: bold;
    cursor: pointer;
}
.table-bids .text-active-sm {
    color: #3aabd5;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.bid-name i {
    margin-right: 10px;
}

.bids-group {
    font-family: "AvenirNextLTPro-Demi";
}
.bids-group span {
    font-size: 12px;
    margin-right: 5px;
    color: #808080;
}
.bids-group div {
    padding: 0 25px;
    margin: 0px;
}

.primary-num {
    font-size: 14px;
    color: #4a4a4a;
}

.bids-group .bids-num {
    font-size: 14px;
    color: #4a4a4a;
}
.bids-group .bids-per {
    font-size: 14px;
    color: #808080;
}

.detailed-bids {
    padding: 0px 250px 20px 30px;
}
.detailed-bids table thead th {
    background: #f9f9f9;
}

.detailed-opt{
    margin-bottom: 15px;
    font-size: 12px;
}
.detailed-opt span {
    display: inline-block;
    padding-right: 20px;
}
.detailed-opt a {
    color: #3aabd5;
}
.detailed-opt .border-right {
    margin-right: 20px;
}

.btn-bids {
    width: 125px;
    font-family: "AvenirNextLTPro-Demi";
}

.bids-proj-info {
    margin-top: 32px;
}
.bids-proj-info div {
    margin-right: 20px;
}

.bids-proj-info .proj-info-title {
    font-family: "AvenirNextLTPro-Bold";
    font-size: 9px;
}
.bids-proj-info .proj-info-cont {
    font-family: "AvenirNextLTPro-Medium";
    font-size: 12px;
}
.bids-proj-info .proj-info-cont p {
    margin-top: 3px;
}
.bids-proj-info .proj-info-cont span {
    background-color: #44474b;
    color: white;
    border-radius: 3px;
    padding-top: 2px;
}

.bids-proj-info .proj-info-cont span {
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.bids-proj-info .proj-info-cont p {
    margin-bottom: 5px;
}

.bids-comp-wrapper {
    background-color: white;
    padding: 20px;
}
.bids-comp-wrapper h3 {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 22px;
}
.bids-comp-wrapper table thead tr th,{
    background-color: #f9f9f9;
    border: none;
    width: 200px;
}
.bids-comp-wrapper table tr {
    height: 35px;
}

.bids-comp-wrapper table td {
    text-align: center;
    vertical-align: middle;
    width: 200px;
}

.bids-comp-wrapper table {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 11px;
}
.bids-comp-wrapper table .bids-table-hd {
    padding-left: 30px;
    text-align: left;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 11px;
    color: #808080;
    background-color: #fcfcfc;
}
.bids-comp-wrapper table .bids-table-total {
    color: #333;
}
.bids-comp-wrapper table .bids-table-high {
    height: 50px;
    padding-left: 15px;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 12px;
}
.bids-comp-wrapper table tbody .bids-table-high {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 12px;
    color: #3aabd5;
}

.bids-table-active {
    color: #79c485;
}
.bids-table-btn {
    height: 120px;
}
.bids-table-btn p {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 14px;
}
.bids-table-sow {
    height: 50px;
    padding-left: 15px;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 12px;
    color: #808080;
    border: none !important;
}

.bids-comp-responsive {
    overflow: auto;
}

.bids-comp-wrapper .checkbox {
    margin-left: 11px;
}