.comm-wrapper {
    padding: 25px;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px;
}
.comm-wrapper .text-normal {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 12px;
    color: #4a4a4a;
}

.comm-header {
    padding-bottom: 10px;
}
.comm-header li {
    display: inline-block;
    text-align: right;
    margin-left: 45px;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 12px;
}
.comm-header li i {
    margin-right: 7px;
}
.comm-header li a {
    color: #868686;
}
.comm-card {
    padding: 15px 15px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}
.comm-card:hover {
    background-color: #fafafa;
}
.comm-card.active {
    background-color: #f5f5f5;
}
.comm-card-wrapper {
    margin-top: 10px;
}
.comm-msg-wrapper {
    margin-top: 10px;
    padding-left: 10px;
}
.comm-card-wrapper hr,
.comm-msg-wrapper hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.comm-card .comm-card-num {
    background-color: #cccccc;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.comm-card-title {
    padding-bottom: 3px;
}
.comm-card-title i {
    margin-right: 7px;
    color: #efbe38;
}
.comm-card-name {
    font-family: "AvenirNextLTPro-Bold";
    font-size: 14px;
}

.comm-card-proj {
    font-family: "AvenirNextLTPro-Medium";
    font-size: 13px;
    padding-bottom: 5px;
}
.comm-card-cont {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 12px;
}

.comm-card-spot {
    color: #3aabd5;
    font-size: 10px;
    margin-left: -20px;
    margin-right: 10px;
    padding-top: 33px;
}
@media (min-width: 1600px) {
    .comm-card-spot {
        padding-top: 26px;
    }
}
.comm-msg-name {
    margin-top: 9px;
}
.comm-msg-checked {
    margin-top: 17px;
}

.comm-msg-name strong {
    font-family: "AvenirNextLTPro-Bold";
    font-size: 14px;
    color: #3aabd5;
}
.comm-msg-name span {
    margin-left: 30px;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 10px;
    color: #979797;
}
.comm-msg-name p {
    font-family: "AvenirNextLTPro-Medium";
    font-size: 16px;
}
.comm-msg-name .msg-abs {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 14px;
}
.comm-msg-cont {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 14px;
}

.comm-msg-title {
    cursor: pointer;
}

.comm-msg-title .row:hover{
    background-color: #fafafa;
    border-radius: 3px;
}

.comm-msg-tab {
    padding-top: 13px;
    font-size: 18px;
    color: #3aabd5;
    cursor: pointer;
}


.comm-head-wrapper {
    padding: 0px 30px;
}
.comm-head-wrapper input {
    width: 100%;
    border: 0px;
    background: transparent;
    color: #CCC;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-left: 0px;
    font-family: "AvenirNextLTPro-Medium";
    font-size: 17px;
}

.comm-msg-header {
    background-color: #f9f9f9;
}
.comm-new-wrapper {
    background-color: #f9f9f9;
    padding: 30px;
}
.comm-new-wrapper .row {
    margin-right: 0px;
    margin-left: 0px;
}

.comm-new-wrapper .msg-note {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 22px;
}
.comm-new-wrapper .msg-input {
    font-family: "AvenirNextLTPro-Medium";
    font-size: 14px;
    width: 100%;
    height: 350px;
    margin-top: 10px;
    border: 1px solid #d7d7d7;
}

.msg-note span{
    margin-right: 5px;
}
.msg-add {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    color: #3aabd5;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px;
    padding: 9px 20px 10px 20px;
}

.msg-add span{
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.msg-add span:first-child {
    font-size: 22px;
}
.msg-add-spec {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    color: #3aabd5;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px;
    padding: 9px 20px 10px 20px;
}

.msg-add-spec .add-mark {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 22px;
    cursor: pointer;
}

.msg-add-spec .add-note {
    vertical-align: middle;
    cursor: pointer;
}

.msg-add-spec .add-switch {
    margin-top: -1px;
}

.msg-btns {
    margin-top: 20px;
    float: right;
}
.msg-btns .btn {
    margin-left: 20px;
    width: 150px;
    text-align: center;
    height: 45px;
}