@charset "UTF-8";
.dash-wrapper .hdingTopBox p {
  font-size: 16px;
  font-family: "AvenirNextLTPro-Demi"; }

.dash-wrapper .hdingTopBox img {
  width: 25px;
  height: 25px; }

.dash-wrapper .dash-flag-red {
  background-color: #ed5565;
  border-radius: 4px;
  margin-right: 10px;
  width: 13px;
  height: 13px;
  float: left; }

.dash-wrapper .dash-flag-orange {
  background-color: #f8ac59;
  border-radius: 4px;
  margin-right: 10px;
  width: 13px;
  height: 13px;
  float: left; }

.dash-wrapper .dash-flag-green {
  background-color: #79c485;
  border-radius: 4px;
  margin-right: 10px;
  width: 13px;
  height: 13px;
  float: left; }

.dash-wrapper .dash-flag-blue {
  background-color: #3aabd5;
  border-radius: 4px;
  margin-right: 10px;
  width: 13px;
  height: 13px;
  float: left; }

.dash-wrapper .items-today {
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-top: 0px;
  height: auto;
  background-color: #fff; }
  .dash-wrapper .items-today table > thead > tr > th {
    border-bottom: 0px; }
  .dash-wrapper .items-today .td-number {
    width: 100px; }
  .dash-wrapper .items-today td span {
    color: #3aabd5;
    font-size: 12p;
    font-family: "AvenirNextLTPro-Medium"; }

.dash-wrapper .no-border-top {
  border-top: 0px !important; }

.dash-flag-section .flag-title {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 13px;
  text-transform: uppercase; }

.dash-flag-section .flag-item {
  float: left;
  margin-top: 5px;
  margin-right: 20px; }
  .dash-flag-section .flag-item .flag-number {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px;
    margin-right: 5px; }
  .dash-flag-section .flag-item .flag-percent {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 12px; }

.dash-flag-section .flag-item:last-child {
  margin-right: 0px; }

.dash-flag-section .dash-flag-project {
  position: relative; }
  .dash-flag-section .dash-flag-project .flat-item:last-child {
    margin-right: 0px; }
  .dash-flag-section .dash-flag-project .alerts-count {
    font-size: 10px;
    font-family: "AvenirNextLTPro-Medium";
    position: absolute;
    top: 0px;
    right: 10px; }

.dash-white-wrapper {
  padding-left: 15px;
  padding-right: 15px; }

.dash-updates-section {
  font-size: 12px;
  font-family: "AvenirNextLTPro-Regular";
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee; }
  .dash-updates-section .fa {
    font-size: 16px;
    margin-right: 10px; }
  .dash-updates-section .btn-xs {
    outline: none;
    width: 60px; }

.dash-projects .heading {
  padding: 20px 15px;
  border-bottom: 1px solid #eee; }

.dash-projects .accordion-group {
  padding-top: 15px; }

.dash-projects .project-accordion {
  margin-top: 15px; }
  .dash-projects .project-accordion .project-title {
    font-size: 16px;
    font-family: "AvenirNextLTPro-Demi";
    color: #3aabd5; }
    .dash-projects .project-accordion .project-title .fa {
      margin-right: 20px; }
  .dash-projects .project-accordion .project-address {
    font-size: 11px;
    font-family: "AvenirNextLTPro-Demi";
    color: #808080;
    margin-bottom: 15px;
    line-height: 15px; }
  .dash-projects .project-accordion .project-role {
    font-size: 11px;
    font-family: "AvenirNextLTPro-Demi";
    margin-top: 15px; }
  .dash-projects .project-accordion .project-role-title {
    color: #808080; }
  .dash-projects .project-accordion .dash-flag-section {
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 10px; }
  .dash-projects .project-accordion .user-section {
    margin-right: 40px;
    margin-bottom: 10px; }
  .dash-projects .project-accordion .user-photo {
    width: 50px;
    height: 50px;
    margin-right: 10px; }
  .dash-projects .project-accordion .user-title {
    margin-bottom: 5px;
    font-size: 11px;
    font-family: "AvenirNextLTPro-Demi";
    color: #3aabd5; }
  .dash-projects .project-accordion .user-assigned {
    font-size: 9px;
    font-family: "AvenirNextLTPro-Italic";
    color: #808080; }
  .dash-projects .project-accordion .user-assignee {
    font-size: 10px;
    font-family: "AvenirNextLTPro-Medium";
    margin-bottom: 10px;
    width: 250px;
    word-wrap: break-word; }
  .dash-projects .project-accordion .user-status-label {
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 9px; }
  .dash-projects .project-accordion .user-status {
    float: left;
    margin-right: 20px;
    font-family: "AvenirNextLTPro-Bold";
    font-size: 9px;
    text-transform: uppercase; }
  .dash-projects .project-accordion .chart-section {
    position: relative;
    margin-right: 15px; }
  .dash-projects .project-accordion .chart-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .dash-projects .project-accordion .project-est-section {
    display: table;
    margin-top: 3px; }
  .dash-projects .project-accordion .project-sf-title {
    float: left;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 12px;
    width: 170px; }
  .dash-projects .project-accordion .project-sf-value {
    float: right;
    font-family: "AvenirNextLTPro-Bold";
    font-size: 11px;
    margin-right: 30px; }
  .dash-projects .project-accordion .border-top {
    border-top: 1px solid #eee; }
  .dash-projects .project-accordion .border-right {
    border-right: 1px solid #eee; }
  .dash-projects .project-accordion .items-today {
    border: 0px;
    margin-top: 15px; }
    .dash-projects .project-accordion .items-today .table th {
      border-bottom: 0px; }
    .dash-projects .project-accordion .items-today .table td {
      padding: 10px;
      vertical-align: middle; }
    .dash-projects .project-accordion .items-today .table p {
      margin: 0px; }
    .dash-projects .project-accordion .items-today .prj-itm-comp {
      font-size: 10px; }
    .dash-projects .project-accordion .items-today .member-count {
      font-size: 12px;
      font-family: "AvenirNextLTPro-Regular";
      text-align: right; }
    .dash-projects .project-accordion .items-today .td-photo img {
      width: 30px;
      height: 30px;
      margin-right: 10px; }
    .dash-projects .project-accordion .items-today .td-contact img {
      padding: 0px 10px;
      border-right: 1px solid #ddd;
      width: 35px; }
    .dash-projects .project-accordion .items-today .td-contact img:last-child {
      border-right: 0px; }
  .dash-projects .project-accordion .slick-slider {
    padding-left: 10px;
    padding-right: 10px; }

.dash-projects .panel-default > .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  padding: 15px 15px 0px 15px; }

.slick-prev,
.slick-next {
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -30px;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev {
  left: -10px; }

.slick-prev:before {
  content: "" !important; }

.slick-next {
  right: -20px; }

.slick-next:before {
  content: "" !important; }

.slick-prev:before, .slick-next:before {
  font-family: fontawesome !important;
  font-size: 15px !important;
  color: #333 !important; }

.slick-disabled {
  opacity: 0.5; }
