.di-page-wrapper {
  padding-top: 0;
  margin-bottom: 0; }
  .di-page-wrapper .di-page-info {
    background: #fff none repeat scroll 0 0;
    box-shadow: 1px 0 4px #d8d8d8; }
  .di-page-wrapper .closeBox {
    background: #000;
    width: 100px;
    padding: 110px 0;
    text-align: center; }
  .di-page-wrapper .di-page-title {
    margin-top: 80px;
    width: calc(100% - 100px); }
    .di-page-wrapper .di-page-title h2 {
      font-family: AvenirNextLTPro-Regular;
      font-size: 27px;
      margin-top: 0px; }
    .di-page-wrapper .di-page-title input {
      background: transparent;
      border: 0;
      border-bottom: 1px solid #ccc;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0px;
      width: 100%;
      font-size: 17px; }
    .di-page-wrapper .di-page-title .project-info h3 {
      font-family: "AvenirNextLTPro-Demi";
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 20px; }
    .di-page-wrapper .di-page-title .project-info span {
      font-family: "AvenirNextLTPro-Demi";
      font-size: 12px; }
  .di-page-wrapper .di-info {
    color: #4a4a4a; }
    .di-page-wrapper .di-info .row span:first-child, .di-page-wrapper .di-info .row div:first-child {
      text-transform: uppercase;
      font-size: 10px;
      font-family: AvenirNextLTPro-Demi; }
    .di-page-wrapper .di-info .row span:last-child {
      font-family: AvenirNextLTPro-Regular; }
  .di-page-wrapper .content-section {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    margin-top: 30px;
    padding: 20px; }
    .di-page-wrapper .content-section .onoffswitch-label {
      margin-bottom: 0; }
    @media (min-width: 992px) {
      .di-page-wrapper .content-section .payee-invite-switch .col-md-8 {
        line-height: 32px; } }
    .di-page-wrapper .content-section .payee-invite-switch .switch {
      float: right; }
    .di-page-wrapper .content-section .table-responsive {
      border: 1px solid #eee; }
      .di-page-wrapper .content-section .table-responsive table {
        vertical-align: middle;
        font-family: AvenirNextLTPro-Regular; }
        .di-page-wrapper .content-section .table-responsive table tbody tr td {
          vertical-align: middle;
          border-top: 0;
          padding: 0; }
          .di-page-wrapper .content-section .table-responsive table tbody tr td > div {
            padding: 12px; }
        .di-page-wrapper .content-section .table-responsive table tbody tr .add-new-line {
          font-family: AvenirNextLTPro-Demi;
          font-size: 13px; }
          .di-page-wrapper .content-section .table-responsive table tbody tr .add-new-line i {
            margin-right: 5px; }
        .di-page-wrapper .content-section .table-responsive table tbody tr .text-basic {
          font-family: AvenirNextLTPro-Demi; }
        .di-page-wrapper .content-section .table-responsive table tbody tr:first-child td {
          border-top: 1px solid #eee; }
        .di-page-wrapper .content-section .table-responsive table tbody tr:not(:first-child) td > div {
          border-top: 1px solid #eee; }
        .di-page-wrapper .content-section .table-responsive table tbody tr:not(:first-child) td:first-child > div {
          margin-left: 12px;
          padding-left: 0; }
        .di-page-wrapper .content-section .table-responsive table tbody tr:not(:first-child) td:last-child > div {
          margin-right: 12px;
          padding-right: 0; }
        .di-page-wrapper .content-section .table-responsive table thead {
          background-color: #f9f9f9; }
          .di-page-wrapper .content-section .table-responsive table thead tr th {
            font-weight: normal;
            font-family: AvenirNextLTPro-Demi;
            color: #8b8b8b; }
    .di-page-wrapper .content-section .di-file-dropzone {
      min-height: 80px;
      margin-top: 0px !important;
      padding: 0px;
      position: relative; }
      .di-page-wrapper .content-section .di-file-dropzone .dropzone {
        padding: 0;
        min-height: 140px;
        border: 2px dashed #3aabd5; }
        .di-page-wrapper .content-section .di-file-dropzone .dropzone .dz-default.dz-message {
          background-image: url("/assets/img/financials/dropzone.png");
          background-position: left;
          background-size: 45px;
          top: 0;
          left: 0;
          margin-right: 0;
          margin-top: 0;
          margin-left: 10%;
          height: 138px; }
      .di-page-wrapper .content-section .di-file-dropzone .dropzone-title {
        left: calc(50% - 150px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
        @media (max-width: 768px) {
          .di-page-wrapper .content-section .di-file-dropzone .dropzone-title {
            left: 30%; } }
        @media (min-width: 992px) and (max-width: 1372px) {
          .di-page-wrapper .content-section .di-file-dropzone .dropzone-title a {
            display: block; }
          .di-page-wrapper .content-section .di-file-dropzone .dropzone-title {
            left: calc(50% - 50px); } }
    .di-page-wrapper .content-section input {
      padding: 15px;
      background-color: #f9f9f9;
      min-height: 52px; }
      .di-page-wrapper .content-section input:focus, .di-page-wrapper .content-section input:active {
        background-color: #fff;
        border: 1px solid #eee; }
    .di-page-wrapper .content-section .ptm-checkbox {
      padding-top: 7px; }
    .di-page-wrapper .content-section .add-new {
      font-family: AvenirNextLTPro-Demi;
      font-size: 13px;
      line-height: 100px; }
      .di-page-wrapper .content-section .add-new i {
        margin-right: 5px; }
    .di-page-wrapper .content-section textarea {
      border-radius: 3px;
      padding: 15px;
      font-size: 13px;
      resize: none; }
      .di-page-wrapper .content-section textarea:focus, .di-page-wrapper .content-section textarea:active {
        border: 1px solid #eee; }
    .di-page-wrapper .content-section .approved-date h4 {
      margin-top: 32px;
      margin-bottom: 3px; }
