.inline-action-controls ul {
    background: white;
    list-style: none;
}
.inline-action-controls li {
    display: inline-block;
    font-weight: 600;
    border-right: 1px solid #ccc;
}
.inline-action-controls li:last-child {
    border: none;
}
.inline-action-controls li a {
    padding: 10px 40px;
    color: #777;
}
.inline-action-controls li a i {
    padding-right: 10px;
    font-size: 18px;
}

.inline-action-controls li:first-child {
    background: black;
    padding: 10px 20px;
    border: none;
}
.inline-action-controls li:first-child a {
    color: white;
    padding: 0;
}
.modal.comment-modal .modal-dialog{
    width: 1100px;
}

.modal-backdrop.in {
    opacity: 0.8;
}
.comment-modal #info-section {
    color: white;
    line-height: 22px;
    word-wrap: break-word;
    width: 356px;
    padding-left: 20px;
}
.comment-modal #info-section .comment {
    padding: 10px;
    padding-left: 2px;
    border-radius: 4px;
}
.comment-modal #info-section .comment.active {
    background: black;
}
.comment-modal #info-section .comment-body {
    width: 280px;
    padding-left: 10px;
    color: #ccc;
}
.comment-modal #info-section hr{
    width: 100px;
}
.comment-modal #info-section .subhead {
    font-size: 15px;
}
.comment-modal #content-section {
    width: 740px;
    float: left;
    background-color: white;
    border-radius: 4px;
}
.comment-modal .modal-body {
    position: relative;
}
.comment-modal #content-section .badge {
    opacity: .7;
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
}
.comment-modal #content-section .badge.active {
    opacity: 1;
}

.comment-modal .alert {
    float: left;
    width: 700px;
}
.comment-modal .popover {
    max-width: 400px;
}

.documents .divider {
    font-size: 18px;
    border-left: 1px solid #ccc;
}

.dropzone {
    background: none;
    min-height: 200px;
    padding-bottom: 0;
}
.dropzone .dz-default.dz-message {
    background-image: url('/assets/img/documents/upload.png');
    background-position: center;
}

#upload-files-container {
    display: table;
}
#upload-files-container .dz-preview {
    display: table-row;
}
#upload-files-container .dz-preview > div {
    display: table-cell;
    padding: 10px;
    border-top: 1px solid #eee;
    vertical-align: middle;
}
#upload-files-container .dz-preview > div:first-child {
    width: 100px;
}
#upload-files-container .dz-preview .preview {
    background-color: #f3f3f3;
    width: 80px;
    height: 55px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#upload-files-container .dz-preview .preview img {
    max-width: 100%;
}
#upload-files-container .dz-preview > div:last-child {
    width: 150px;
}
#upload-files-container .dz-preview .upload-action {
    position: relative;
}