.payapply-wrapper {
  padding: 20px;
  border: 1px solid #eee;
  border-top: none;
  box-shadow: -2px -2px 10px #eee;
  background-color: white; }

.payapply-head .normal {
  width: 20%;
  float: left;
  padding-right: 10px; }
  .payapply-head .normal h5 {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 12px;
    color: #808080;
    margin-bottom: 5px; }
  .payapply-head .normal span {
    font-family: "AvenirNextLTPro-Medium";
    font-size: 11px;
    color: #808080; }
  .payapply-head .normal p {
    font-family: "AvenirNextLTPro-Medium";
    font-size: 14px;
    color: #4a4a4a; }
  .payapply-head .normal .btns > a {
    width: 200px;
    margin-top: 15px; }

.payapply-table {
  margin-bottom: 25px; }
  .payapply-table table {
    border-left: none;
    border-right: none; }
  .payapply-table table thead,
  .payapply-table table tbody {
    border: 1px solid #eee; }
  .payapply-table table tbody tr td {
    padding: 6px;
    height: 50px; }
  .payapply-table table thead tr th {
    padding: 6px;
    height: 40px; }
  .payapply-table h3 {
    font-family: "AvenirNextLTPro-Medium";
    font-size: 17px;
    color: #4a4a4a;
    margin: 25px 0 15px; }
  .payapply-table table thead th {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px;
    color: #808080;
    border: none; }
  .payapply-table table thead th,
  .payapply-table table tbody td,
  .payapply-table table tfoot td {
    vertical-align: middle;
    border: none; }
  .payapply-table table tbody tr {
    border-top: 1px solid #eee; }
  .payapply-table table tfoot tr {
    border-top: 1px solid #eee;
    border-right: none;
    border-left: none; }
  .payapply-table table tfoot span {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 12px;
    color: #808080; }
  .payapply-table table tfoot p {
    margin-bottom: 5px; }
  .payapply-table th.flag {
    width: 4%; }
  .payapply-table td.flag span {
    margin: 4px; }
  .payapply-table th.title {
    width: 27%; }
  .payapply-table th.sow {
    width: 20%; }
  .payapply-table th.initiator,
  .payapply-table th.due-date,
  .payapply-table th.amount {
    width: 9%; }
  .payapply-table th.responsible,
  .payapply-table th.status {
    width: 10%; }
  .payapply-table td.order-by-date {
    width: 9%;
    font-family: AvenirNextLTPro-Regular;
    font-size: 13px;
    color: #44474b; }
  .payapply-table td.sow {
    width: 20%;
    font-family: AvenirNextLTPro-Demi;
    font-size: 13px;
    color: #808080; }
  .payapply-table td.title a {
    font-family: AvenirNextLTPro-Demi;
    font-size: 13px;
    color: #686868; }
  .payapply-table td.title small {
    font-family: AvenirNextLTPro-Demi;
    font-size: 10px;
    color: #9e9e9e; }
  .payapply-table td.responsible a,
  .payapply-table td.initiator a {
    font-family: AvenirNextLTPro-Demi;
    font-size: 12px;
    color: #3aabd5; }
  .payapply-table td.responsible small,
  .payapply-table td.initiator small {
    font-family: AvenirNextLTPro-Demi;
    font-size: 10px;
    color: #9e9e9e; }
  .payapply-table td.amount {
    width: 9%;
    font-family: AvenirNextLTPro-Regular;
    font-size: 13px;
    color: #44474b; }
  .payapply-table td.status .in-process {
    color: #61c571; }
  .payapply-table td.status .pending {
    color: #fdb04a; }
  .payapply-table td.status .draft {
    color: #2a2d33; }
  .payapply-table td.status .completed {
    color: #3aabd5; }
  .payapply-table td.flag span {
    margin: 4px; }
  .payapply-table td.status .label {
    background-color: transparent;
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 10px;
    padding: 2px 0px 2px 0px; }
  .payapply-table td.status small {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 11px;
    color: #44474b; }
  .payapply-table .search-field {
    width: 30%;
    margin-top: 15px;
    float: right;
    margin-right: 20px; }
  .payapply-table .search-field input {
    font-size: 12px; }
  .payapply-table .btns > a {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 12px;
    margin: 0;
    background-color: white;
    color: #4a4a4a;
    border-radius: 20px;
    padding: 7px;
    width: 100px;
    border: 1px solid #b7b7b7;
    margin-top: 15px; }
  .payapply-table .btns i {
    margin-left: 5px; }
