.inner-page-wrapper .project-overview {
    padding: 0px;
}

.prj-pr-s {
    padding-right: 5px;
}

.prj-pr-m {
    padding-right: 15px;
}

.prj-pr-l {
    padding-right: 25px;
}

.prj-pt-s {
    padding-top: 5px;
}

.prj-mr-s {
    margin-right: 5px;
}
.prj-mt-s {
    margin-top: 8px;
}

.prj-blue-rect {
    padding: 0px 8px;
    background-color: #3aabd5;
    border-radius: 4px;
}

.prj-green-rect {
    padding: 0px 8px;
    background-color: #79c485;
    border-radius: 4px;
}

.prj-piechart-center-title {
    position: absolute;
    top: 53px;
    left: 50px;
}

.prj-btn-sm {
    min-width: 80px;
}

.prj-re-col {
    padding-right: 6px;
}

.prj-comm {
    float: right;
}
.prj-comm a i {
    color: #808080;
}
.prj-comm span {
    display: inline-block;
    padding-right: 10px;
}
.prj-comm .border-right {
    margin-right: 10px;
}

.prj-table-wrapper {
    padding: 0px 20px;
}