.inner-page-wrapper .project-overview {
    padding: 0px;
}

.prj-pr-s {
    padding-right: 5px;
}

.prj-pr-m {
    padding-right: 15px;
}

.prj-pr-l {
    padding-right: 25px;
}

.prj-pt-s {
    padding-top: 5px;
}

.prj-mr-s {
    margin-right: 5px;
}
.prj-mt-s {
    margin-top: 8px;
}

.prj-blue-rect {
    padding: 0px 7px;
    background-color: #3aabd5;
    border-radius: 4px;
}

.prj-green-rect {
    padding: 0px 7px;
    background-color: #79c485;
    border-radius: 4px;
}

.prj-piechart-center-title {
    position: absolute;
    top: 100px;
    left: 52px;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 13px;
}
.prj-piechart-center-team {
    position: absolute;
    top: 200px;
    left: 51px;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 13px;
}
.prj-btn-sm {
    min-width: 80px;
}

.prj-re-col {
    padding-right: 6px;
}

.prj-comm {
    float: right;
}
.prj-comm a i {
    color: #808080;
}
.prj-comm span {
    display: inline-block;
    padding-right: 10px;
}
.prj-comm .border-right {
    margin-right: 10px;
}

.prj-table-wrapper {
    padding: 0px 20px;
}

.prj-sch-photo {
    width: 55px;
    height: 55px;
    margin-right: 15px;
}

.prj-team-photo {
    width: 38px;
    height: 38px;
}

.items-today {
    border: 1px solid #ececec;
    border-radius: 5px;
    height: 500px;
    margin-top: 26px;
}
.items-today td a {
    color: #fff;
    background: #2a2d33;
    border-radius: 5px;
    font-weight: normal;
    padding: 3px 8px;
    white-space: nowrap;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 10px;
}
.items-today td p {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 13px;
}
.items-today h2 {
    margin: 0;
    padding: 6px;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 14px;
}
.items-today .table td {
    padding: 20px 10px 9px;
}
.items-today .table td span {
    color: #3aabd5;
}
.items-today .table td .strock {
    text-decoration: line-through;
    position: relative;
    opacity: 0.4;
}

.prj-hd-itm {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.prj-itm-title {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 12px;
    color: #4a4a4a;
}
.prj-itm-cont {
    font-family: "AvenirNextLTPro-Bold";
    font-size: 12px;
    margin-bottom: 0px;
}
.prj-assign {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 12px;
    font-style: italic;
    color: #808080;
}
.prj-assigner {
    font-family: "AvenirNextLTPro-Medium";
}
.prj-flg-sm {
    width: 14px;
}

.prj-sch-cont {
    float: left;
    margin-right: 10px;
    width: 105px;
}

.prj-sch-prog {
    padding-top: 4px;
}
.prj-sch-prog .progress-small {
    width: 20%;
}

@media screen and (max-width: 480px) {
    .prj-sch-prog .progress-small {
        width: 100%;
    }
}

.prj-white-wrapper {
    padding: 12px 15px;
}

.prj-flg-pie {
    margin-right: 30px;
}

.prj-flg-itm {
    width: 65px;
}

.prj-flg-itm .strong-demi {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px;
    color: black;
}

.prj-flg-itm .regular {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 13px;
}

.prj-flg-tol {
    margin-bottom: 5px;
    font-family: "AvenirNextLTPro-Medium";
    font-size: 12px;
}

.section-border {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.prj-mbm-info {
    margin-top: 10px;
}
.prj-mbm-info p {
    padding-left: 22px;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 12px;
}

@media screen and (min-width: 1600px) {
    .prj-mbm-info {
        margin-left: 20px;
    }
}

.prj-itm-comp {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 11.5px;
}

.prj-contact-name {
    font-family: "AvenirNextLTPro-Medium";
    font-size: 13px;
    color: #3aabd5;
    cursor: pointer;
}
.prj-contact-job {
    font-family: "AvenirNextLTPro-Medium";
    font-size: 13px;
}
.overview-photo .gallery img {
    height: 100px;
    width: 100%;
}

.no-r-pad {
    padding-right: 0px !important;
}
.no-l-pad {
    padding-left: 0px !important;
}