.pon-page-wrapper {
  padding-top: 0;
  margin-bottom: 0; }
  .pon-page-wrapper label {
    color: #4a4a4a; }
  .pon-page-wrapper .pon-page-info {
    background: #fff none repeat scroll 0 0;
    box-shadow: 1px 0 4px #d8d8d8; }
  .pon-page-wrapper .closeBox {
    background: #000;
    width: 100px;
    padding: 110px 0;
    text-align: center; }
  .pon-page-wrapper .pon-page-title {
    margin-top: 60px;
    width: calc(100% - 100px); }
    .pon-page-wrapper .pon-page-title h2 {
      font-family: AvenirNextLTPro-Regular;
      font-size: 27px;
      margin-top: 0px; }
    .pon-page-wrapper .pon-page-title input {
      background: transparent;
      border: 0;
      border-bottom: 1px solid #ccc;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0px;
      width: 100%;
      font-size: 17px; }
    .pon-page-wrapper .pon-page-title .project-info h3 {
      font-family: "AvenirNextLTPro-Demi";
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 20px; }
    .pon-page-wrapper .pon-page-title .project-info span {
      font-family: "AvenirNextLTPro-Demi";
      font-size: 12px; }
  .pon-page-wrapper .po-info {
    color: #4a4a4a; }
    .pon-page-wrapper .po-info .row span:first-child, .pon-page-wrapper .po-info .row div:first-child {
      text-transform: uppercase;
      font-size: 10px;
      font-family: AvenirNextLTPro-Demi; }
    .pon-page-wrapper .po-info .row span:last-child {
      font-family: AvenirNextLTPro-Regular; }
    .pon-page-wrapper .po-info label {
      color: #fff; }
  .pon-page-wrapper .first-section {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 30px;
    padding: 20px; }
    .pon-page-wrapper .first-section .date-field-wrapper {
      border: 1px solid #eee; }
    .pon-page-wrapper .first-section textarea {
      background-color: #f9f9f9; }
      .pon-page-wrapper .first-section textarea:hover {
        border: 1px solid #eee; }
      .pon-page-wrapper .first-section textarea:focus, .pon-page-wrapper .first-section textarea:active {
        background-color: #fff;
        border: 1px solid #eee; }
  .pon-page-wrapper .section {
    padding: 20px;
    border: 1px solid #eee; }
  .pon-page-wrapper h5 {
    margin: 20px 0;
    font-size: 13px; }
    .pon-page-wrapper h5:first-child {
      margin-top: 0; }
  .pon-page-wrapper input {
    height: 51px;
    padding: 15px;
    background-color: #f9f9f9; }
    .pon-page-wrapper input:focus {
      background-color: #fff;
      border-color: #d7d7d7; }
  .pon-page-wrapper .textable {
    line-height: 30px;
    margin-top: 30px; }
  .pon-page-wrapper h3 {
    font-family: AvenirNextLTPro-Medium;
    font-size: 17px;
    color: #4a4a4a;
    margin: 30px 0 20px; }
  .pon-page-wrapper .second-section {
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 3px; }
    .pon-page-wrapper .second-section .paragraph {
      padding: 20px; }
      .pon-page-wrapper .second-section .paragraph:not(:last-child) {
        border-bottom: 1px solid #eee; }
      .pon-page-wrapper .second-section .paragraph h5 {
        color: #4a4a4a;
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 5px; }
      .pon-page-wrapper .second-section .paragraph span.value {
        font-family: AvenirNextLTPro-Regular;
        font-size: 14px;
        color: #4a4a4a; }
      .pon-page-wrapper .second-section .paragraph .section {
        padding-bottom: 0; }
