.heading {
  font-size: 16px;
  line-height: 30px; }

table.no-border > th, table.no-border td {
  border: none !important; }

#schedule-stats td {
  padding: 5px; }

#today-tasks .project {
  border: none; }

.popover {
  max-width: 450px;
  font-family: AvenirNextLTPro-Medium;
  border-radius: 2px;
  box-shadow: 0 1px 16px 5px rgba(0, 0, 0, 0.2);
  border: none; }
  .popover ul > li > a {
    font-size: 16px;
    margin: 0; }
  .popover hr {
    border-color: #dedede;
    margin-top: 20px;
    margin-bottom: 20px; }

#calendar .date-navigator {
  width: 25px;
  height: 25px;
  text-align: center;
  background: #f1f1f1;
  border-radius: 50%;
  line-height: 25px;
  display: block; }
  #calendar .date-navigator:hover {
    color: #3aabd5; }

#calendar .sub-title {
  font-size: 14px; }

#calendar .calendar-container > div {
  border: 1px solid #dedede;
  border-bottom: none; }

#calendar .calendar-container .heading {
  padding: 10px; }

#calendar .calendar-container .alert {
  position: relative;
  text-align: left;
  color: #4a4a4a;
  margin: 0;
  padding: 10px 5px; }
  #calendar .calendar-container .alert > div {
    float: left; }
  #calendar .calendar-container .alert .content {
    width: calc(100% - 60px); }
    #calendar .calendar-container .alert .content div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  #calendar .calendar-container .alert .flag-badge {
    margin-right: 10px;
    border: 1px solid white;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: white;
    border-radius: 2px; }
    #calendar .calendar-container .alert .flag-badge i.fa-flag {
      transform: rotate(-30deg); }
  #calendar .calendar-container .alert i:last-child {
    font-size: 18px; }

#calendar .calendar-container .alert-primary {
  background-color: #c4e6f2; }

#calendar .calendar-container .alert-success {
  background-color: #e4f3e6; }

#calendar .calendar-container .alert-info {
  background-color: #e4f3e6; }

#calendar .calendar-container .alert-warning {
  background-color: #feecd5; }

#calendar .calendar-container .alert-danger {
  background-color: #f6cece; }

#calendar .calendar-container .week-container {
  margin-bottom: 40px; }
  #calendar .calendar-container .week-container > table {
    table-layout: fixed;
    border-bottom: 1px solid #f1f1f1; }
    #calendar .calendar-container .week-container > table th {
      background: #f9f9f9;
      padding: 7px 10px;
      vertical-align: middle; }
    #calendar .calendar-container .week-container > table td {
      width: 14%;
      padding: 5px !important;
      border: 1px solid #f1f1f1; }
      #calendar .calendar-container .week-container > table td.no-schedule {
        background: url("/assets/img/bg_pattern_1.png"); }
    #calendar .calendar-container .week-container > table .day-header {
      padding: 7px 30px;
      border-radius: 4px; }

.schedule-detail .title {
  font-size: 17px;
  line-height: 30px;
  margin-top: 5px; }

.schedule-detail .heading {
  font-size: 16px;
  line-height: 30px;
  color: #a1a3a5; }

.schedule-detail .sub-title {
  font-size: 14px; }

.schedule-detail .top {
  background: white; }
  .schedule-detail .top .closeBox {
    background: #000;
    width: 100px;
    padding: 110px 0;
    text-align: center;
    float: left; }
  .schedule-detail .top .detail {
    padding: 30px 20px;
    width: calc(100% - 100px);
    float: left; }
    .schedule-detail .top .detail .circle {
      float: left;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      padding-top: 26px;
      text-align: center;
      border: 1px solid #ccc;
      font-size: 18px;
      font-family: AvenirNextLTPro-Regular; }
      .schedule-detail .top .detail .circle.circle-primary {
        box-shadow: 0 0 0px 6px #e6f4fa;
        border-color: #3aabd5;
        color: #3aabd5; }
      .schedule-detail .top .detail .circle.circle-warning {
        box-shadow: 0 0 0px 6px #fff5e7;
        border-color: #fdb04a;
        color: #fdb04a; }
    .schedule-detail .top .detail div[ui-arc-chart] svg tspan {
      font-weight: normal !important; }

.schedule-detail #schedule-overview table td {
  padding: 5px !important; }

.schedule-detail #schedule-notes textarea {
  background: #f5f5f5;
  padding: 10px 20px; }

rzslider {
  margin-top: 24px; }
  rzslider .rz-current-pointer {
    width: 20px;
    height: 20px;
    top: -10px;
    border-radius: 50%;
    color: transparent;
    background: #44474b;
    box-shadow: 0 0 0px 6px #c7c7c9;
    left: 50% !important;
    z-index: 3; }
    rzslider .rz-current-pointer.rz-pointer.rz-active:after {
      background: #f1f1f1; }
    rzslider .rz-current-pointer:after {
      top: 2px;
      left: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%; }
  rzslider .rz-pointer {
    width: 20px;
    height: 20px;
    top: -10px;
    border-radius: 50%;
    box-shadow: 0 0 0px 6px #fee7c8;
    background: #fdb04a;
    /* css styles for first and last pointer(added) */ }
    rzslider .rz-pointer.rz-pointer.rz-active:after {
      background: #f1f1f1; }
    rzslider .rz-pointer:after {
      top: 2px;
      left: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%; }
    rzslider .rz-pointer.first, rzslider .rz-pointer.last {
      color: transparent;
      background: #61c571;
      box-shadow: 0 0 0px 6px #ccecd1; }
  rzslider .rz-bar-wrapper {
    margin-top: -18px; }
    rzslider .rz-bar-wrapper .rz-bar {
      height: 6px; }
  rzslider .rz-bubble {
    display: none; }
  rzslider .rz-bar.rz-selection {
    background: #f1f1f1; }
