table.no-border > th, table.no-border td {
  border: none !important; }

#schedule-stats td {
  padding: 5px; }

#calendar .date-navigator {
  width: 25px;
  height: 25px;
  text-align: center;
  background: #f1f1f1;
  border-radius: 50%;
  line-height: 25px;
  display: block; }
  #calendar .date-navigator:hover {
    color: #3aabd5; }

#calendar .sub-title {
  font-size: 14px; }

#calendar .calendar-container > div {
  border: 1px solid #dedede;
  border-bottom: none; }

#calendar .calendar-container .heading {
  padding: 10px; }

#calendar .calendar-container .week-container {
  margin-bottom: 40px; }
  #calendar .calendar-container .week-container > table {
    border-bottom: 1px solid #f1f1f1; }
    #calendar .calendar-container .week-container > table th {
      background: #f9f9f9; }
    #calendar .calendar-container .week-container > table td {
      padding: 5px !important; }
      #calendar .calendar-container .week-container > table td .alert {
        color: #4a4a4a;
        margin: 0; }
        #calendar .calendar-container .week-container > table td .alert i:first-child {
          border: 1px solid white;
          display: inline-block;
          width: 22px;
          height: 22px;
          line-height: 22px;
          text-align: center;
          background: white;
          border-radius: 2px; }
        #calendar .calendar-container .week-container > table td .alert i:last-child {
          font-size: 18px; }
      #calendar .calendar-container .week-container > table td .alert-primary {
        background-color: #c4e6f2; }
      #calendar .calendar-container .week-container > table td .alert-success {
        background-color: #e4f3e6; }
      #calendar .calendar-container .week-container > table td .alert-info {
        background-color: #e4f3e6; }
      #calendar .calendar-container .week-container > table td .alert-warning {
        background-color: #feecd5; }
      #calendar .calendar-container .week-container > table td .alert-danger {
        background-color: #f6cece; }
    #calendar .calendar-container .week-container > table .day-header {
      padding: 7px 30px;
      border-radius: 4px; }
