.per > div {
    position: relative !important;
}

.page-heading h2 {
    font-weight: 600;
}

.panel.blank-panel .panel-heading {
    padding: 10px 0px;
}

.bg-gray {
    background-color: #eee;
}

svg tspan {
    font-weight: 700;
}