@import 'checkbox.css';
@import 'tree.css';
@import 'date-field.css';

body {
    font-family: "AvenirNextLTPro-Demi";
}

.per > div {
    position: relative !important;
}

.page-heading h2 {
    font-weight: 600;
}

.panel.blank-panel .panel-heading {
    padding: 10px 0px;
}

.bg-gray {
    background-color: #eee;
}

svg tspan {
    font-weight: 700;
}

.per .get {
    margin-top: 10px;
}

.no-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.modal-dialog button.close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    opacity: 1;
    line-height: 0;
    margin-top: 12px;
}
.modal-dialog .modal-header {
    margin-top: -70px;
    padding: 0;
    margin-bottom: 20px;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,100px);
    -ms-transform: translate(0,100px);
    -o-transform: translate(0,100px);
    transform: translate(0,100px);
}

div.custom-tooltip {
    display: block;
}

li.active .custom-tooltip {
    display: none !important;
}

/*************************************************
*                  Wrapper                       *
*************************************************/
.card-wrapper {
    padding: 20px;
    border: 1px solid #d7d7d7;
    box-shadow: -2px -2px 10px #d7d7d7;
    border-radius: 3px;
    margin-bottom: 30px;
}


/*************************************************
*                  Buttons                       *
*************************************************/
.btn {
    font-family: AvenirNextLTPro-Demi;
    color: #fff;
    border: 0;
}

.btn:disabled, .btn.disabled {
    opacity: 0.5;
}

.btn.dropdown-toggle {
    background: white;
    border: 1px solid #eee;
    color: #3aabd5;
    margin-bottom: 0;
}

.btn.btn-primary {
    background-color: #3aabd5;
    color: #fff;
    border: 0;
}

.btn.btn-success {
    background-color: #79c485;
    color: #fff;
    border: 0;
}

.btn.btn-warning {
    background-color: #f8ac59;
    color: #fff;
    border: 0;
}

.btn.btn-danger {
    background-color: #ed5565;
    color: #fff;
    border: 0;
}

.btn.btn-info {
    background-color: #2a2d33;
    color: #fff;
    border: 0;
}

.btn.btn-default {
    border: 0;
}

.btn.btn-cancel, .btn.btn-transparent {
    background-color: transparent;
    color: #8b8b8b;
    border: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #42c4f4;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #88d394;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-color: #f6b875;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #50535b;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #e36a77;
}
.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active, .btn-cancel.active, .open .dropdown-toggle.btn-cancel {
    background-color: #2a2d33;
    color: #fff;
    border: none;
}
.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active {
    color: #4a4a4a;
    border: none;
}
.btn-default:hover, .btn-hover:focus, .btn-hover:active, .btn-hover.active, .open .dropdown-toggle.btn-hover {
    border: none;
}

.btn-sm {
    font-size: 10px;
    padding: 10px;
}

.btn-md {
    font-size: 13px;
    padding: 10px  15px;
}

.btn-lg {
    font-size: 14px;
    padding:  15px 25px;
}
.btn-round {
    border-radius: 20px;
}
.alert {
    text-align: center;
    border: none;
}
.alert-primary {
    background-color: #3aabd5;
    color: white;
}

.alert-success {
    background-color: #79c485;
    color: white;
}

.alert-danger {
    background-color: #e25c5c;
    color: white;
}

.alert-warning {
    background-color: #fdb04a;
    color: white;
}

.alert-info {
    background-color: #2a2d33;
    color: white;
}

.text-default {
    color: #4a4a4a;
}

.text-muted {
    color: #8b8b8b;
}

.text-gray {
    color: #808080;
}

.text-gray-lighter {
    color: #9e9e9e;
}
.text-dark {
    color: black;
}
.text-primary {
    color: #3aabd5;
}

.text-success {
    color: #79c485;
}

.text-danger {
    color: #e25c5c;
}

.text-warning {
    color: #fdb04a;
}

.text-info {
    color: #2a2d33;
}


textarea {
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
}

input[type=text], input[type=email], input[type=number],
input[type=url], input[type=password] {
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
}

/*************************************************
*                  Label & Badge                 *
*************************************************/
.label-primary,
.badge-primary {
    background-color: #3aabd5;
    color: #fff;
}
.label-success,
.badge-success {
    background-color: #79c485;
    color: #fff;
}
.label-warning,
.badge-warning {
    background-color: #f6b875;
    color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
    background-color: #f8ac59;
    color: #ffffff;
}
.label-danger,
.badge-danger {
    background-color: #ed5565;
    color: #FFFFFF;
}
.label-info,
.badge-info {
    background-color: #2a2d33;
    color: #FFFFFF;
}
.label-default {
    background: #f5f5f5;
    color: #4a4a4a;
}

.chevron-down-menu::before{
    font-family: FontAwesome;
    font-size: 20px;
    color: #fff;
    content: "\f0de";
    position: absolute;
    right: 20px;
    top: -11px;
}
.chevron-down-menu.dropdown-menu-left::before{
    left: 20px;
}
.chevron-down-menu {
    min-width: 210px;
    margin-top: 6px;
    padding: 0;
    border: 1px solid rgba(221,221,221,0.1);
    box-shadow: 0px 0px 25px 0 #ccc;
}
.chevron-down-menu > li:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
}
.chevron-down-menu > li > a {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px;
    color: #3aabd5;
    padding: 13px 15px;
}

.pl0 {padding-left: 0 !important;}
.pl10 {padding-left: 10px !important;}
.pl15 {padding-left: 15px !important;}
.pl20 {padding-left: 20px !important;}
.pl40 {padding-left: 40px !important;}

.pr10 {padding-right: 10px !important;}
.pr15 {padding-right: 15px !important;}
.pr20 {padding-right: 20px !important;}
.pr30 {padding-right: 30px !important;}

.p5 {padding: 5px !important;}
.p10 {padding: 10px !important;}
.p15 {padding: 15px !important;}
.p20 {padding: 20px !important;}

.pt0 {padding-top: 0px !important;}
.pt5 {padding-top: 5px !important;}
.pt10 {padding-top: 10px !important;}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important;}

.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}

.mr5 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr25 {margin-right: 25px !important;}

.ml5 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}
.ml25 {margin-left: 25px !important;}

.pb10 {padding-bottom: 10px !important;}

ui-select .btn.dropdown-toggle {
    background-color: white;
    border: 1px solid #eee;
    padding: 15px;
    font-size: 14px;
}

ui-select .dropdown-toggle, ui-select ul {
    width: 100%;
}

ui-select .dropdown-menu {
    padding: 0;
    border-radius: 1px;
    min-width: 200px;
}
.dropdown-menu>li>a {
    padding: 15px;
    color: #3aabd5;
}

textarea.form-control {
    padding: 0 5px;
}

.search-field i {
    position: absolute;
    padding: 10px;
    color: #8b8b8b;
}
.search-field .form-control {
    background-color: #f9f9f9;
    padding-left: 30px;
    color: #4a4a4a;
}
input {
    font-family: "AvenirNextLTPro-Regular";
}
.btn.round {
    border-radius: 15px;
}

input.round {
    border-radius: 20px;
}
.font-regular {
    font-family: "AvenirNextLTPro-Regular";
    font-weight: normal;
}
.font-semibold {
    font-family: "AvenirNextLTPro-Demi";
}
.font-medium {
    font-family: "AvenirNextLTPro-Medium";
}
.font-bold {
    font-family: "AvenirNextLTPro-Bold";
}
.inline-block {
    display: inline-block;
}
.invisible {
    visibility: hidden;
}
.table > tbody > tr > td.has-input {
    padding: 5px;
}
.table > tbody > tr > td.has-input input {
    padding: 5px;
    border: none;
    font-family: "AvenirNextLTPro-Demi" !important;
    min-width: 80px;
}
.table.table-bordered > tbody > tr > td,
.table.table-bordered > thead > tr > th {
    border-left: none;
    border-right: none;
}
.no-avatar {
    width: 40px; height: 40px; background: #f1f1f1; border-radius: 50%; text-align: center; color: #888; line-height: 40px;
}
.panel {
    border-radius: 0;
}
:focus {
    outline: none;
}

/* TOOGLE SWICH */
.onoffswitch {
    position: relative;
    width: 65px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    /*border: 2px solid #79c485;*/
    border-radius: 2px;
}
.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
    font-family: AvenirNextLTPro-Bold;
    padding-top: 7px;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 8px;
    background-color: #79c485;
    color: #FFFFFF;
    height: 33px;

}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 8px;
    background-color: #cecece;
    color: #fff;
    text-align: right;
    height: 33px;
}
.onoffswitch-switch {
    width: 34px;
    margin: 0px;
    background: #FFFFFF;
    border: 2px solid #cecece;
    border-radius: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 31px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch .change-border{
    border: 2px solid #79c485;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.input-lg {
    height: 50px;
}

rzslider .rz-pointer {
    top: -12px;
    width: 24px;
    height: 24px;
}
rzslider .rz-pointer.rz-active:after {
    background: #f1f1f1;
}
rzslider .rz-pointer:after {
    top: 8px;
    left: 8px;
}
