<div class="modal-header clearfix">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
</div>
<div class="modal-body mt20">
    <h2 class="font-regular border-bottom">Add Process</h2>
    <div class="row form-group">
        <div class="col-sm-4">
            <label for="">Title of Process</label>
            <input type="text" class="input-lg form-control label-default">
        </div>
        <div class="col-sm-8 pl0">
            <label for="">Description</label>
            <input type="text" class="input-lg form-control label-default">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-4">
            <label for="">Responsible</label>
            <ui-select ng-select="changeOption()" selected-item="selectedItem" options="availableUsers"></ui-select>            
        </div>
        <div class="col-sm-4 pl0">
            <label for="">Date Range</label>
            <input type="text" class="input-lg form-control label-default">
        </div>
        <div class="col-sm-4 pl0">
            <label for="">&nbsp;</label>
            <input type="text" class="input-lg form-control label-default">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-cancel" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-lg btn-success" ng-click="$close()">Save</button>
</div>