<div id="schedule-summary">
    <div class="clearfix">
        <div class="pull-left title">Schedule Overview</div>
        <div class="pull-right">
            <a class="btn text-primary"><u>History of Schedule</u></a>
            <a class="btn btn-primary btn-md">
                <i class="fa fa-pencil pr5"></i>
                Edit Details
            </a>
        </div>
    </div>
    <div class="panel panel-default mt20" id="schedule-overview">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 border-right">
                    <table class="table no-border">
                        <tr>
                            <td>ORIGINAL DURATION</td>
                            <td class="text-muted sub-title font-medium">476 Days</td>
                        </tr>
                        <tr>
                            <td>VARIANCE</td>
                            <td class="text-danger sub-title font-medium">17 Days</td>
                        </tr>
                        <tr>
                            <td>ACTUAL DURATION</td>
                            <td class="text-muted sub-title font-medium">459 Days</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-3 border-right">
                    <div class="p10">
                        <a class="heading">
                            <span class="text-success">PROGRESS</span>
                            <i class="fa fa-angle-down text-success"></i>
                        </a>
                        <div class="text-muted heading font-medium">Measure and Mark the Wall</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="p10">
                        Completion <i class="fa fa-pencil pl20 text-primary"></i>
                        <input type="text" class="input-sm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>