<div id="schedule-summary">
    <div class="clearfix">
        <div class="pull-left title">Schedule Overview</div>
        <div class="pull-right">
            <a class="btn text-primary" ng-click="showHistory()"><u>History of Schedule</u></a>
            <a class="btn btn-primary btn-md">
                <i class="fa fa-pencil pr5"></i>
                Edit Details
            </a>
        </div>
    </div>
    <div class="panel panel-default mt20" id="schedule-overview">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 border-right">
                    <table class="table no-border">
                        <tr>
                            <td>ORIGINAL DURATION</td>
                            <td class="text-muted sub-title font-medium">12 Days</td>
                        </tr>
                        <tr>
                            <td>VARIANCE</td>
                            <td class="text-success sub-title font-medium">3 Days</td>
                        </tr>
                        <tr>
                            <td>ACTUAL DURATION</td>
                            <td class="text-muted sub-title font-medium">9 Days</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-3 border-right">
                    <div class="p10">
                        <div class="btn-group" uib-dropdown>
                            <a class="btn btn-transparent" uib-dropdown-toggle>
                              <span class="text-success">IN PROGRESS </span><span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="uib-dropdown-menu" role="menu" style="min-width: 100px">
                                <li role="menuitem"><a ng-click="">Awating Start</a></li>
                                <li role="menuitem"><a ng-click="">In Progress</a></li>
                                <li role="menuitem"><a ng-click="">Work Suspended</a></li>
                                <li role="menuitem"><a ng-click="">Completed</a></li>
                            </ul>
                        </div>
                        <div class="text-muted heading font-medium pl10">
                            <img src="assets/img/flag_green.png" alt="">
                            Roof Dry-In
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="p10">
                        <div>Completion <i class="fa fa-pencil pl20 text-primary"></i></div>
                        <input type="text" disabled class="input-sm" value="60%">
                    </div>
                </div>
            </div>
            <hr>

            <div class="mt20 p20 mb20" id="schedule-slider-wrapper">
                <table class="table no-border">
                    <tr>
                        <td width="{{slider.min}}%">
                            Aug 7<br>2015
                        </td>
                        <td width="{{slider.max-slider.min}}%">
                            <span class="pull-left">Aug 8<br>2015</span>
                            <span class="pull-right text-right">Aug 20<br>2015</span>
                        </td>
                        <td class="text-right">
                            Aug 24<br>2015
                        </td>
                    </tr>
                </table>
                <div class="current-date" style="left: 50%;">Aug 17<br>2015</div>
                <div class="current-date-status" style="left: 50%;">
                    Current Date
                    <div class="text-danger">3 days left</div>
                </div>
                <rzslider
                    class="schedule-slider"
                    rz-slider-tpl-url="partials/schedules/details/schedule-overview-slider.html"
                    rz-slider-model="slider.min"
                    rz-slider-high="slider.max"
                    rz-slider-options="slider.options"></rzslider>
                <table class="table no-border">
                    <tr>
                        <td width="{{slider.min}}%">
                            Original<br>Start Date
                        </td>
                        <td width="{{slider.max-slider.min}}%">
                            <div class="pull-left">
                                Actual Start
                                <div class="text-danger">1 day late</div>
                            </div>
                            <div class="pull-right text-right">Estimated<br>4 days early</div>
                        </td>
                        <td class="text-right">
                            Original<br>Completion
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="schedule-notes">
        <div class="title">Add Notes</div>
        <textarea rows="5" class="mt10 label-default form-control" placeholder="Provide any additional information here"></textarea>
    </div>

    <div id="processor-list" class="mt20">
        <div class="clearfix">
            <div class="pull-left title">Process List</div>
            <div class="pull-right">
                <a class="btn btn-success btn-md" ng-click="addProcess()">
                    <i class="fa fa-plus pr5"></i>
                    Add
                </a>
            </div>
        </div>
        <table class="table table-bordered text-muted mt10">
            <thead >
                <tr>
                    <th>Process</th>
                    <th>Description</th>
                    <th>Responsible</th>
                    <th>Date Range</th>
                    <th>Complete</th>
                    <th></th>
                </tr>    
            </thead>
            <tbody>
                <tr ng-repeat="item in processes">
                    <td>{{item.title}}</td>
                    <td>
                        <small>{{item.description}}</small>
                    </td>
                    <td>
                        <div class="text-primary">{{item.responsible.name}}</div>
                        <small>{{item.responsible.project}}</small>
                    </td>
                    <td>
                        {{item.start_date}}<br>
                        /{{item.end_date}}
                    </td>
                    <td>
                        <div class="checkbox checkbox-inline">
                            <input type="checkbox" ng-model="item.completed">
                            <label>&nbsp;</label>
                        </div>
                    </td>
                    <td width="60px">
                        <div class="btn-group" uib-dropdown>
                            <a class="heading" uib-dropdown-toggle>
                                <i class="fa fa-cog"></i><i class="pl5 fa fa-angle-down"></i>
                            </a>

                            <ul class="uib-dropdown-menu dropdown-menu-right chevron-down-menu" role="menu" style="min-width: 100px">
                                <li role="menuitem"><a ng-click="">Yes</a></li>
                                <li role="menuitem"><a ng-click="">No</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="prodecessor-list" class="mt20">
        <div class="clearfix">
            <div class="pull-left title">Prodecessors List</div>
            <div class="pull-right">
                <a class="btn btn-success btn-md" ng-click="addPredecessor()">
                    <i class="fa fa-plus pr5"></i>
                    Add
                </a>
            </div>
        </div>
        <table class="table table-bordered text-muted mt10">
            <thead >
                <tr>
                    <th>
                        <span class="label label-info">5.1.1</span>
                        Phase
                    </th>
                    <th>Sub-Phase</th>
                    <th>Scope of Work</th>
                    <th>Team Member</th>
                    <th>Status</th>
                    <th>Lag</th>
                    <th></th>
                </tr>    
            </thead>
            <tbody>
                <tr ng-repeat="item in prodecessors">
                    <td>{{item.phase}}</td>
                    <td>
                        <small>{{item.sub_phase}}</small>
                    </td>
                    <td>
                        <small>{{item.scope_of_work}}</small>
                    </td>
                    <td>
                        <div class="text-primary">{{item.team_member.name}}</div>
                        <small>{{item.team_member.company}}</small>
                    </td>
                    <td>
                        <div class="checkbox checkbox-inline">
                            <div class="text-success">{{item.status}}</div>
                            <!-- <small>24% Completed</small> -->
                        </div>
                    </td>
                    <td width="100px">{{item.lag}}</td>
                    <td width="60px">
                        <div class="btn-group" uib-dropdown>
                            <a class="heading" uib-dropdown-toggle>
                                <i class="fa fa-cog"></i><i class="pl5 fa fa-angle-down"></i>
                            </a>

                            <ul class="uib-dropdown-menu dropdown-menu-right chevron-down-menu" role="menu" style="min-width: 100px">
                                <li role="menuitem"><a ng-click="">Yes</a></li>
                                <li role="menuitem"><a ng-click="">No</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="successor-list" class="mt20">
        <div class="clearfix">
            <div class="pull-left title">Successors List</div>
            <div class="pull-right">
                <a class="btn btn-success btn-md" ng-click="addSuccessor()">
                    <i class="fa fa-plus pr5"></i>
                    Add
                </a>
            </div>
        </div>
        <table class="table table-bordered text-muted mt10">
            <thead >
                <tr>
                    <th>
                        <span class="label label-info">5.1.1</span>
                        Phase
                    </th>
                    <th>Sub-Phase</th>
                    <th>Scope of Work</th>
                    <th>Team Member</th>
                    <th>Lag</th>
                    <th></th>
                </tr>    
            </thead>
            <tbody>
                <tr ng-repeat="item in successors">
                    <td>{{item.phase}}</td>
                    <td>
                        <small>{{item.sub_phase}}</small>
                    </td>
                    <td>
                        <small>{{item.scope_of_work}}</small>
                    </td>
                    <td>
                        <div class="text-primary">{{item.team_member.name}}</div>
                        <small>{{item.team_member.company}}</small>
                    </td>
                    <td width="100px">{{item.lag}}</td>
                    <td width="60px">
                        <div class="btn-group" uib-dropdown>
                            <a class="heading" uib-dropdown-toggle>
                                <i class="fa fa-cog"></i><i class="pl5 fa fa-angle-down"></i>
                            </a>

                            <ul class="uib-dropdown-menu dropdown-menu-right chevron-down-menu" role="menu" style="min-width: 100px">
                                <li role="menuitem"><a ng-click="">Yes</a></li>
                                <li role="menuitem"><a ng-click="">No</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>