<div id="schedule-summary">
    <div class="clearfix">
        <div class="pull-left title">Schedule Overview</div>
        <div class="pull-right">
            <a class="btn text-primary"><u>History of Schedule</u></a>
            <a class="btn btn-primary btn-md">
                <i class="fa fa-pencil pr5"></i>
                Edit Details
            </a>
        </div>
    </div>
    <div class="panel panel-default mt20" id="schedule-overview">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 border-right">
                    <table class="table no-border">
                        <tr>
                            <td>ORIGINAL DURATION</td>
                            <td class="text-muted sub-title font-medium">476 Days</td>
                        </tr>
                        <tr>
                            <td>VARIANCE</td>
                            <td class="text-danger sub-title font-medium">17 Days</td>
                        </tr>
                        <tr>
                            <td>ACTUAL DURATION</td>
                            <td class="text-muted sub-title font-medium">459 Days</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-3 border-right">
                    <div class="p10">
                        <a class="heading">
                            <span class="text-success">PROGRESS</span>
                            <i class="fa fa-angle-down text-success"></i>
                        </a>
                        <div class="text-muted heading font-medium">Measure and Mark the Wall</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="p10">
                        Completion <i class="fa fa-pencil pl20 text-primary"></i>
                        <input type="text" class="input-sm">
                    </div>
                </div>
            </div>
            <hr>

            <div class="mt20 p20 mb20" id="schedule-slider">

                <div class="cleafix">
                    <div class="pull-left" style="width: 20%;">
                        MAY 10<br>2014
                    </div>
                    <div class="pull-left" style="width: 29%;">
                        AUG 16<br>2014
                    </div>
                    <div class="pull-left" style="width: 28%;">
                        JUN 23<br>2015
                    </div>
                    <div class="pull-left" style="width: 10%;">
                        MAY 12<br>2016
                    </div>
                    <div class="pull-right text-right" style="">
                        JUN 30<br>2016
                    </div>
                </div>
                <rzslider
                    rz-slider-model="slider.min"
                    rz-slider-high="slider.max"
                    rz-slider-options="slider.options"></rzslider>
                <div class="clearfix">
                    <div class="pull-left" style="width: 20%;">
                        Original<br>Start Date
                    </div>
                    <div class="pull-left" style="width: 29%;">
                        Estimated<br>Start
                    </div>
                    <div class="pull-left" style="width: 28%;">
                        Current Date
                        <div class="text-danger">312 Days Left</div>
                    </div>
                    <div class="pull-left" style="width: 10%;">
                        Original Completion<br>Date
                    </div>
                    <div class="pull-right text-right" style="">
                        Actual Completion<br>Date
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="schedule-notes">
        <div class="title">Add Notes</div>
        <textarea rows="5" class="mt10 label-default form-control" placeholder="Provide any additional information here"></textarea>
    </div>

    <div id="processor-list" class="mt20">
        <div class="clearfix">
            <div class="pull-left title">Processor List</div>
            <div class="pull-right">
                <a class="btn btn-success btn-md">
                    <i class="fa fa-plus pr5"></i>
                    Add
                </a>
            </div>
        </div>
        <table class="table table-bordered text-muted mt10">
            <thead >
                <tr>
                    <th>Process</th>
                    <th>Description</th>
                    <th>Responsible</th>
                    <th>Date Range</th>
                    <th>Complete</th>
                    <th></th>
                </tr>    
            </thead>
            <tbody>
                <tr>
                    <td>Hello</td>
                    <td>
                        <small>This is urgent project to do</small>
                    </td>
                    <td>
                        <div class="text-primary">Bob Jones</div>
                        <small>ABC Inc</small>
                    </td>
                    <td>
                        Aug 23, 2015<br>
                        /Dec 6, 2015
                    </td>
                    <td>
                        <div class="checkbox checkbox-inline">
                            <input type="checkbox" ng-model="application.checked">
                            <label>&nbsp;</label>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" uib-dropdown>
                            <a class="heading" uib-dropdown-toggle>
                                <i class="fa fa-cog"></i><i class="pl5 fa fa-angle-down"></i>
                            </a>

                            <ul class="uib-dropdown-menu dropdown-menu-right chevron-down-menu" role="menu" style="min-width: 100px">
                                <li role="menuitem"><a ng-click="">Yes</a></li>
                                <li role="menuitem"><a ng-click="">No</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="prodecessor-list" class="mt20">
        <div class="clearfix">
            <div class="pull-left title">Prodecessors List</div>
            <div class="pull-right">
                <a class="btn btn-success btn-md">
                    <i class="fa fa-plus pr5"></i>
                    Add
                </a>
            </div>
        </div>
        <table class="table table-bordered text-muted mt10">
            <thead >
                <tr>
                    <th>
                        <span class="label label-info">8.2.1</span>
                        Phase
                    </th>
                    <th>Sub-Phase</th>
                    <th>Scope of Work</th>
                    <th>Team Member</th>
                    <th>Status</th>
                    <th>Lag</th>
                    <th></th>
                </tr>    
            </thead>
            <tbody>
                <tr>
                    <td>Hello</td>
                    <td>
                        <small>What is SLI?</small>
                    </td>
                    <td>
                        <small>Wall Painting</small>
                    </td>
                    <td>
                        <div class="text-primary">Bob Jones</div>
                        <small>ABC Inc</small>
                    </td>
                    <td>
                        <div class="checkbox checkbox-inline">
                            <div class="text-success">IN PROGRESS</div>
                            <small>24% Completed</small>
                        </div>
                    </td>
                    <td>2w</td>
                    <td>
                        <div class="btn-group" uib-dropdown>
                            <a class="heading" uib-dropdown-toggle>
                                <i class="fa fa-cog"></i><i class="pl5 fa fa-angle-down"></i>
                            </a>

                            <ul class="uib-dropdown-menu dropdown-menu-right chevron-down-menu" role="menu" style="min-width: 100px">
                                <li role="menuitem"><a ng-click="">Yes</a></li>
                                <li role="menuitem"><a ng-click="">No</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="successor-list" class="mt20">
        <div class="clearfix">
            <div class="pull-left title">Successors List</div>
            <div class="pull-right">
                <a class="btn btn-success btn-md">
                    <i class="fa fa-plus pr5"></i>
                    Add
                </a>
            </div>
        </div>
        <table class="table table-bordered text-muted mt10">
            <thead >
                <tr>
                    <th>
                        <span class="label label-info">8.2.1</span>
                        Phase
                    </th>
                    <th>Sub-Phase</th>
                    <th>Scope of Work</th>
                    <th>Team Member</th>
                    <th>Lag</th>
                    <th></th>
                </tr>    
            </thead>
            <tbody>
                <tr>
                    <td>Hello</td>
                    <td>
                        <small>What is SLI?</small>
                    </td>
                    <td>
                        <small>Wall Painting</small>
                    </td>
                    <td>
                        <div class="text-primary">Bob Jones</div>
                        <small>ABC Inc</small>
                    </td>
                    <td>2w</td>
                    <td>
                        <div class="btn-group" uib-dropdown>
                            <a class="heading" uib-dropdown-toggle>
                                <i class="fa fa-cog"></i><i class="pl5 fa fa-angle-down"></i>
                            </a>

                            <ul class="uib-dropdown-menu dropdown-menu-right chevron-down-menu" role="menu" style="min-width: 100px">
                                <li role="menuitem"><a ng-click="">Yes</a></li>
                                <li role="menuitem"><a ng-click="">No</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>