<div class="custom-datefield">
    <div class="date-field-wrapper clearfix">
        <div class="pull-left">{{placeholder}}</div>
        <div class="value text-muted pull-left" ng-click="open()">
            <input type="date" uib-datepicker-popup 
                               is-open="opened" 
                               min-date="minDate" 
                               max-date="maxDate" 
                               show-weeks="false" 
                               show-button-bar="false" 
                               ng-model="date">
            {{date | date:'mediumDate'}}
        </div>
    </div>
</div>