<div class="dropdown">
    <button class="btn dropdown-toggle" ng-if="!isDropdown" data-toggle="dropdown">
        <span class="pull-left">{{selectedText}}</span>
        <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
    </button>
    <a class="dropdown-toggle" ng-if="isDropdown" data-toggle="dropdown">
        {{placeholder}}
        <i class="pl10 fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu" ng-class="{'dropdown-menu-right': isDropdown}">
        <li ng-if="hasFilter" class="p10" ng-click="$event.stopPropagation()">
            <div class="search-field">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="{{searchPlaceholder}}" class="form-control round" ng-model="query.name">
            </div>
        </li>
        <li ng-repeat="item in options | filter: query">
            <a tabindex="-1" ng-click="selectVal(item, $event)">
                <div class="checkbox checkbox-inline" ng-if="multiple">
                    <input type="checkbox" ng-checked="item.checked" ng-click="selectVal(item, $event)">
                    <label>&nbsp;</label>
                </div>
                {{item.name}}
            </a>
        </li>
    </ul>
</div>