<div class="modal-header clearfix">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body">
    <div class="gai-title">
        <input type="text" placeholder="" value="Enter New General Item Name"/>
        <i class="fa fa-pencil text-primary"></i>
    </div>
    <div class="gai-info">
        <div class="row">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-2">
                        <span class="text-uppercase text-muted">Change Order#</span><br>
                        CO213456
                    </div>
                    <div class="col-lg-2">
                        <span class="text-uppercase text-muted">Date</span><br>
                        8/23/14
                    </div>
                    <div class="col-lg-2">
                        <span class="text-uppercase text-muted">Initiated By</span><br>
                        Eric Hoffman
                    </div>
                    <div class="col-lg-2">
                        <span class="text-uppercase text-muted">Company</span><br>
                        Abc Inc.
                    </div>
                    <div class="col-lg-2">
                        <span class="text-uppercase text-muted">Role</span><br>
                        SubContractor
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 form-group">
            <label>Select Project</label>
            <ui-select ng-select="changeOption()" selected-item="selectedProject" options="projects"></ui-select>
        </div>
        <div class="col-lg-6 form-group">
            <label>Assignee</label>
            <ui-select ng-select="changeOption()" selected-item="selectedAssignee" options="assignee"></ui-select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 form-group">
            <label>Scope of Work</label>
            <ui-select has-filter="true" multiple="true" ng-select="changeOption()" selected-item="selectedSow" options="sow"></ui-select>
        </div>
        <div class="form-group" ng-class="{'col-lg-6': isMoreOptionsShow, 'col-lg-4': !isMoreOptionsShow}">
            <label>&nbsp;</label>
            <div class="due-date" ng-click="isShowDatePicker = !isShowDatePicker">
                <span class="text-default pull-left">Due Date</span>
                <span class="text-muted pull-right">{{ selectedDate | date: 'MMM dd, yyyy'}}</span>
                <div class="clearfix"></div>
            </div>
            <div class="inline-calendar" ng-show="isShowDatePicker">
              <uib-datepicker ng-model="selectedDate" min-date="minDate" show-weeks="false" class="well well-sm" ng-click="isShowDatePicker = false;"></uib-datepicker>
            </div>
        </div>
        <div ng-class="{'col-lg-2': !isMoreOptionsShow}" ng-hide="isMoreOptionsShow">
            <label>&nbsp;</label>
            <div class="more-option">
                <a href="javascript:void(0)" class="text-primary" ng-click="isMoreOptionsShow = true;">More Options</a>
            </div>
        </div>
    </div>
    <div id="gai-modal-more-options" ng-show="isMoreOptionsShow">
        <div class="row">
            <div class="col-lg-3">
                <a href="javascript:void(0)" class="text-primary">Reminder Alert</a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="javascript:void(0)" class="text-primary">Add Attachments</a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="javascript:void(0)" class="text-primary">Add CC</a>
            </div>
            <div class="col-lg-4 text-center">
                <div class="checkbox checkbox-inline" id="assignee-check">
                    <input type="checkbox">
                    <label>&nbsp;</label>
                </div>
                <span class="text-primary">Assignee can delegate task</span>
            </div>
        </div>
    </div>
    <textarea class="form-control mt15 text-default" placeholder="Provide any additional information here..."></textarea>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-cancel btn-lg" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-info btn-lg">Save as Draft</button>
    <button type="button" class="btn btn-primary btn-lg">Distribute</button>
</div>
