<div class="row page-detail-header">
    <div class="col-md-1 no-padding-horizontal">
        <div class="closeBox">
            <p>
                <a ui-sref="action-items.main">
                    Close <i class="fa fa-caret-right"></i>
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-11">
        <div class="row page-detail-header-wrapper">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="heading">General Action Items</h2>
                        <ul class="topSubtitle">
                            <li>
                                <a href="index.html">Project Title Label</a>
                                <i class="ace-icon fa fa-angle-down"></i>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-md-3 col-sm-6">
                        <span class="action-item-text">TOTAL: {{ gai.total }}</span>
                        <div class="action-item-count-info">
                            <span class="label label-green">&nbsp;</span>
                            <span class="count">{{ gai.green }}</span>
                            <span class="label label-orange">&nbsp;</span>
                            <span class="count">{{ gai.orange }}</span>
                            <span class="label label-red">&nbsp;</span>
                            <span class="count">{{ gai.red }}</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="action-completed-chart">
                            <div sparkline spark-data="[gai.completed, gai.total-gai.completed]" spark-options="pieOptions"></div>
                        </div>
                        <div>
                            <span class="action-item-text">{{ round(gai.completed / gai.total * 100) }}% COMPLETED</span><br>
                            <span class="action-item-value">{{ gai.completed }}</span>
                            <span class="action-item-of">of</span>
                            <span class="action-item-value">{{ gai.total }} items</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-5 no-padding-right">
                                <div class="">
                                    <span class="action-item-text">ITEMS ASSIGNED TO ME</span><br>
                                    <span class="action-item-value">
                                        {{ gai.assignedMe.green.total + gai.assignedMe.orange.total + gai.assignedMe.red.total }} Items
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-8 col-sm-6">
                                        <div class="progress progress-medium">
                                            <div class="progress-bar progress-bar-success"
                                                 style="width: {{gai.assignedMe.green.done / gai.assignedMe.green.total * 100}}%;">
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 action-item-progress-text">
                                        {{ gai.assignedMe.green.total }} items
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-sm-6">
                                        <div class="progress progress-medium">
                                            <div class="progress-bar progress-bar-warning"
                                                 style="width: {{gai.assignedMe.orange.done / gai.assignedMe.orange.total * 100}}%;">
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 action-item-progress-text">
                                        {{ gai.assignedMe.orange.total }} items
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-sm-6">
                                        <div class="progress progress-medium">
                                            <div class="progress-bar progress-bar-danger"
                                                 style="width: {{gai.assignedMe.red.done / gai.assignedMe.red.total * 100}}%;"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 action-item-progress-text">
                                        {{ gai.assignedMe.red.total }} items
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="btns mt25">
                    <a class="btn btn-green">
                        <i class="fa fa-plus"></i> Add New
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated">
    <div class="row gai-table">
        <div class="col-md-12">
            <h3>Actions Required by Me</h3>
            <div class="table-responsive">
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                        <th class="flag"></th>
                        <th class="title">Title</th>
                        <th class="due-date">Due Date</th>
                        <th class="responsible">Responsible</th>
                        <th class="initiator">Initiator</th>
                        <th class="sow">SOW</th>
                        <th class="status">Status</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in gai.listRequiredByMe">
                        <td class="flag">
                            <span>
                                <img ng-show="row.flag == 'red'" src="assets/img/red_icon.png">
                                <img ng-show="row.flag == 'orange'" src="assets/img/yellow _icon.png">
                                <img ng-show="row.flag == 'green'" src="assets/img/flag_green.png">
                                <img ng-show="row.flag == 'failed'" src="assets/img/failed.png">
                                <img ng-show="row.flag == 'completed'" src="assets/img/completed.png">
                                <img ng-show="row.flag == 'edit'" src="assets/img/edit_circle.png">
                            </span>
                        </td>
                        <td class="title"><span>{{ row.title }}<span><br><small>{{ row.sTitle }}</small></td>
                        <td class="due-date">{{ row.due_date }}</td>
                        <td class="responsible"><a href="#">{{ row.responsible.name }}</a><br><small>{{ row.responsible.company }}</small></td>
                        <td class="initiator"><a href="#">{{ row.initiator.name }}</a><br><small>{{ row.initiator.company }}</small></td>
                        <td class="sow">{{ row.sow }}</td>
                        <td class="status">
                            <span class="label" ng-class="{'in-process': row.status[0] == 'in process',
                                                           'draft': row.status[0] == 'draft',
                                                           'pending': row.status[0] == 'pending'}">
                                {{ row.status[0] }}
                            </span><br>
                            <small>{{ row.status[1] }}% Completed</small>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row gai-table">
        <div class="col-md-12">
            <h3>Actions Required by Others</h3>
            <div class="table-responsive">
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                        <th class="flag"></th>
                        <th class="title">Title</th>
                        <th class="due-date">Due Date</th>
                        <th class="responsible">Responsible</th>
                        <th class="initiator">Initiator</th>
                        <th class="sow">SOW</th>
                        <th class="status">Status</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in gai.listRequiredByOthers">
                        <td class="flag">
                            <span>
                                <img ng-show="row.flag == 'red'" src="assets/img/red_icon.png">
                                <img ng-show="row.flag == 'orange'" src="assets/img/yellow _icon.png">
                                <img ng-show="row.flag == 'green'" src="assets/img/flag_green.png">
                                <img ng-show="row.flag == 'failed'" src="assets/img/failed.png">
                                <img ng-show="row.flag == 'completed'" src="assets/img/completed.png">
                                <img ng-show="row.flag == 'edit'" src="assets/img/edit_circle.png">
                            </span>
                        </td>
                        <td class="title"><span>{{ row.title }}<span><br><small>{{ row.sTitle }}</small></td>
                        <td class="due-date">{{ row.due_date }}</td>
                        <td class="responsible"><a href="#">{{ row.responsible.name }}</a><br><small>{{ row.responsible.company }}</small></td>
                        <td class="initiator"><a href="#">{{ row.initiator.name }}</a><br><small>{{ row.initiator.company }}</small></td>
                        <td class="sow">{{ row.sow }}</td>
                        <td class="status">
                            <span class="label" ng-class="{'in-process': row.status[0] == 'in process',
                                                           'draft': row.status[0] == 'draft',
                                                           'pending': row.status[0] == 'pending'}">
                                {{ row.status[0] }}
                            </span><br>
                            <small>{{ row.status[1] }}% Completed</small>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row gai-table">
        <div class="col-md-12">
            <h3>Drafts</h3>
            <div class="table-responsive">
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                        <th class="flag"></th>
                        <th class="title">Title</th>
                        <th class="due-date">Due Date</th>
                        <th class="responsible">Responsible</th>
                        <th class="initiator">Initiator</th>
                        <th class="sow">SOW</th>
                        <th class="status">Status</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in gai.listDrafts">
                        <td class="flag">
                            <span>
                                <img ng-show="row.flag == 'red'" src="assets/img/red_icon.png">
                                <img ng-show="row.flag == 'orange'" src="assets/img/yellow _icon.png">
                                <img ng-show="row.flag == 'green'" src="assets/img/flag_green.png">
                                <img ng-show="row.flag == 'failed'" src="assets/img/failed.png">
                                <img ng-show="row.flag == 'completed'" src="assets/img/completed.png">
                                <img ng-show="row.flag == 'edit'" src="assets/img/edit_circle.png">
                            </span>
                        </td>
                        <td class="title"><span>{{ row.title }}<span><br><small>{{ row.sTitle }}</small></td>
                        <td class="due-date">{{ row.due_date }}</td>
                        <td class="responsible"><a href="#">{{ row.responsible.name }}</a><br><small>{{ row.responsible.company }}</small></td>
                        <td class="initiator"><a href="#">{{ row.initiator.name }}</a><br><small>{{ row.initiator.company }}</small></td>
                        <td class="sow">{{ row.sow }}</td>
                        <td class="status">
                            <span class="label" ng-class="{'in-process': row.status[0] == 'in process',
                                                           'draft': row.status[0] == 'draft',
                                                           'pending': row.status[0] == 'pending'}">
                                {{ row.status[0] }}
                            </span><br>
                            <small>{{ row.status[1] }}% Completed</small>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row gai-table">
        <div class="col-md-12">
            <h3>Completed</h3>
            <div class="table-responsive">
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                        <th class="flag"></th>
                        <th class="title">Title</th>
                        <th class="due-date">Due Date</th>
                        <th class="responsible">Responsible</th>
                        <th class="initiator">Initiator</th>
                        <th class="sow">SOW</th>
                        <th class="status">Status</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in gai.listCompleted">
                        <td class="flag">
                            <span>
                                <img ng-show="row.flag == 'red'" src="assets/img/red_icon.png">
                                <img ng-show="row.flag == 'orange'" src="assets/img/yellow _icon.png">
                                <img ng-show="row.flag == 'green'" src="assets/img/flag_green.png">
                                <img ng-show="row.flag == 'failed'" src="assets/img/failed.png">
                                <img ng-show="row.flag == 'completed'" src="assets/img/completed.png">
                                <img ng-show="row.flag == 'edit'" src="assets/img/edit_circle.png">
                            </span>
                        </td>
                        <td class="title"><span>{{ row.title }}<span><br><small>{{ row.sTitle }}</small></td>
                        <td class="due-date">{{ row.due_date }}</td>
                        <td class="responsible"><a href="#">{{ row.responsible.name }}</a><br><small>{{ row.responsible.company }}</small></td>
                        <td class="initiator"><a href="#">{{ row.initiator.name }}</a><br><small>{{ row.initiator.company }}</small></td>
                        <td class="sow">{{ row.sow }}</td>
                        <td class="status">
                            <span class="label" ng-class="{'in-process': row.status[0] == 'in process',
                                                           'draft': row.status[0] == 'draft',
                                                           'pending': row.status[0] == 'pending'}">
                                {{ row.status[0] }}
                            </span><br>
                            <small>{{ row.status[1] }}% Completed</small>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
