<div class="row prog mt30">
    <div class="col-xs-12 col-md-12 col-lg-5">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="pull-left prj-pr-m" id="financial-chart-container1">
                    <div ui-arc-chart rect-width="200" rect-height="200" radius="30" pen-width="10" chart-data="financialChartData"></div>
                </div>
            </div>
            <div class="col-md-8 bordermiddle">
                <div class="left1">
                    <span class="label label-primary">&nbsp;</span>
                    <span class="middlebold text-default">Schedule</span>
                    <p>Estimated Completion   <b>Nov 28, 2015</b></p>
                    <p>Original Completion Date   <b>Dec 14, 2015</b></p>
                    <span class="label label-success">&nbsp;</span>
                    <span class="middlebold text-default">Cost Incured</span>
                    <p>Funds Disbursed to Date   <b>${{stats.amount.funds_disbursed}}</b></p>
                    <p>Estimated Cost at Completion   <b>${{stats.amount.total}}</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-7 pt20">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="ibox-content">
                    <span class="middlebold">Cost at Completion</span>
                    <p>${{stats.amount.total}}</p>
                    <div>
                        <div class="progress progress-normal">
                            <div style="width: {{stats.estimated}}%;" class="progress-bar blue"></div>
                        </div>
                        <div class="progress progress-normal">
                            <div style="width: {{stats.contractual}}%;" class="progress-bar progress-bar-warning orange"></div>
                        </div>
                        <div class="progress progress-normal">
                            <div style="width: {{stats.direct}}%;" class="progress-bar progress-bar-success green"></div>
                        </div>
                        <div class="progress progress-normal">
                            <div style="width: {{stats.pending}}%;" class="progress-bar progress-bar-danger red"></div>
                        </div>
                        <div class="progress progress-normal">
                            <div style="width: {{stats.unbudgeted}}%;" class="progress-bar progress-bar-danger1 black"></div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="right1">
                    <span class="label label-primary">&nbsp;</span>
                    <span>Estimated Budget</span>
                    <h2>{{stats.estimated}}% ${{stats.amount.est_budget}}</h2>

                    <span class="label label-warning">&nbsp;</span>
                    <span>Contractual Buy Out</span>
                    <h2>{{stats.contractual}}% ${{stats.amount.contractual}}</h2>

                    <span class="label label-success">&nbsp;</span>
                    <span>Direct Costs</span>
                    <h2>{{stats.direct}}% ${{stats.amount.direct}}</h2>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="right1">
                    <span class="label label-danger">&nbsp;</span>
                    <span>Pending Costs</span>
                    <h2>{{stats.pending}}% ${{stats.amount.pending}}</h2>

                    <span class="label label-info">&nbsp;</span>
                    <span>Unbudgeted Costs</span>
                    <h2>{{stats.unbudgeted}}% ${{stats.amount.unbudgeted}}</h2>

                </div>
            </div>
        </div>
    </div>
</div>