<div class="row prog mt30">
    <div class="col-xs-12 col-md-12 col-lg-5">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="pull-left prj-pr-m" id="financial-chart-container">
                    <div id="financial-chart"></div>
                    <div class="chart-data">
                        <div class="arc">
                            <span class="text"></span>
                            <input type="hidden" class="percent" value="61" />
                            <input type="hidden" class="color" value="#79c485" />
                        </div>
                        <div class="arc">
                            <span class="text"></span>
                            <input type="hidden" class="percent" value="76" />
                            <input type="hidden" class="color" value="#3aabd5" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 bordermiddle">
                <div class="left1">
                    <span class="label label-primary">&nbsp;</span>
                    <span class="middlebold text-default">Schedule</span>
                    <p>Estimated Completion   <b>Apr 20, 2016</b></p>
                    <p>Original Completion Date   <b>Nov 12, 2014</b></p>
                    <span class="label label-success">&nbsp;</span>
                    <span class="middlebold text-default">Cost Incured</span>
                    <p>Funds Disbursed to Date   <b>Apr 20, 2016</b></p>
                    <p>Estimated Cost at Completion   <b>Nov 12, 2014</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-7 pt20">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="ibox-content">
                    <span class="middlebold">Cost at Completion</span>
                    <p>$19,345,567.00</p>
                    <div>
                        <div class="progress progress-normal">
                            <div style="width: {{stats.estimated}}%;" class="progress-bar blue"></div>
                        </div>
                        <div class="progress progress-normal">
                            <div style="width: {{stats.contractual}}%;" class="progress-bar progress-bar-warning orange"></div>
                        </div>
                        <div class="progress progress-normal">
                            <div style="width: {{stats.direct}}%;" class="progress-bar progress-bar-success green"></div>
                        </div>
                        <div class="progress progress-normal">
                            <div style="width: {{stats.pending}}%;" class="progress-bar progress-bar-danger red"></div>
                        </div>
                        <div class="progress progress-normal">
                            <div style="width: {{stats.unbudgeted}}%;" class="progress-bar progress-bar-danger1 black"></div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="right1">
                    <span class="label label-primary">&nbsp;</span>
                    <span>Estimated Budget</span>
                    <h2>11% $123,987.00</h2>

                    <span class="label label-warning">&nbsp;</span>
                    <span>Contractual Buy Out</span>
                    <h2>28% $5,987.00</h2>

                    <span class="label label-success">&nbsp;</span>
                    <span>Direct Costs</span>
                    <h2>33% $123,987.00</h2>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="right1">
                    <span class="label label-danger">&nbsp;</span>
                    <span>Pending Costs</span>
                    <h2>19% $5,987.00</h2>

                    <span class="label label-info">&nbsp;</span>
                    <span>Unbudgeted Costs</span>
                    <h2>9% $5,987.00</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
var financial_chart = {
    init: function (width, height, radius, pen_width) {
        this.diagram(width, height, radius, pen_width);
    },
    random: function (l, u) {
        return Math.floor((Math.random() * (u - l + 1)) + l);
    },
    diagram: function (width, height, radius, pen_width) {
        var display = '';
        var width = width,
            height = height,
            radius = radius,
            pen_width = pen_width;

        $('#financial-chart-container .chart-data').find('.arc').each(function (i) {
            var t = $(this);
            display += t.find('.percent').val() + "%\n";
        });

        var r = Raphael('financial-chart', width, height),
			rad = radius,
			defaultText = '%',
            param = {stroke: "#fff", "stroke-width": pen_width};
			speed = 250;

        // r.circle(width/2, height/2, p).attr({ stroke: 'none', fill: '#FFF' });

        var title = r.text(width / 2, height / 2, defaultText).attr({
            font: '14px Arial',
            fill: '#000'
        }).toFront();

        title.attr({ text: display });

        r.customAttributes.arc = function (value, color, rad) {
            var v = 3.6 * value,
				alpha = v == 360 ? 359.99 : v,
				a = (90 - alpha) * Math.PI / 180,
				b = 90 * Math.PI / 180,
				sx = width / 2 + rad * Math.cos(b),
				sy = height / 2  - rad * Math.sin(b),
				x = width / 2 + rad * Math.cos(a),
				y = height / 2 - rad * Math.sin(a),
				path = [['M', sx, sy], ['A', rad, rad, 0, +(alpha > 180), 1, x, y]];
            return { path: path }
        }

        $('#financial-chart-container .chart-data').find('.arc').each(function (i) {
            var t = $(this),
				color = t.find('.color').val(),
				value = t.find('.percent').val(),
				text = t.find('.text').text();

            rad += pen_width;
            var z = r.path().attr(param).attr({ arc: [0, color, rad]});
            z.animate({arc: [value, color, rad], 'stroke': color}, 1000, ">");
        });
    }
}

$(document).ready(function() {
    financial_chart.init(200, 200, 30, 10);
});
</script>
