<div class="panel panel-default">
    <div class="panel-body">
        <div id="bankdraw-stats">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3>Construction Loan Amount</h3>
                            <h2>$1,000,000.00</h2>
                        </div>
                        <div class="col-lg-4">
                            <h3>Amount Drawn to Date</h3>
                            <h2>$749,845.00</h2>
                        </div>
                        <div class="col-lg-4">
                            <h3>Amount Remaining</h3>
                            <h2>$250,155.00</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row bankdraw-chart-area">
                        <div class="col-lg-3">
                            <div class="pull-left prj-pr-m" id="bankdraw-main-container">
                                <div id="bankdraw-main-chart"></div>
                                <div class="chart-data">
                                    <div class="arc">
                                        <span class="text"></span>
                                        <input type="hidden" class="percent" value="61" />
                                        <input type="hidden" class="color" value="#79c485" />
                                    </div>
                                    <div class="arc">
                                        <span class="text"></span>
                                        <input type="hidden" class="percent" value="75" />
                                        <input type="hidden" class="color" value="#3aabd5" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="label label-primary">&nbsp;</span>
                            <span>Percentage Drawn</span>
                            <p>74,98%</p>
                        </div>
                        <div class="col-lg-5">
                            <span class="label label-success">&nbsp;</span>
                            <span>Percentage Project Completion</span>
                            <p>61.15%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive bankdraw-main-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Submission Date</th>
                        <th>Draw & Project Name</th>
                        <th>Submitted by</th>
                        <th>Bank & Draw Amounts</th>
                        <th>Status</th>
                        <th>Documents</th>
                        <th>Pay Applications</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in bankdraws">
                        <td class="submission-date">{{ row.submission_date }}</td>
                        <td class="draw-project">
                            <span class="text-primary">{{row.draw_project.name}}</span><br>
                            <span class="text-muted">{{row.draw_project.type}}</span>
                        </td>
                        <td class="text-primary submitted-by">{{row.submitted_by}}</td>
                        <td class="bank-draw-amount">
                            <span class="text-info">{{row.bank_draw_amount.name}}</span><br>
                            <span class="text-default">{{row.bank_draw_amount.value | currency:'$':0}}</span>
                        </td>
                        <td class="status">
                            <div class="label"
                                ng-class="{'label-success': row.status == 'Awaiting Review',
                                           'label-warning': row.status == 'Returned With Comments',
                                           'label-danger': row.status == 'Not Yet Submitted'}">{{row.status}}</div>
                        </td>
                        <td class="text-primary documents">3 Documents</td>
                        <td class="text-primary pay-application">5 Pay Applications</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
var financial_chart = {
    init: function (width, height, radius, pen_width) {
        this.diagram(width, height, radius, pen_width);
    },
    random: function (l, u) {
        return Math.floor((Math.random() * (u - l + 1)) + l);
    },
    diagram: function (width, height, radius, pen_width) {
        var display = '';
        var width = width,
            height = height,
            radius = radius,
            pen_width = pen_width;

        var r = Raphael('bankdraw-main-chart', width, height),
            rad = radius,
            defaultText = '%',
            param = {stroke: "#fff", "stroke-width": pen_width};
            speed = 250;

        // r.circle(width/2, height/2, p).attr({ stroke: 'none', fill: '#FFF' });

        var title = r.text(width / 2, height / 2, defaultText).attr({
            font: '14px Arial',
            fill: '#000'
        }).toFront();

        title.attr({ text: display });

        r.customAttributes.arc = function (value, color, rad) {
            var v = 3.6 * value,
                alpha = v == 360 ? 359.99 : v,
                a = (90 - alpha) * Math.PI / 180,
                b = 90 * Math.PI / 180,
                sx = width / 2 + rad * Math.cos(b),
                sy = height / 2  - rad * Math.sin(b),
                x = width / 2 + rad * Math.cos(a),
                y = height / 2 - rad * Math.sin(a),
                path = [['M', sx, sy], ['A', rad, rad, 0, +(alpha > 180), 1, x, y]];
            return { path: path }
        }

        $('#bankdraw-main-container .chart-data').find('.arc').each(function (i) {
            var t = $(this),
                color = t.find('.color').val(),
                value = t.find('.percent').val(),
                text = t.find('.text').text();

            rad += pen_width;
            var z = r.path().attr(param).attr({ arc: [0, color, rad]});
            z.animate({arc: [value, color, rad], 'stroke': color}, 1000, ">");
        });
    }
}

$(document).ready(function() {
    financial_chart.init(75, 75, 20, 7);
});
</script>
