<div class="tab-content">
    <table class="table mb20" id="budget-stats">
        <tr>
            <td class="text-muted">Square footage</td>
            <td class="font-bold">5,200</td>
        </tr>
        <tr>
            <td class="text-muted">Goal Cost per Sqft</td>
            <td class="font-bold">$300.00</td>
            <td class="text-muted">Goal Construction Cost</td>
            <td class="font-bold">$1,560.00</td>
        </tr>
        <tr>
            <td class="text-muted">Current Cost per Sqft</td>
            <td class="font-bold">$309.00</td>
            <td class="text-muted">Current Construction Cost</td>
            <td class="font-bold">$2,345.00</td>
        </tr>
        <tr>
            <td class="text-muted">Variance</td>
            <td class="font-bold text-danger">-$10</td>
            <td class="text-muted">Variance</td>
            <td class="font-bold text-danger">-$980.00</td>
        </tr>
    </table>
    <div class="budgets">
        <div class="table-tree" style="padding: 15px 20px; background: #f3f3f4;">
            <div class="text-muted">
                <div>&nbsp;</div>
                <div style="width: 100px">Labor</div>
                <div style="width: 100px">Materials</div>
                <div style="width: 100px">Equipment</div>
                <div style="width: 100px">Miscellanous</div>
                <div style="width: 100px">Total</div>
                <div style="width: 120px">Items</div>
                <div style="width: 80px">Status</div>
                <div style="width: 60px">CPSF</div>
                <div style="width: 60px">% of Project</div>
            </div>
        </div>
        <div ui-tree data-drag-enabled="false" data-max-depth="3">
            <ol ui-tree-nodes="" ng-model="budgets">
                <li ng-repeat="item in budgets" ui-tree-node data-collapsed="true" ng-include="'budget-item-template.html'"></li>
            </ol>
        </div>
    </div>
    <!-- Nested node template -->
    <script type="text/ng-template" id="budget-item-template.html">
        <div ui-tree-handle class="tree-node tree-node-content table-tree">
            <div class="text-muted font-regular">
                <div data-nodrag ng-click="toggle(this)" class="text-primary font-semibold">
                    <i class="fa" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}" ng-if="item.children" style="display:inline-block"></i>
                    <div style="display: inline-block">
                        <div class="text-gray division">{{item.division}}</div>
                        <span>{{item.name}}</span>
                    </div>
                </div>
                <div style="width: 100px">{{item.labor | currency:'$':0}}</div>
                <div style="width: 100px">{{item.materials | currency:'$':0}}</div>
                <div style="width: 100px">{{item.equipment | currency:'$':0}}</div>
                <div style="width: 100px">{{item.misc | currency:'$':0}}</div>
                <div style="width: 100px">{{item.total | currency:'$':0}}</div>
                <div style="width: 120px"><span class="items" ng-if="item.items">{{item.items}}</span></div>
                <div style="width: 80px">{{item.status}}</div>
                <div style="width: 60px">{{item.cpsf}}</div>
                <div style="width: 60px"><span ng-if="item.percent_of_project">{{item.percent_of_project}}%</span></div>
            </div>
        </div>
        <ol ui-tree-nodes ng-model="item.children" ng-class="{hidden: collapsed}">
            <li ng-repeat="item in item.children" has-child="{{item.children!=null}}" data-collapsed="true" ui-tree-node ng-include="'budget-item-template.html'"></li>
            <li data-collapsed="true" ui-tree-node ng-if="item.depth == 3">
                <div ui-tree-handle class="tree-node tree-node-content table-tree">
                    <div class="text-muted font-regular">
                        <div data-nodrag ng-click="toggle(this)" class="text-primary font-semibold">
                            <i class="fa fa-plus pr10"></i>
                            <span class="text-gray division add-budget" ng-click="showBudgetAdditionModal()">Add Budget Estimate</span>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </script>

    <!-- Budget Addition Modal Template -->
    <script type="text/ng-template" id="budget-addition-modal.html">
        <div class="modal-header clearfix">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
        </div>
        <div class="modal-body">
            <h3>Add Budget Estimate</h3>
            <hr/>
            <div class="row">
                <div class="col-md-5 form-group">
                    <label>Division</label>
                    <ui-select options="divisions" selected-item="divisions[0]"></ui-select>
                </div>
                <div class="col-md-3 form-group">
                    <label>Cost Code</label>
                    <ui-select options="costCodes" selected-item="costCodes[0]"></ui-select>
                </div>
                <div class="col-md-4 form-group">
                    <label>Scope of Work</label>
                    <ui-select options="sows" selected-item="sows[0]"></ui-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Labour</label>
                            <input class="form-control" type="text" placeholder="$" ui-money-mask="2" ng-model="labor"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Materials</label>
                            <input class="form-control" type="text" placeholder="$" ui-money-mask="2" ng-model="materials"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Equipment</label>
                            <input class="form-control" type="text" placeholder="$" ui-money-mask="2" ng-model="equipment"/>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Misc</label>
                            <input class="form-control" type="text" placeholder="$" ui-money-mask="2" ng-model="misc"/>
                        </div>
                        <div class="col-md-4 form-group">
                            <span class="total-title">Total</span>
                            <span class="total-value">{{ total | currency: '$': 2}}</span>
                        </div>
                    </div>
                </div>

            </div>
            <hr/>
            <div class="text-right">
                <button type="button" class="btn btn-cancel btn-lg" ng-click="cancel()">Delete Estimate</button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="ok()">Add Estimate</button>
            </div>
        </div>
    </script>
</div>
