<div id="page-wrapper" class="gray-bg">

    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <i class="fa fa-caret-left"></i>
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <form role="search" class="navbar-form-custom" action="search_results.html">
                    <div class="form-group">
                        <a href="#"><i class="fa fa-search"></i></a>
                        <input type="text" placeholder="Search your projects " class="form-control search" name="top-search" id="top-search">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">

                <li class="light-blue open">
                    <a href="">
                        <img alt="Jason's Photo" src="assets/img/user.png" class="nav-user-photo">
                                <span class="user-info">
                                    Eric Hoffman
                                </span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                </li>


                <li class="orange">
                    <a href="#">
                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        <span class="badge badge-important">8</span>
                    </a>
                </li>
            </ul>


        </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-6 col-lg-10">
            <h2>Financials</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Project Title Label</a>
                    <i class="ace-icon fa fa-angle-down"></i>
                </li>

            </ol>
        </div>
        <div class="col-lg-2 mt35">
            <div class="buy">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus"></i> Add New <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add New Payment</a></li>
                        <li><a href="#">Add Direct Invoice</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--middle content-->
    <div class="row prog mt35">
        <div class="col-xs-12 col-md-12 col-lg-5">
            <div class="col-xs-12 col-md-6">
                <div class="per">

                    <div id="diagram"></div>
                    <div class="get">
                        <div class="arc">
                            <span class="text"></span>
                            <input type="hidden" class="percent" value="61" />
                            <input type="hidden" class="color" value="#79c485" />
                            <input type="hidden" class="width" value="20" />
                        </div>
                        <div class="arc">
                            <span class="text"></span>
                            <input type="hidden" class="percent" value="76" />
                            <input type="hidden" class="color" value="#3aabd5" />
                            <input type="hidden" class="width" value="15" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 bordermiddle">
                <div class="left1">
                    <h3 class="label label-primary">5</h3>
                    <span class="middlebold">Schedule</span>
                    <p>Estimated Completion   <b>Apr 20, 2016</b></p>
                    <p>Original Completion Date   <b>Nov 12, 2014</b></p>
                    <h3 class="label progress-bar-success">5</h3>
                    <span class="middlebold">Cost Incured</span>
                    <p>Funds Disbursed to Date   <b>Apr 20, 2016</b></p>
                    <p>Estimated Cost at Completion   <b>Nov 12, 2014</b></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-7 pt20">
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="ibox-content">
                    <span class="middlebold">Cost at Completion</span>
                    <p>$19,345,567.00</p>
                    <div>

                        <div class="progress progress-small">
                            <div class="progress-bar" style="width: 20%;"></div>
                        </div>

                        <div>


                        </div>
                        <div class="progress progress-small">
                            <div class="progress-bar progress-bar-warning" style="width: 50%;"></div>
                        </div>

                        <div>


                        </div>
                        <div class="progress progress-small">
                            <div class="progress-bar progress-bar-success" style="width: 40%;"></div>
                        </div>
                        <div class="progress progress-small">
                            <div class="progress-bar progress-bar-danger" style="width: 40%;"></div>
                        </div>
                        <div>


                        </div>
                        <div class="progress progress-small">
                            <div class="progress-bar progress-bar-danger1" style="width: 5%;"></div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="right1">
                    <h3 class="label label-primary">5</h3>
                    <span>Estimated Budget</span>
                    <h2>11% $123,987.00</h2>

                    <h3 class="label progress-bar-warning">5</h3>
                    <span>Contractual Buy Out</span>
                    <h2>28% $5,987.00</h2>

                    <h3 class="label progress-bar-success">5</h3>
                    <span>Direct Costs</span>
                    <h2>33% $123,987.00</h2>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 col-lg-4">
                <div class="right1">
                    <h3 class="label progress-bar-danger">5</h3>
                    <span>Pending Costs</span>
                    <h2>19% $5,987.00</h2>

                    <h3 class="label progress-bar-danger1">5</h3>
                    <span>Unbudgeted Costs</span>
                    <h2>9% $5,987.00</h2>

                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="panel blank-panel">
                <div class="panel-heading">
                    <div class="panel-options">
                        <ul class="nav nav-tabs custom-tabs1">
                            <li class="active"><a href="#tab-1" data-toggle="tab">Main</a></li>
                            <li class=""><a href="#tab-2" data-toggle="tab">Construction Loan</a></li>
                            <li class=""><a href="#tab-3" data-toggle="tab">Change Orders</a></li>
                            <li class=""><a href="#tab-4" data-toggle="tab">Purchase Orders</a></li>
                            <li class=""><a href="#tab-5" data-toggle="tab">Payment Applications</a></li>
                            <li class=""><a href="#tab-6" ui-sref="financials.bankdraw.main" data-toggle="tab">Bank Draws</a></li>
                            <li class=""><a href="#tab-7" data-toggle="tab">Cash Requirements</a></li>
                            <li class=""><a href="#tab-7" data-toggle="tab">Timline Budget</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body custom-panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-1">
                            <div class="table-responsive">
                                <table class="table table-striped table-custom1">
                                    <thead>
                                    <tr>
                                        <th colspan="3">Division Cost Code</th>
                                        <th colspan="5">Working Budget Section</th>
                                        <th colspan="6">Pending Costs</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><div class="space1"><span class="sky">General Condition<i class="fa fa-chevron-up"></i></span></div></td>
                                        <td>Est.Budget</td>
                                        <td>Bids Under Contract</td>
                                        <td>Approved Purchase Orders</td>
                                        <td>Approved Change Orders</td>
                                        <td>Direct Costs</td>
                                        <td>Working Budget</td>
                                        <td>Pending Purchase Orders</td>
                                        <td>Pending Change Orders</td>
                                        <td>Unbudgeted Costs</td>
                                        <td>Estimated Cost at Completion</td>
                                        <td>Payments Made</td>
                                        <td>Cash Required to Complete</td>
                                    </tr>
                                    <tr>
                                        <td><div class="space1"><span class="sky">Donec ullamcorper nulla non metus auctor fringilla.</span></div></td>
                                        <td>$1,000,000</td>
                                        <td>$2,272.85</td>
                                        <td>$8,500.00 </td>
                                        <td>$1,000,000</td>
                                        <td>$2,272.85</td>
                                        <td>$8,500.00 </td>
                                        <td>$8,500.00 </td>
                                        <td>$8,500.00 </td>
                                        <td>$2,272.85</td>
                                        <td>$8,500.00 </td>
                                        <td>$2,272.85</td>
                                        <td>$2,272.85</td>
                                    </tr>
                                    <tr>
                                        <td><div class="space1"><span class="sky">Venenatis Risus Bibendum</span></div></td>
                                        <td>$800.00</td>
                                        <td>$857.50 </td>
                                        <td>$2,000.00</td>
                                        <td>$800.00</td>
                                        <td>$857.50 </td>
                                        <td>$2,000.00 </td>
                                        <td>$2,000.00 </td>
                                        <td>$2,000.00 </td>
                                        <td>$30,000.00 </td>
                                        <td>$30,000.00 </td>
                                        <td>$30,000.00 </td>
                                        <td>$2,000.00 </td>
                                    </tr>
                                    <tr>
                                        <td><div class="space1"><span class="sky">Nulla vitae elit libero, a pharetra augue.</span></div></td>
                                        <td>$30,000.00</td>
                                        <td>$30,000.00</td>
                                        <td>$2,000.00 </td>
                                        <td>$30,000.00</td>
                                        <td>$30,000.00</td>
                                        <td>$2,000.00 </td>
                                        <td>$2,000.00 </td>
                                        <td>$2,000.00 </td>
                                        <td>$30,000.00</td>
                                        <td>$2,000.00 </td>
                                        <td>$30,000.00</td>
                                        <td>$2,000.00 </td>
                                    </tr>
                                    <tr>
                                        <td><div class="space1"><span class="sky">Vivamus sagittis lacus vel augue laoreet rutrum fauci.. dolor auctor.</span></div></td>
                                        <td>$60,000.00 </td>
                                        <td>$60,000.00 </td>
                                        <td>$3,500.00</td>
                                        <td>$60,000.00 </td>
                                        <td>$60,000.00 </td>
                                        <td>$3,500.00</td>
                                        <td>$3,500.00</td>
                                        <td>$3,500.00</td>
                                        <td>$60,000.00 </td>
                                        <td>$3,500.00</td>
                                        <td>$60,000.00 </td>
                                        <td>$3,500.00</td>
                                    </tr>
                                    <tr>
                                        <td><div class="space1"><span class="sky">Donec ullamcorper nulla non metus auctor fringilla.</span></div></td>
                                        <td>$10,000.00 </td>
                                        <td>$10,000.00 </td>
                                        <td>$1,000.00 </td>
                                        <td>$10,000.00 </td>
                                        <td>$10,000.00 </td>
                                        <td>$1,000.00 </td>
                                        <td>$1,000.00 </td>
                                        <td>$1,000.00 </td>
                                        <td>$10,000.00 </td>
                                        <td>$1,000.00 </td>
                                        <td>10,000.00</td>
                                        <td>$1,000.00</td>
                                    </tr>
                                    <tr>
                                        <td><div class="space1"><span class="sky">Venenatis Risus Bibendum</span></div></td>
                                        <td>$8,500.00 </td>
                                        <td>$8,500.00 </td>
                                        <td>$2,000.00 </td>
                                        <td>$8,500.00</td>
                                        <td>$8,500.00 </td>
                                        <td>$2,000.00 </td>
                                        <td>$2,000.00 </td>
                                        <td>$2,000.00 </td>
                                        <td>85,00.00</td>
                                        <td>$2,000.00 </td>
                                        <td>85,00.00</td>
                                        <td>$2,000.00 </td>
                                    </tr>
                                    <tr>
                                        <td><div class="space1"><span class="sky">Nulla vitae elit libero, a pharetra augue.</span></div></td>
                                        <td>$2,000.00</td>
                                        <td>$2,000.00</td>
                                        <td>85,00.00</td>
                                        <td>$2,000.00</td>
                                        <td>$2,000.00</td>
                                        <td>85,00.00</td>
                                        <td>85,00.00</td>
                                        <td>85,00.00</td>
                                        <td>$2,000.00</td>
                                        <td>85,00.00</td>
                                        <td>$2,000.00</td>
                                        <td>85,00.00</td>
                                    </tr>
                                    <tr>
                                        <td><div class="space1"><span class="sky">Site Work<i class="fa fa-chevron-up"></i></span></div></td>
                                        <td>Est.Budget</td>
                                        <td>Under Contract</td>
                                        <td>Approved Purchase Orders</td>
                                        <td>Approved Change Orders</td>
                                        <td>Direct Costs</td>
                                        <td>Working Budget</td>
                                        <td>Pending Purchase Orders</td>
                                        <td>Pending Change Orders</td>
                                        <td>Unbudgeted Costs</td>
                                        <td>Estimated Cost at Completion</td>
                                        <td>Payments Made</td>
                                        <td>Cash Required to Complete</td>
                                    </tr>
                                    <tr>
                                        <td><span class="sky">Donec ullamcorper nulla non metus auctor fringilla.</span></td>
                                        <td>$1,000,000 </td>
                                        <td>$2,272.85</td>
                                        <td>$2,272.85</td>
                                        <td>$1,000,000 </td>
                                        <td>$2,272.85</td>
                                        <td>$8,500.00</td>
                                        <td>$8,500.00</td>
                                        <td>$8,500.00 </td>
                                        <td>$2,272.85</td>
                                        <td>$8,500.00 </td>
                                        <td>$2,272.85</td>
                                        <td>$8,500.00 </td>
                                    </tr>
                                    <tr>
                                        <td><div class="space1"><span class="sky">Venenatis Risus Bibendum</span></div></td>
                                        <td>$8,500.00 </td>
                                        <td>$857.50 </td>
                                        <td>$2,000.00 </td>
                                        <td>$800.00 </td>
                                        <td>$857.50 </td>
                                        <td>$2,000.00</td>
                                        <td>$2,000.00 </td>
                                        <td>$2,000.00 </td>
                                        <td>$857.50 </td>
                                        <td>$2,000.00 </td>
                                        <td>$857.50 </td>
                                        <td>$2,000.00 </td>
                                    </tr>
                                    <tr>
                                        <td><div class="space1"><span class="sky">Nulla vitae elit libero, a pharetra augue.</span></div></td>
                                        <td>$30,000.00</td>
                                        <td>$30,000.00</td>
                                        <td>$2,000.00</td>
                                        <td>$30,000.00</td>
                                        <td>$30,000.00</td>
                                        <td>$2,000.00</td>
                                        <td>$2,000.00</td>
                                        <td>$2,000.00</td>
                                        <td>$30,000.00</td>
                                        <td>$2,000.00</td>
                                        <td>$30,000.00</td>
                                        <td>$2,000.00</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-2">
                            <b>Tab2 Data</b>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <b>Tab3 Data</b>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <b>Tab4 Data</b>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <b>Tab5 Data</b>
                        </div>
                        <div class="tab-pane" id="tab-6">
                            <b>Tab6 Data</b>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row white">
            <div class="col-md-3">
                <span class="grey">Land Cost</span>
                <p class="black">$1,000,000.00</p>
            </div>
            <div class="col-md-2">
                <span class="grey">Development Cost</span>
                <p class="black">$3,345,000.00</p>
            </div>
            <div class="col-md-2">
                <span class="blue">Additional Cost</span>
                <p class="blue1">$5,567.00</p>
            </div>
            <div class="col-md-2">
                <span class="sharp">Total Project Cost</span>
                <p class="sharp1">$1,980,000.00</p>
            </div>
            <div class="col-md-3">
                <span class="grey">Total Project Cost per Sqft</span>
                <p class="black">$568.00</p>
            </div>
        </div>

    </div>
    <!--<div class="footer">
         <div class="pull-right">
             10GB of <strong>250GB</strong> Free.
         </div>
         <div>
             <strong>Copyright</strong> Example Company &copy; 2014-2015
         </div>
     </div>-->

</div>

<script src="assets/js/init.js" type="text/javascript"></script>