<div class="row wrapper border-bottom white-bg page-heading overview">
    <div class="col-xs-6 col-lg-10 pl20">
        <h2 class="hding">Financials</h2>
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Project Title Label</a>
                <i class="ace-icon fa fa-angle-down"></i>
            </li>

        </ul>
    </div>
    <div class="col-xs-6 col-lg-2 pr20">
        <div class="text-right">
            <a href="#" class="btn btn-success btn-lg">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
    </div>
</div>
<div ng-include="'partials/financials/_stats.html'"></div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="financial-wrapper">
        <ul class="nav nav-tabs custom-tabs1">
            <li ng-class="{true: 'active'}[isActive('financials.main')]"><a ui-sref="financials.main">Main</a></li>
            <li ng-class="{true: 'active'}[isActive('financials.budget')]"><a ui-sref="financials.budget">Budget</a></li>
            <li><a ui-sref="financials.main">Purchase Orders</a></li>
            <li><a ui-sref="financials.main">Payment Applications</a></li>
            <li><a ui-sref="financials.main">Bank Draws</a></li>
            <li><a ui-sref="financials.main">Construction Loan</a></li>
        </ul>

        <ui-view></ui-view>
    </div>
</div>
