<div class="tab-content loan-top-section">
    <div class="row mt10">
        <div class="col-md-10">

            <div class="row">
                <div class="col-md-3 mb10">
                    <h4 class="text-muted">Bank Name</h4>
                    <p class="text-default">Wells Fargo</p>
                    <small class="text-gray-lighter">123 Street San Diego CA 92110</small>
                </div>
                <div class="col-md-3  mb10">
                    <h4 class="text-muted">Banker Name</h4>
                    <p class="text-default">Joe Sloan</p>
                    <small class="text-gray-lighter">
                        <i class="fa fa-envelope mr5"></i>
                        |
                        <i class="fa fa-phone mr5 ml5"></i>
                        415 123 3456
                    </small>
                </div>
                <div class="col-md-3 mb10">
                    <h4 class="text-muted">Construction Loan Amount</h4>
                    <p class="text-default">$123,456.00</p>
                </div>
                <div class="col-md-3 mb10">
                    <h4 class="text-muted">Loan Account Number</h4>
                    <p class="text-default">897-2271623</p>
                </div>
            </div>
        </div>

        <div class="col-md-2 text-right  mb10">
            <input type="button" class="btn btn-primary btn-lg" value="Edit" />
        </div>
    </div>

    <hr/>


    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 project-item  mb10">
                    <h4 class="text-muted">Project</h4>
                    <span class="text-primary">Commodo Ligula Fermentum</span>
                </div>
                <div class="col-md-4 project-item  mb10">
                    <h4 class="text-muted">Amount Drawn to Date</h4>
                    <span>$123,456.00</span>
                </div>
                <div class="col-md-4 project-item  mb10">
                    <h4 class="text-muted">Total Draw Amount Pending</h4>
                    <span>$123,456.00</span>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3 project-item  mb10">
                    <h4>%Drawn</h4>
                    <span>65%</span>
                </div>
                <div class="col-md-3 project-item  mb10">
                    <h4>Remaining to be Drawn</h4>
                    <span>$123,456.00</span>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row mt30 loan-bottom-section p15">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Scope Of Work</th>
                    <th>Loan Amount</th>
                    <th>Drawn to Date</th>
                    <th>Pending Draws</th>
                    <th>Amount Remaining to be Drawn</th>
                    <th>% Drawn</th>
                    <th>% Complete</th>
                    <th>% Variance</th>
                    <th>
                        <div uib-dropdown dropdown-append-to-body>
                            <a href="javascript:void(0)" uib-dropdown-toggle class="text-muted">
                                <i class="fa fa-gear"></i>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="uib-dropdown-menu loan-dropdown dropdown-menu-right chevron-down-menu" aria-labelledby="simple-dropdown">
                                <li><a>Upload Budget</a></li>
                                <li><a>Edit</a></li>
                                <li><a>Delete</a></li>
                             </ul>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="row in data">
                    <td>
                        <ui-select options="sows" selected-item="row.sow"></ui>
                    </td>
                    <td>
                        <input type="text" ui-money-mask="2" placeholder="$" ng-model="row.loan_amount"/>
                    </td>
                    <td>{{row.drawn_date}}</td>
                    <td>{{row.pending_draws}}</td>
                    <td>{{row.amount_remaining}}</td>
                    <td>{{row.percent_drawn}}</td>
                    <td>{{row.percent_complete}}</td>
                    <td>{{row.percent_variance}}</td>
                    <td></td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <h4>Total</h4>
                        <span>$123,456,789.00</span>
                    </td>
                    <td>
                        <h4>Total</h4>
                        <span>$123,456,789.00</span>
                    </td>
                    <td>
                        <h4>Total</h4>
                        <span>$123,456,789.00</span>
                    </td>
                    <td>
                        <h4>Total</h4>
                        <span>$123,456,789.00</span>
                    </td>
                    <td colspan="4" class="text-right">
                        <a class="btn btn-primary btn-lg">Save</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
