<div class="tab-content loan-wrapper">
    <div class="row no-margin">
        Project Details
    </div>
    <hr>
    <div class="row no-margin">
        <div class="pull-left loan-detail">
            <div>Type of Project</div>
            <span>Multi Unit</span>
        </div>
        <div class="pull-left loan-detail">
            <div>Square Footage</div>
            <span>4567</span>
        </div>
        <div class="pull-left loan-detail">
            <div>Start Date</div>
            <span>Aug 23, 2015</span>
        </div>
    </div>
    <hr>
    <div class="row no-margin">
        <div>Loan Information</div>
        <div class="loan-info loan-wrapper">
            <div class="row no-margin border-bottom">
                <div class="pull-left loan-info-input">
                   <span>Hello</span>
                   <input type="text" class="form-control">
                </div>
                <div class="pull-left loan-info-input">
                   <span>Hello</span>
                   <input type="text" class="form-control">
                </div>
                <div class="pull-left loan-info-input">
                   <span>Hello</span>
                   <input type="text" class="form-control">
                </div>
                <div class="pull-left loan-info-input">
                   <span>Hello</span>
                   <input type="text" class="form-control">
                </div>
                <div class="pull-left loan-info-input">
                   <span>Hello</span>
                   <input type="text" class="form-control">
                </div>
                <div class="pull-left loan-info-input">
                   <span>Hello</span>
                   <input type="text" class="form-control">
                </div>
            </div>
            <div class="row no-margin border-bottom normal-row">
                <div class="pull-left">Interest Reserve</div>
                <div class="pull-right">button</div>
            </div>
            <div class="row no-margin mt20">
                <div class="pull-left">Interest Reserve</div>
                <div class="pull-right">button</div>
            </div>
        </div>
    </div>
    <div class="row no-margin">
        <div>Loan Information</div>
        <div class="loan-info loan-wrapper">
            <div class="row no-margin border-bottom normal-row">
                <div class="pull-left">Interest Reserve</div>
                <div class="pull-right">button</div>
            </div>
            <div class="row no-margin border-bottom normal-row">
                <div class="pull-left">Interest Reserve</div>
                <div class="pull-right">button</div>
            </div>
            <div class="row no-margin border-bottom normal-row">
                <div class="pull-left">Interest Reserve</div>
                <div class="pull-right">button</div>
            </div>
            <div class="row no-margin border-bottom normal-row">
                <div class="pull-left">Interest Reserve</div>
                <div class="pull-right">button</div>
            </div>
            <div class="row no-margin border-bottom normal-row">
                <div class="pull-left">Interest Reserve</div>
                <div class="pull-right">button</div>
            </div>
            <div class="row no-margin border-bottom normal-row">
                <div class="pull-left">Interest Reserve</div>
                <div class="pull-right">button</div>
            </div>
            <div class="row no-margin border-bottom normal-row">
                <div class="pull-left">Interest Reserve</div>
                <div class="pull-right">button</div>
            </div>
            <div class="row no-margin border-bottom normal-row">
                <div class="pull-left">Interest Reserve</div>
                <div class="pull-right">button</div>
            </div>
            <div class="row no-margin mt20">
                <div class="pull-left">Interest Reserve</div>
                <div class="pull-right">button</div>
            </div>
        </div>
    </div>
    <div class="row no-margin border-bottom">
        <div class="pull-left loan-info-input">
           <span>Hello</span>
           <input type="text" class="form-control">
        </div>
        <div class="pull-left loan-info-input">
           <span>Hello</span>
           <input type="text" class="form-control">
        </div>
        <div class="pull-left loan-info-input">
           <span>Hello</span>
           <input type="text" class="form-control">
        </div>
        <div class="pull-left loan-info-input">
           <span>Hello</span>
           <input type="text" class="form-control">
        </div>
    </div>
    <div class="row no-margin">
        <div class="pull-left">*Required</div>
        <div class="btns">
            <a href="#" class="btn btn-success btn-lg btn-bids" data-toggle="dropdown">
                Got It!
            </a>
            <ul class="dropdown-menu dropdown-menu-right action-menu" role="menu">
                <li><a href="">Bid Package</a></li>
            </ul>
        </div>
    </div>
</div>