<div class="panel financial-main-panel">
    <div class="panel-body custom-panel-body no-padding">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="table-responsive">
                    <table class="table table-financial-main">
                        <thead>
                            <tr>
                                <th>Division Cost Code</th>
                                <th colspan="6">Working Budget Section</th>
                                <th colspan="2">Pending Costs</th>
                                <th colspan="4"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="first-level">
                                <td><div class="space1"><span class="sky">General Condition<i class="fa fa-chevron-up"></i></span></div></td>
                                <td>Est.Budget</td>
                                <td>Under Contract</td>
                                <td>Approved Purchase Orders</td>
                                <td>Approved Change Orders</td>
                                <td>Direct Costs</td>
                                <td>Working Budget</td>
                                <td>Pending Purchase Orders</td>
                                <td>Pending Change Orders</td>
                                <td>Unbudgeted Costs</td>
                                <td>Estimated Cost at Completion</td>
                                <td>Payments Made</td>
                                <td>Cash Required to Complete</td>
                            </tr>
                            <tr>
                                <td><div class="space1"><span class="sky">Donec ullamcorper nulla non metus auctor fringilla.</span></div></td>
                                <td>$1,000,000</td>
                                <td>$2,272.85</td>
                                <td>$8,500.00 </td>
                                <td>$1,000,000</td>
                                <td>$2,272.85</td>
                                <td>$8,500.00 </td>
                                <td>$8,500.00 </td>
                                <td>$8,500.00 </td>
                                <td>$2,272.85</td>
                                <td>$8,500.00 </td>
                                <td>$2,272.85</td>
                                <td>$2,272.85</td>
                            </tr>
                            <tr>
                                <td><div class="space1"><span class="sky">Venenatis Risus Bibendum</span></div></td>
                                <td>$800.00</td>
                                <td>$857.50 </td>
                                <td>$2,000.00</td>
                                <td>$800.00</td>
                                <td>$857.50 </td>
                                <td>$2,000.00 </td>
                                <td>$2,000.00 </td>
                                <td>$2,000.00 </td>
                                <td>$30,000.00 </td>
                                <td>$30,000.00 </td>
                                <td>$30,000.00 </td>
                                <td>$2,000.00 </td>
                            </tr>
                            <tr>
                                <td><div class="space1"><span class="sky">Nulla vitae elit libero, a pharetra augue.</span></div></td>
                                <td>$30,000.00</td>
                                <td>$30,000.00</td>
                                <td>$2,000.00 </td>
                                <td>$30,000.00</td>
                                <td>$30,000.00</td>
                                <td>$2,000.00 </td>
                                <td>$2,000.00 </td>
                                <td>$2,000.00 </td>
                                <td>$30,000.00</td>
                                <td>$2,000.00 </td>
                                <td>$30,000.00</td>
                                <td>$2,000.00 </td>
                            </tr>
                            <tr>
                                <td><div class="space1"><span class="sky">Vivamus sagittis lacus vel augue laoreet rutrum fauci.. dolor auctor.</span></div></td>
                                <td>$60,000.00 </td>
                                <td>$60,000.00 </td>
                                <td>$3,500.00</td>
                                <td>$60,000.00 </td>
                                <td>$60,000.00 </td>
                                <td>$3,500.00</td>
                                <td>$3,500.00</td>
                                <td>$3,500.00</td>
                                <td>$60,000.00 </td>
                                <td>$3,500.00</td>
                                <td>$60,000.00 </td>
                                <td>$3,500.00</td>
                            </tr>
                            <tr>
                                <td><div class="space1"><span class="sky">Donec ullamcorper nulla non metus auctor fringilla.</span></div></td>
                                <td>$10,000.00 </td>
                                <td>$10,000.00 </td>
                                <td>$1,000.00 </td>
                                <td>$10,000.00 </td>
                                <td>$10,000.00 </td>
                                <td>$1,000.00 </td>
                                <td>$1,000.00 </td>
                                <td>$1,000.00 </td>
                                <td>$10,000.00 </td>
                                <td>$1,000.00 </td>
                                <td>10,000.00</td>
                                <td>$1,000.00</td>
                            </tr>
                            <tr>
                                <td><div class="space1"><span class="sky">Venenatis Risus Bibendum</span></div></td>
                                <td>$8,500.00 </td>
                                <td>$8,500.00 </td>
                                <td>$2,000.00 </td>
                                <td>$8,500.00</td>
                                <td>$8,500.00 </td>
                                <td>$2,000.00 </td>
                                <td>$2,000.00 </td>
                                <td>$2,000.00 </td>
                                <td>85,00.00</td>
                                <td>$2,000.00 </td>
                                <td>85,00.00</td>
                                <td>$2,000.00 </td>
                            </tr>
                            <tr>
                                <td><div class="space1"><span class="sky">Nulla vitae elit libero, a pharetra augue.</span></div></td>
                                <td>$2,000.00</td>
                                <td>$2,000.00</td>
                                <td>85,00.00</td>
                                <td>$2,000.00</td>
                                <td>$2,000.00</td>
                                <td>85,00.00</td>
                                <td>85,00.00</td>
                                <td>85,00.00</td>
                                <td>$2,000.00</td>
                                <td>85,00.00</td>
                                <td>$2,000.00</td>
                                <td>85,00.00</td>
                            </tr>
                            <tr class="first-level">
                                <td><div class="space1"><span class="sky">Site Work<i class="fa fa-chevron-up"></i></span></div></td>
                                <td>Est.Budget</td>
                                <td>Under Contract</td>
                                <td>Approved Purchase Orders</td>
                                <td>Approved Change Orders</td>
                                <td>Direct Costs</td>
                                <td>Working Budget</td>
                                <td>Pending Purchase Orders</td>
                                <td>Pending Change Orders</td>
                                <td>Unbudgeted Costs</td>
                                <td>Estimated Cost at Completion</td>
                                <td>Payments Made</td>
                                <td>Cash Required to Complete</td>
                            </tr>
                            <tr>
                                <td><span class="sky">Donec ullamcorper nulla non metus auctor fringilla.</span></td>
                                <td>$1,000,000 </td>
                                <td>$2,272.85</td>
                                <td>$2,272.85</td>
                                <td>$1,000,000 </td>
                                <td>$2,272.85</td>
                                <td>$8,500.00</td>
                                <td>$8,500.00</td>
                                <td>$8,500.00 </td>
                                <td>$2,272.85</td>
                                <td>$8,500.00 </td>
                                <td>$2,272.85</td>
                                <td>$8,500.00 </td>
                            </tr>
                            <tr>
                                <td><div class="space1"><span class="sky">Venenatis Risus Bibendum</span></div></td>
                                <td>$8,500.00 </td>
                                <td>$857.50 </td>
                                <td>$2,000.00 </td>
                                <td>$800.00 </td>
                                <td>$857.50 </td>
                                <td>$2,000.00</td>
                                <td>$2,000.00 </td>
                                <td>$2,000.00 </td>
                                <td>$857.50 </td>
                                <td>$2,000.00 </td>
                                <td>$857.50 </td>
                                <td>$2,000.00 </td>
                            </tr>
                            <tr>
                                <td><div class="space1"><span class="sky">Nulla vitae elit libero, a pharetra augue.</span></div></td>
                                <td>$30,000.00</td>
                                <td>$30,000.00</td>
                                <td>$2,000.00</td>
                                <td>$30,000.00</td>
                                <td>$30,000.00</td>
                                <td>$2,000.00</td>
                                <td>$2,000.00</td>
                                <td>$2,000.00</td>
                                <td>$30,000.00</td>
                                <td>$2,000.00</td>
                                <td>$30,000.00</td>
                                <td>$2,000.00</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div id="tab-2" class="tab-pane">
                <b>Tab2 Data</b>
            </div>
            <div id="tab-3" class="tab-pane">
                <b>Tab3 Data</b>
            </div>
            <div id="tab-4" class="tab-pane">
                <b>Tab4 Data</b>
            </div>
            <div id="tab-5" class="tab-pane">
                <b>Tab5 Data</b>
            </div>
            <div id="tab-6" class="tab-pane">
                <b>Tab6 Data</b>
            </div>

        </div>
    </div>
</div>

<div class="row mt20 white financial-main-bottom">
    <div class="col-md-3">
        <span class="text-muted">Land Cost</span>
        <p class="text-default">$1,000,000.00</p>
    </div>
    <div class="col-md-2">
        <span class="text-muted">Development Cost</span>
        <p class="text-default">$3,345,000.00</p>
    </div>
    <div class="col-md-2">
        <span class="text-primary">Additional Cost</span>
        <p class="text-primary">$5,567.00</p>
    </div>
    <div class="col-md-2">
        <span class="text-info">Total Project Cost</span>
        <p class="text-info">$1,980,000.00</p>
    </div>
    <div class="col-md-3">
        <span class="text-muted">Total Project Cost per Sqft</span>
        <p class="text-default">$568.00</p>
    </div>
</div>
