<div class="animated FadeInRight">
    <div class="payapply-wrapper">
        <div class="row payapply-head border-bottom">
            <div class="col-lg-7">
                <table class="table no-border">
                    <tr>
                        <td>
                            <canvas doughnutchart options="mineOptions" data="mineData" height="90" width="90"></canvas>
                        </td>
                        <td>
                            <div>TOTAL PURCHASE ORDERS</div>
                            <div class="font-regular value">$175,415.46</div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="label label-warning">&nbsp;</div>
                                    <small>PURCHASE ORDERS IN PROCESS</small>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="text-muted font-regular">Count</div>
                                            <div class="value font-regular">4</div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="text-muted font-regular">Amount</div>
                                            <div class="value font-regular">$101,973.77</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="label label-success">&nbsp;</div>
                                    <small>PURCHASE ORDERS COMPLETED</small>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="text-muted font-regular">Count</div>
                                            <div class="value font-regular">6</div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="text-muted font-regular">Amount</div>
                                            <div class="value font-regular">$73,411.69</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-5">
                <div class="panel panel-default mt20">
                    <table class="table no-border">
                        <tr>
                            <td>
                                <small>ITEMS REQUIRING MY ACTIONS</small>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="text-muted font-regular">Count</div>
                                        <div class="value font-regular">1</div>
                                    </div>
                                    <div class="pull-left pl20">
                                        <div class="text-muted font-regular">Amount</div>
                                        <div class="value font-regular">$48,972.00</div>
                                    </div>
                                </div>
                            </td>
                            <td style="vertical-align: middle" class="text-right">
                                <a class="btn btn-primary btn-lg">Review Purchase Orders</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row payapply-table">
            <div class="col-md-12">
                <h3 class="pull-left">Actions Required by Me</h3>
                <div class="btns pull-right">
                    <a href="" class="btn btn-default" data-toggle="dropdown">
                        Filter by <i class="fa fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right action-menu" role="menu">
                        <li><a href="">Date</a></li>
                        <li><a href="">Worker</a></li>
                        <li><a href="">Tag</a></li>
                        <li><a href="">Location</a></li>
                        <li><a href="">Project</a></li>
                    </ul>
                </div>
                <div class="search-field">
                    <i class="fa fa-search"></i>
                    <input type="text text-default" placeholder="Search by date, worker, tag, location or project" class="form-control round">
                </div>
                <div class="clearfix"></div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <th class="flag"></th>
                            <th class="title">Name & Project</th>
                            <th class="due-date">Date Submitted</th>
                            <th class="responsible">Responsible</th>
                            <th class="initiator">Supplier</th>
                            <th class="sow">SOW</th>
                            <th class="amount">Amount</th>
                            <th class="staus">Status</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="row in applies.listRequiredByMe">
                            <td class="flag">
                                <span>
                                    <img ng-show="row.flag == 'red'" src="assets/img/red_icon.png">
                                    <img ng-show="row.flag == 'yellow'" src="assets/img/yellow _icon.png">
                                    <img ng-show="row.flag == 'green'" src="assets/img/flag_green.png">
                                    <img ng-show="row.flag == 'canceled'" src="assets/img/failed.png">
                                    <img ng-show="row.flag == 'completed'" src="assets/img/completed.png">
                                    <img ng-show="row.flag == 'draft'" src="assets/img/edit_circle.png">
                                </span>
                            </td>
                            <td class="title"><a ui-sref="pay-application.preview">{{ row.title }}</></a><br><small>{{ row.type}}</small></td>
                            <td class="order-by-date">{{ row.due_date }}</td>
                            <td class="responsible"><a href="">{{ row.responsible.name }}</a><br><small>{{ row.responsible.company }}</small></td>
                            <td class="initiator"><a href="">{{ row.initiator.name }}</a><br><small>{{ row.initiator.company }}</small></td>
                            <td class="sow">{{ row.sow }}</td>
                            <td class="amount">${{ row.amount | number:2 }}</td>
                            <td class="status">
                                <span class="label" ng-class="{'in-process': row.status[0] == 'In Process' 
                                                                 || row.status[0] == 'approved awaiting payment',
                                                               'draft': row.status[0] == 'Draft',
                                                               'pending': row.status[0] == 'pending' 
                                                                 || row.status[0] == 'pending approval',
                                                               'completed': row.status[0] == 'Completed' 
                                                                 || row.status[0] == 'Final' }">
                                    {{ row.status[0] }}
                                </span><br>
                                <!-- <small ng-show="row.status[1] != '-'">{{ row.status[1] * 100  }}% Completed</small> -->
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                                <td>
                                    <span>Total</span>
                                    <p>$1,119,234.00</p>
                                </td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="row payapply-table">
            <div class="col-md-12">
                <h3>Actions Required by Others</h3>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <th class="flag"></th>
                            <th class="title">Name & Project</th>
                            <th class="due-date">Date Submitted</th>
                            <th class="responsible">Responsible</th>
                            <th class="initiator">Supplier</th>
                            <th class="sow">SOW</th>
                            <th class="amount">Amount</th>
                            <th class="staus">Status</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="row in applies.listRequiredByOthers">
                            <td class="flag">
                                <span>
                                    <img ng-show="row.flag == 'red'" src="assets/img/red_icon.png">
                                    <img ng-show="row.flag == 'yellow'" src="assets/img/yellow _icon.png">
                                    <img ng-show="row.flag == 'green'" src="assets/img/flag_green.png">
                                    <img ng-show="row.flag == 'canceled'" src="assets/img/failed.png">
                                    <img ng-show="row.flag == 'completed'" src="assets/img/completed.png">
                                    <img ng-show="row.flag == 'draft'" src="assets/img/edit_circle.png">
                                </span>
                            </td>
                            <td class="title"><a ui-sref="pay-application.preview">{{ row.title }}</></a><br><small>{{ row.type}}</small></td>
                            <td class="order-by-date">{{ row.due_date }}</td>
                            <td class="responsible"><a href="">{{ row.responsible.name }}</a><br><small>{{ row.responsible.company }}</small></td>
                            <td class="initiator"><a href="">{{ row.initiator.name }}</a><br><small>{{ row.initiator.company }}</small></td>
                            <td class="sow">{{ row.sow }}</td>
                            <td class="amount">${{ row.amount | number:2 }}</td>
                            <td class="status">
                                <span class="label" ng-class="{'in-process': row.status[0] == 'In Process' 
                                                                 || row.status[0] == 'approved awaiting payment',
                                                               'draft': row.status[0] == 'Draft',
                                                               'pending': row.status[0] == 'pending' 
                                                                 || row.status[0] == 'pending approval',
                                                               'completed': row.status[0] == 'Completed' 
                                                                 || row.status[0] == 'Final' }">
                                    {{ row.status[0] }}
                                </span><br>
                                <!-- <small ng-show="row.status[1] != '-'">{{ row.status[1] * 100  }}% Completed</small> -->
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                                <td>
                                    <span>Total</span>
                                    <p>$53,000.95</p>
                                </td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="row payapply-table">
            <div class="col-md-12">
                <h3>Purchase Order Drafts</h3>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <th class="flag"></th>
                            <th class="title">Name & Project</th>
                            <th class="due-date">Date Submitted</th>
                            <th class="responsible">Responsible</th>
                            <th class="initiator">Supplier</th>
                            <th class="sow">SOW</th>
                            <th class="amount">Amount</th>
                            <th class="staus">Status</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="row in applies.listDrafts">
                            <td class="flag">
                                <span>
                                    <img ng-show="row.flag == 'red'" src="assets/img/red_icon.png">
                                    <img ng-show="row.flag == 'yellow'" src="assets/img/yellow _icon.png">
                                    <img ng-show="row.flag == 'green'" src="assets/img/flag_green.png">
                                    <img ng-show="row.flag == 'canceled'" src="assets/img/failed.png">
                                    <img ng-show="row.flag == 'completed'" src="assets/img/completed.png">
                                    <img ng-show="row.flag == 'draft'" src="assets/img/edit_circle.png">
                                </span>
                            </td>
                            <td class="title"><a ui-sref="pay-application.preview">{{ row.title }}</></a><br><small>{{ row.type}}</small></td>
                            <td class="order-by-date">{{ row.due_date }}</td>
                            <td class="responsible"><a href="">{{ row.responsible.name }}</a><br><small>{{ row.responsible.company }}</small></td>
                            <td class="initiator"><a href="">{{ row.initiator.name }}</a><br><small>{{ row.initiator.company }}</small></td>
                            <td class="sow">{{ row.sow }}</td>
                            <td class="amount">${{ row.amount | number:2 }}</td>
                            <td class="status">
                                <span class="label" ng-class="{'in-process': row.status[0] == 'In Process' 
                                                                 || row.status[0] == 'approved awaiting payment',
                                                               'draft': row.status[0] == 'Draft',
                                                               'pending': row.status[0] == 'pending' 
                                                                 || row.status[0] == 'pending approval',
                                                               'completed': row.status[0] == 'Completed' 
                                                                 || row.status[0] == 'Final' }">
                                    {{ row.status[0] }}
                                </span><br>
                                <!-- <small ng-show="row.status[1] != '-'">{{ row.status[1] * 100  }}% Completed</small> -->
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                                <td>
                                    <span>Total</span>
                                    <p>$-</p>
                                </td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="row payapply-table">
            <div class="col-md-12">
                <h3>Completed Purchase Orders</h3>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered cpo-table">
                        <thead>
                            <th class="flag"></th>
                            <th class="title">Name & Project</th>
                            <th class="due-date">Date Submitted</th>
                            <th class="responsible">Responsible</th>
                            <th class="initiator">Supplier</th>
                            <th class="sow">SOW</th>
                            <th class="amount">Amount</th>
                            <th class="staus">Status</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="row in applies.listCompleted">
                            <td class="flag">
                                <span>
                                    <img ng-show="row.flag == 'red'" src="assets/img/red_icon.png">
                                    <img ng-show="row.flag == 'yellow'" src="assets/img/yellow _icon.png">
                                    <img ng-show="row.flag == 'green'" src="assets/img/flag_green.png">
                                    <img ng-show="row.flag == 'canceled'" src="assets/img/failed.png">
                                    <img ng-show="row.flag == 'completed'" src="assets/img/completed.png">
                                    <img ng-show="row.flag == 'draft'" src="assets/img/edit_circle.png">
                                </span>
                            </td>
                            <td class="title"><a ui-sref="pay-application.preview">{{ row.title }}</></a><br><small>{{ row.type}}</small></td>
                            <td class="order-by-date">{{ row.due_date }}</td>
                            <td class="responsible"><a href="">{{ row.responsible.name }}</a><br><small>{{ row.responsible.company }}</small></td>
                            <td class="initiator"><a href="">{{ row.initiator.name }}</a><br><small>{{ row.initiator.company }}</small></td>
                            <td class="sow">{{ row.sow }}</td>
                            <td class="amount">${{ row.amount | number:2 }}</td>
                            <td class="status">
                                <span class="label" ng-class="{'in-process': row.status[0] == 'In Process' 
                                                                 || row.status[0] == 'approved awaiting payment',
                                                               'draft': row.status[0] == 'Draft',
                                                               'pending': row.status[0] == 'pending' 
                                                                 || row.status[0] == 'pending approval',
                                                               'completed': row.status[0] == 'Completed' 
                                                                 || row.status[0] == 'Final' }">
                                    {{ row.status[0] }}
                                </span><br>
                                <!-- <small ng-show="row.status[1] != '-'">{{ row.status[1] * 100  }}% Completed</small> -->
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                                <td>
                                    <span>Total</span>
                                    <p>$131,046.57</p>
                                </td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
