.bankdraw-initiate {
    .title {
        font-size: 17px;
        line-height: 30px;
        margin-top: 5px;
    }
    .heading {
        font-size: 16px;
        line-height: 30px;
        color: #a1a3a5;
    }
    .sub-title {
        font-size: 14px;
    }
    .top {
        background: white;
        .closeBox {
            background: #000;
            width: 100px;
            padding: 110px 0;
            text-align: center;
            float: left;
        }
        .detail {
            padding: 30px 20px 0;
            margin-top: 10px;
            width: calc(100% - 100px);
            float: left;

            .pull-left {
                font-size: 14px;
            }
            .pull-right {
                padding-top: 30px;
                table tr > td {
                    padding: 3px 10px;
                    &:first-child {
                        text-align: right;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}