$demi: "AvenirNextLTPro-Demi";
$bold: "AvenirNextLTPro-Bold";
$medium: "AvenirNextLTPro-Medium";
$regular: "AvenirNextLTPro-Regular";

$c-primary: #3aabd5;
$c-gray-border: #eee;
$c-fa-icon: #aaa;
$c-text-gray: #808080;

.bs-content-section {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    margin-top: 30px;
    padding: 5px 15px 15px 15px;
}

.bs-summary-row {
    display: table;
    margin-top: 10px;

    .bs-summary-title {
        float: left;
        font-family: "AvenirNextLTPro-Regular";
        font-size: 12px;
        width: 170px;
    }

    .bs-summary-value {
        float: right;
        font-family: "AvenirNextLTPro-Bold";
        font-size: 11px;
    }
}

.bs-schedule-head {
    table > thead > tr > th {
        color: $c-text-gray;
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: $demi;
        font-size: 12px;
    }
}

.bs-tree {
    .angular-ui-tree-nodes .fa {
        font-size: 18px;
        padding-right: 5px;
    }

    .bullet {
        padding-right: 15px;
    }
}
