.modal.bids-quick-modal .modal-dialog {
    width: 1020px;
    color: #44474b;
}

@media (max-width: 768px) {
    .modal.bids-quick-modal .modal-dialog {
        width: 90%;
    }
}

.bids-quick-modal {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 13px;
    .modal-body {
        padding: 20px 30px 0 30px;
    }
    .modal-footer {
        border-top: none;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .text-active {
        color: #3aabd5;
    }

    .quick-header {
        border-bottom: 1px solid #d7d7d7;
        padding-top: 10px;
        input {
            width: 20%;
            border: 0px;
            background: transparent;
            padding: 10px;
            padding-bottom: 20px;
            padding-left: 0px;
            font-family: "AvenirNextLTPro-Regular";
            font-size: 17px;
        }
        span {
            font-size: 17px;
            color: #3aabd5;
        }
    }

    .quick-info {
        padding: 10px 0;
        border-bottom: 1px solid #d7d7d7;
        span {
            display: inline-block;
            width: 130px;

            h5 {
                font-family: "AvenirNextLTPro-Bold";
                font-size: 9px;
                color: #808080;
            }
            .bid-number {
                background-color: black;
                color: white;
                border-radius: 3px;
                padding: 2px 4px;
                width: auto;
                font-size: 10px;
            }
            .bid-date {
                font-family: "AvenirNextLTPro-Medium";
                font-size: 13px;
            }
        }
    }

    .quick-content {
        padding: 15px 0px;
        border-bottom: 1px solid #d7d7d7;
        .btn.dropdown-toggle {
            border: 1px solid #d7d7d7;
        }

        span {
            display: inline-block;
            width: 25%;
            padding-right: 15px;
            vertical-align: middle;
        }
        input {
            width: 100%;
            height: 52px;
            padding: 10px;
            background-color: #f9f9f9;
        }

        a {
            color: #3aabd5;
        }

        .content-first{

        }
        .content-second {
            padding: 15px 0px;
            .duration {
                width: 10%
            }
            .amount {
                width: 20%;
            }
            .required {
                width: 18%;
                padding-right: 0px;
                margin-top: 25px;
            }
        }

    }

    .tm-invite-dropdown {
        span {
            width: 10px;
        }
    }
}