.con-page-wrapper {

    padding-top: 0;
    margin-bottom: 0;

    .con-page-info {
        background: #fff none repeat scroll 0 0;
        box-shadow: 1px 0 4px #d8d8d8;
    }

    .closeBox {
        background: #000;
        width: 100px;
        padding: 110px 0;
        text-align: center;
    }

    .con-page-title {
        margin-top: 60px;
        width: calc(100% - 100px);

        h2 {
            font-family: AvenirNextLTPro-Regular;
            font-size: 27px;
            margin-top: 0px;
        }

        input {
            background: transparent;
            border: 0;
            border-bottom: 1px solid #ccc;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 0px;
            width: 100%;
            font-size: 17px;
        }

        .project-info {
            h3 {
                font-family: "AvenirNextLTPro-Demi";
                font-size: 16px;
                margin-bottom: 0;
                margin-top: 20px;
            }

            span {
                font-family: "AvenirNextLTPro-Demi";
                font-size: 12px;
            }
        }
    }

    .co-info {
        color: #4a4a4a;
    }

    .first-section {
        background-color: #fff;
        border: 1px solid #d7d7d7;
        border-radius: 3px;
        margin-top: 30px;
        padding: 20px;

        .date-field-wrapper {
            border: 1px solid #eee;
        }

        .table-responsive {
            border: 1px solid #eee;

            table {
                vertical-align: middle;
                font-family: AvenirNextLTPro-Regular;

                tbody {
                    tr {

                        &:first-child td {
                            border-top: 0;
                        }

                        td {
                            vertical-align: middle;
                        }
                    }
                }

                thead {
                    background-color: #f9f9f9;

                    tr {

                        &:first-child th {
                            border-bottom: 0;
                        }

                        th {
                            vertical-align: middle;
                            font-weight: normal;
                        }
                    }
                }
            }

            .con-duration-table {
                input {
                    width: 115px;
                }
            }
        }

        table {
            input {
                padding: 15px;
                background-color: #f9f9f9;

                &:focus {
                    background-color: #fff;
                }
            }

        }

        .more-option {
            text-decoration: underline;
        }

        textarea {
            background-color: #f9f9f9;

            &:hover {
                border: 1px solid #eee;
            }

            &:focus, &:active {
                background-color: #fff;
                border: 1px solid #eee;
            }
        }

        .options {
            .options-bar {
                border: 1px solid #eee;
                border-radius: 3px;

                .ob-item {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    padding-top: 5px;
                    padding-bottom: 5px;

                    &:not(:last-child) {
                        @media (min-width: 992px) {
                            border-right: 1px solid #eee;
                        }
                    }

                    &:not(:first-child) {
                        text-align: center;
                    }

                    &:first-child {
                        @media (max-width: 992px) {
                            text-align: center;
                        }
                        span {
                            margin-left: 15px;
                        }
                    }
                }

                .checkbox {
                    margin-top: 0;
                    margin-bottom: 0;
                }

            }
        }
    }

    .second-section {
        margin-left: -15px;
        margin-right: -15px;
        padding: 30px;
        background-color: #eee;

        .second-content {
            border: 1px solid #eee;
            background-color: #f9f9f9;

            .nav-tabs {

                border-bottom: 1px solid #eee;

                > li {
                    > a {
                        font-family: AvenirNextLTPro-Medium;
                        font-size: 13px;
                        color: #6c6c6c;
                        min-width: 110px;
                        text-align: center;
                        padding: 15px 30px;
                        border-radius: 0;
                        border-top: 0;
                    }

                    &:first-child > a {
                        border-left: 0;
                    }

                    &.active a {
                        color: #e25c5c;
                        background: white;
                        border-bottom: 1px solid white;
                    }
                }

            }

            .tab-content {
                border: 0;

                .comments-wrapper {

                    .comment {
                        position: relative;
                        font-size: 13px;

                        margin-bottom: 15px;
                        font-family: AvenirNextLTPro-Regular;

                        > div {
                            display: inline-block;
                        }

                        .author {
                            font-size: 13px;
                            font-family: AvenirNextLTPro-Demi;
                        }

                        .edit {
                            position: absolute;
                            right: 20px;
                            top: 4px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        h3 {
            margin-top: 20px;
            font-family: AvenirNextLTPro-Demi;
            font-size: 13px;
        }

        textarea {
            padding: 15px;
            border-radius: 3px;
            color: #4a4a4a;
            background-color: #f9f9f9;

            &:active, &:focus {
                background-color: #fff;
                border-color: #eee;
            }
        }

    }
}

 // ui typeahead

.ui-typeahead {
    display: block;
    padding: 15px;
    border: 1px solid #eee;

    input {
        padding: 0px;
        border: none;
        height: 18px;
        font-family: AvenirNextLTPro-Demi !important;
        font-size: 14px;
        color: #3aabd5;
        font-weight: 400;
    }

    ul {
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
        width: 100%;

        > li {
            width: 100%;
        }
    }

    span {
        position: absolute;
        right: 20px;
        top: 13px;
        font-family: AvenirNextLTPro-Demi !important;
        font-size: 14px;
        color: #3aabd5;
        font-weight: 400;

        -webkit-box-shadow: none !important;
        box-shadow: none !important;

        i {
            cursor: pointer;
        }
    }
}
