.pi-page-wrapper {
    padding-top: 0px;

    .bankbg {
        background: #fff none repeat scroll 0 0;
        box-shadow: 1px 0 4px #d8d8d8;
    }

    .closeBox {
        background: #000;
        width: 100px;
        padding: 110px 0;
        text-align: center;

        .fa {
            margin-right: 5px;
        }
    }

    .pi-page-title {
        margin-top: 60px;
        width: calc(100% - 100px);

        .heading {
            font-family: "AvenirNextLTPro-Regular";
            font-size: 27px;
        }

        .pi-app-info {
            padding-right: 40px;
            width: 100%;
            font-size: 12px;
        }
    }

    @media (min-width: 768px) {
        .pi-page-title .pi-app-info {
            float: right;
        }
    }

    @media (max-width: 767px) {
        .pi-page-title .pi-app-info {
            float: left;
        }
    }

    .mt5 {
        margin-top: 5px;
    }

    .mb30 {
        margin-bottom: 30px;
    }

    .pt15 {
        padding-top: 15px;
    }

    .pi-pt15 {
        padding-top: 15px;
    }

    .label-black {
        background: #000;
        color: #fff;
        font-family: "AvenirNextLTPro-Demi";
    }

    .app-name-input {
        width: 100%;
        border: 0px;
        background: transparent;
        color: #CCC;
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;

        &:focus{
            outline: 0 !important;
        }
    }

    .content-section {
        background-color: #fff;
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        margin-top: 30px;
        padding: 15px;

        .section-title {
            margin-top: 10px;
            color: #4a4a4a;
        }
    }

    .pi-number-circle {
        border-radius: 50%;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */

        width: 25px;
        height: 25px;
        padding: 4px;

        background: #fff;
        border: 2px solid #3aabd5;
        color: #3aabd5;
        text-align: center;

        font-family: "AvenirNextLTPro-Demi";
        margin-right: 5px;
    }

    .pi-total-billing-items {
        width: 150px;
        margin-top: 5px;
        display: flex;

        .text-primary {
            margin-top: 5px;
        }
    }

    table {
        thead th {
            font-family: "AvenirNextLTPro-Demi";
            font-size: 13px;
            color: #808080;
            border: none;
        }

        td {
            vertical-align: middle !important;
            border-right: 0px !important;
            border-left: 0px !important;
        }

        .pi-normal-row {
            font-family: "AvenirNextLTPro-Demi";
            font-size: 13px;
            color: #808080;

            input {
                padding: 10px;
                font-size: 13px;
            }

            .pi-right-symbol-input input {
                padding-right: 25px;
            }

            .pi-right-symbol-input span {
                position: relative;
                left: -20px;
            }

            .pi-left-symbol-input {
                margin-left: -10px;
            }

            .pi-left-symbol-input input {
                padding-left: 25px;
            }

            .pi-left-symbol-input span {
                position: relative;
                right: -20px;
            }
        }

        .pi-total-row {
            font-family: "AvenirNextLTPro-Demi";
            font-size: 15px;
            color: #666;

            td {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }

    .pi-total-table {
        td {
            border-top: 0px !important;
        }

        .subtotal-value {
            background: #f3f3f3;
            padding: 15px 15px;
            margin-top: 5px;
            border-radius: 5px;
        }
    }

    textarea.pi-textarea {
        border-radius: 5px;
        padding: 20px;
        color: #ccc;
    }

    .pi-modal-title {
        font-size: 18px;
        text-align: left;
    }

    /* Dropzoen CSS */
    .pi-file-dropzone {
        border: 1px dashed #3aabd5;

        .dropzone {
            min-height: 80px;
            margin-top: 0px !important;
            padding: 0px;

            .dz-default.dz-message {
                background-image: url('/assets/img/financials/dropzone.png');
                background-position: left;
                background-size: 45px;
                top: 0;
                left: 0;
                margin-right: 0;
                margin-top: 0;
                margin-left: 10%;
                height: 70px;
            }
        }

        .dropzone-title {
            margin-left: calc(10% + 55px);
            top: 35%;
            position: absolute;
        }
    }
}
