.payapply-wrapper {
    padding: 20px;
    border: 1px solid #eee;
    border-top: none;
    box-shadow: -2px -2px 10px #eee;
    background-color: white;
}

.payapply-head {
    .normal {
        width: 20%;
        float: left;
        padding-right: 10px;

        h5 {
            font-family: "AvenirNextLTPro-Demi";
            font-size: 12px;
            color: #808080;
            margin-bottom: 5px;
        }
        span {
            font-family: "AvenirNextLTPro-Medium";
            font-size: 11px;
            color: #808080;
        }
        p {
            font-family: "AvenirNextLTPro-Medium";
            font-size: 14px;
            color: #4a4a4a;
        }
        .btns > a {
            width: 200px;
            margin-top: 15px;
        }
    }
}

.payapply-table {
    margin-bottom: 25px;

    table {
        border-left: none;
        border-right: none;
    }
    table thead,
    table tbody {
        border: 1px solid #eee;
    }

    table tbody tr td {
        padding: 6px;
        height: 50px;
    }
    table thead tr th {
        padding: 6px;
        height: 40px;
    }

    h3 {
        font-family: "AvenirNextLTPro-Medium";
        font-size: 17px;
        color: #4a4a4a;
        margin: 25px 0 15px;
    }

    table thead th {
        font-family: "AvenirNextLTPro-Demi";
        font-size: 13px;
        color: #808080;
        border: none;
    }

    table thead th,
    table tbody td,
    table tfoot td {
        vertical-align: middle;
        border: none;
    }

    table tbody tr {
        border-top: 1px solid #eee;
    }
    table tfoot tr {
        border-top: 1px solid #eee;
        border-right: none;
        border-left: none;
    }
    table tfoot span {
        font-family: "AvenirNextLTPro-Demi";
        font-size: 12px;
        color: #808080;
    }
    table tfoot p {
        margin-bottom: 5px;
    }

    th.flag {
        width: 4%;
    }
    td.flag span {
        margin: 4px;
    }

    th.title {
        width: 27%;
    }
    th.sow {
        width: 20%;
    }
    th.initiator,
    th.due-date,
    th.amount {
        width: 9%;
    }
    th.responsible,
    th.status {
        width: 10%;
    }
    td.order-by-date {
        width: 9%;
        font-family: AvenirNextLTPro-Regular;
        font-size: 13px;
        color: #44474b;
    }
    td.sow {
        width: 20%;
        font-family: AvenirNextLTPro-Demi;
        font-size: 13px;
        color: #808080;
    }

    td.title a {
        font-family: AvenirNextLTPro-Demi;
        font-size: 13px;
        color: #686868;
    }
    td.title small {
        font-family: AvenirNextLTPro-Demi;
        font-size: 10px;
        color: #9e9e9e;
    }
    td.responsible a,
    td.initiator a {
        font-family: AvenirNextLTPro-Demi;
        font-size: 12px;
        color: #3aabd5;
    }
     td.responsible small,
     td.initiator small {
        font-family: AvenirNextLTPro-Demi;
        font-size: 10px;
        color: #9e9e9e;
    }

    td.amount {
        width: 9%;
        font-family: AvenirNextLTPro-Regular;
        font-size: 13px;
        color: #44474b;
    }

    td.status .in-process {
        color: #61c571;
    }
    td.status .pending {
        color: #fdb04a;
    }
    td.status .draft {
        color: #2a2d33;
    }
    td.status .completed {
        color: #3aabd5;
    }
    td.flag span {
        margin: 4px;
    }

    td.status .label {
        background-color: transparent;
        text-transform: uppercase;
        font-family: "AvenirNextLTPro-Demi";
        font-size: 10px;
        padding: 2px 0px 2px 0px;
    }
    td.status small {
        font-family: "AvenirNextLTPro-Regular";
        font-size: 11px;
        color: #44474b;
    }

    .search-field {
        width: 30%;
        margin-top: 15px;
        float: right;
        margin-right: 20px;
    }
    .search-field input{
        font-size: 12px;
    }
    .btns > a {
        font-family: "AvenirNextLTPro-Demi";
        font-size: 12px;
        margin: 0;
        background-color: white;
        color: #4a4a4a;
        border-radius: 20px;
        padding: 7px;
        width: 100px;
        border: 1px solid #b7b7b7;
        margin-top: 15px;
    }
    .btns i {
        margin-left: 5px;
    }

}