/* ******************** PHOTOS ***********************/

.buy .btn-danger {
  border: none;
}


/* ******************** No Folder ***********************/

.white {
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

.photos {
  h3 {
    font-family: 'AvenirNextLTPro-Medium';
    font-size: 19px;
  }

  a {
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 14px;
    color: #3aabd5;
  }

  .filters, .folders {
    border-bottom: 1px solid #dedede;
    display: block;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .searchround {
    background: #f6f6f6 url("../img/search-icon.png") no-repeat scroll 10px 8px;
    border: 1px solid #f3f3f3;
    border-radius: 100px;
    box-shadow: none;
  }

  .searchdown {
    padding: 0;
  }

  .viewall {
    padding: 0;

    a {
      line-height: 34px;
    }
  }

  .folders {
    position: relative;
    .arrow {
      position: absolute;
      top: 40px;
      left: 112px;
      width: 321px;
      height: 73px;
    }

    h3 a {
      font-size: 14px;
      margin-left: 15px;
    }


    p {
      color: #4a4a4a;
      font-size: 18px;
      font-family: 'AvenirNextLTPro-Regular';
    }

    span {
      color: #4a4a4a;
      font-size: 14px;
      font-family: 'AvenirNextLTPro-Regular';
      margin-bottom: 50px;
    }

  }

  .panel-body {
    h3 {
      margin-top: 0;
      display: inline-block;
    }

    .options {
      line-height: 33px;
      font-size: 12px;
      margin-left: 15px;
    }

    h3 button {
      color: #4a4a4a;
      display: inline-block;

      &:focus {
        box-shadow: none;
      }

      i {
        margin-left: 10px;
      }

    }
    .photo {
        position: relative;

        .selected {
            border-color: #e25c5c !important;
        }

        .overlay {
            background: rgba(0,0,0,.5);
            text-align: center;
            opacity: 0;
            position: absolute;
            height: calc(100% - 20px);
            width: calc(100% - 30px);
            -webkit-transition: opacity .25s ease;
            -moz-transition: opacity .25s ease;
            z-index: 99;
            padding: 10px;

            .uploaded_by {
                font-family: AvenirNextLTPro-Demi;
                font-size: 12px;
                color: #fff;
                margin-bottom: 5px;
            }

            .uploaded_at {
                font-family: AvenirNextLTPro-Demi;
                font-size: 10px;
                color: #fff;
            }

            .desc {
                font-family: AvenirNextLTPro-Regular;
                font-size: 11px;
                color: #fff;
                position: absolute;
                bottom: 10px;
            }
        }

        .thumbnail {
          height: 160px;
          width: 100%;
          padding: 0;
          border-radius: 0;
          border-color: #fff;
          border-width: 2px;
          background-color: #f9f9f9;
          position: relative;

          input[type=checkbox] {
              position: absolute;
              left: 10px;
              top: 10px;
              z-index: 99;
          }

          img {
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              max-height: 100%;
          }
        }

        &:hover .overlay {
            opacity: 1;
        }
    }
  }

  .panel-heading {
    .scrollbar {
      margin: 8px 0 20px;
      height: 3px;
    }

    button {
      border: none;
      background: transparent;
      position: absolute;
      top: 83px;
      z-index: 99;
    }

    .backward {
      left: 0px;
    }

    .forward {
      right: 0px;
    }

    .frame {
      height: 97px;
      line-height: inherit;
      margin: 0 15px;
      padding: 0 2px;
      overflow: initial !important;
    }

    .folders ul {
      overflow: inherit;
      li {
        width: 130px;
        margin-right: 10px;
        border: 2px solid #fff;
        position: relative;
        cursor: inherit;
        &.active {
          border-color: #e25c5c;
          background-color: transparent;
        }

        img {
            height: 100%;
            width: 100%;
            left: 0;
            position: absolute;
            top: 0;
        }

        .mask {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          background: rgba(0, 0, 0, 0.3);
          position: relative;
          text-align: left;
          padding: 10px;
          .folder-name {
            color: #fff;
            font-family: 'AvenirNextLTPro-Demi';
            font-size: 11px;
          }

          .folder-date {
            color: #c9c9c9;
            font-family: 'AvenirNextLTPro-Demi';
            font-size: 10px;
            text-transform: uppercase;
          }

          .folder-number-photos {
            color: #fff;
            font-family: 'AvenirNextLTPro-Regular';
            font-size: 11px;
            position: absolute;
            bottom: 8px;
            left: 10px;
          }

        }

      }

    }

  }

  .panel-body .option {
    > li {
      display: inline-block;
      border-right: 1px solid #d7d7d7;
      line-height: 31px;
      button {
        background: white;
        border: none;
        font-size: 12px;
        color: #868686;
        font-family: 'AvenirNextLTPro-Demi';
      }

    }

  }

  .panel-heading .folders ul li {
    &:hover {
      border-color: #e25c5c;
      background-color: transparent;
    }

    &.new {
      border-color: #fff;
      .mask {
        background: #a3a3a3;
      }

      .add-name {
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #eee;
        background: #f9f9f9;
        i {
          font-size: 18px;
          position: absolute;
          top: -10px;
          cursor: pointer;
          background-color: #fff;
          &.accept {
            color: #79c485;
            right: -7px;
          }

          &.remove {
            color: #e98282;
            left: -7px;
          }

        }

        input {
          text-align: center;
          background: transparent;
          border: none;
          font-family: 'AvenirNextLTPro-Regular';
          font-size: 11px;
          color: #4a4a4a;
          border-bottom: 1px solid #d7d7d7;
          height: 30px;
          position: relative;
          top: -15px;
          width: 110px;
          box-shadow: none;
          margin: 0 auto;
        }

      }

    }

  }

  .panel-body .dropdown {
    .dropdown-menu {
      z-index: 999;
    }

  }

}


@media (max-width: 979px) {
  .photos .folders .arrow {
    display: none;
  }

}


.photos-preview .modal-content {
  .modal-header {
    padding: 0;
    .close {
      opacity: 1;
      color: #fff;
      font-weight: normal;
      font-size: 30px;
      margin-top: -12px;
    }

    h2 {
      font-family: "AvenirNextLTPro-Demi";
      color: #fff;
      font-size: 12px;
      span {
        font-size: 11px;
        font-family: 'AvenirNextLTPro-Regular';
        line-height: 25px;
      }

    }

    ul li {
      display: inline-block;
      margin-left: 20px;
      a {
        font-family: "AvenirNextLTPro-Demi";
        color: #fff;
        font-size: 12px;
        line-height: 40px;
        i {
          margin-right: 10px;
        }

      }

    }

  }

  .modal-body {
    background-color: #fff;
    border: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0;
    img {
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    .comments-photo {
      padding: 20px 20px 0px;
      .comment-author {
        color: #3aabd5;
        font-family: 'AvenirNextLTPro-Demi';
        font-size: 12px;
        margin-bottom: 15px;
        span {
          font-size: 11px;
          font-family: 'AvenirNextLTPro-Regular';
          color: #4a4a4a;
        }

      }

      .comment-description {
        font-size: 12px;
        font-family: 'AvenirNextLTPro-Regular';
        color: #4a4a4a;
        margin-bottom: 15px;
      }

      .comment-tags {
        border-top: 1px solid #bdbdbd;
        border-bottom: 1px solid #bdbdbd;
        padding: 10px 0;
        ul {
          margin: 0;
          display: inline-block;
        }

        li {
          display: inline-block;
          margin-right: 8px;
          background-color: #f3f3f3;
          font-size: 10px;
          border-radius: 4px;
          padding: 6px 12px;
          i {
            font-weight: normal;
            cursor: pointer;
            color: #9d9d9d;
            margin-left: 8px;
          }

        }

        .add-tags {
          color: #3aabd5;
          display: inline-block;
          i {
            margin-right: 10px;
            font-weight: normal;
          }

        }

      }

      .comment-users {
        padding: 15px 0 0;
        position: relative;
        &:hover > a {
          display: block;
        }

        .edit-comment {
          display: none;
          position: absolute;
          right: 0;
          top: 15px;
          color: #000;
          font-family: 'AvenirNextLTPro-Regular';
          font-size: 12px;
          i {
            color: #696c70;
            margin-right: 5px;
          }

        }

        .avatar {
          width: 48px;
          display: inline-table;
          margin-right: 10px;
          vertical-align: top;
          img {
            border-radius: 3px;
          }

        }

        .comments {
          display: inline-table;
          width: 88%;
          vertical-align: top;
          .author {
            color: #3aabd5;
            font-family: 'AvenirNextLTPro-Demi';
            font-size: 12px;
            margin-bottom: 5px;
            span {
              font-size: 11px;
              font-family: 'AvenirNextLTPro-Regular';
              color: #4a4a4a;
            }

          }

          p {
            font-size: 12px;
            font-family: 'AvenirNextLTPro-Regular';
            color: #4a4a4a;
            margin: 0;
          }

        }

      }

      textarea {
        font-family: "AvenirNextLTPro-Demi";
        border: 1px solid #d7d7d7;
        color: #afafaf;
        background-color: #f9f9f9;
        border-radius: 5px;
        padding: 15px 20px;
        width: 100%;
        resize: none;
        margin-top: 20px;
      }

    }

  }

  .modal-footer {
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    padding: 20px;
    .btn-default {
      padding: 8px 12px;
      background-color: transparent;
      color: #4a4a4a;
      font-family: "AvenirNextLTPro-Demi";
      border: none;
      text-transform: capitalize;
      box-shadow: none;
    }

    .btn-primary {
      padding: 8px 12px;
      background-color: #79c485;
      margin-left: 30px;
      color: #fff;
      font-family: 'AvenirNextLTPro-Demi';
      text-transform: capitalize;
    }

  }

}


/* ******************** Drag & Drop ***********************/

.drag-drop .modal-content {
  .modal-header {
    margin-bottom: 30px;
  }

  .modal-body {
    border-radius: 3px;
    i {
      font-size: 26px;
      color: #3aabd5;
      margin-top: 80px;
    }

    h6 {
      font-family: "AvenirNextLTPro-Demi";
      color: #44474b;
      font-size: 14px;
      margin: 35px 0;
    }

    p {
      font-family: "AvenirNextLTPro-Demi";
      font-size: 14px;
      margin-bottom: 35px;
      color: #9c9c9c;
    }

    .fileUpload {
      position: relative;
      overflow: hidden;
    }

    .btn-success {
      color: #fff;
      font-family: "AvenirNextLTPro-Demi";
      background-color: #79c485;
      border: none;
    }

    .fileUpload input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 12px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity = 0);
    }

    ul {
      margin: 35px 0 80px;
      li {
        display: inline-block;
        color: #eee;
        font-family: "AvenirNextLTPro-Demi";
        font-size: 11px;
        span {
          right: inherit;
          top: inherit;
          border: none;
          border-radius: 4px;
          color: #fff;
          background-color: #eee;
          margin-right: 10px;
          font-size: 10px;
          text-transform: uppercase;
          padding: 2px 8px;
        }

      }

    }

  }

  .modal-header h3 {
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 14px;
    color: #fff;
    span {
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 0 7px;
      margin-right: 10px;
    }

  }

  .modal-body {
    .progress-upload {
      border-top: 1px solid #ccc;
      margin-top: -40px;
      ul {
        margin: 10px 0;
        height: 220px;
        li {
          display: block;
          border-bottom: 1px solid #ccc;
          padding-right: 20px;
          padding-top: 15px;
          position: relative;
          a {
            display: inline-block;
            margin-right: 10px;
            font-weight: normal;
            &:last-of-type {
              margin-right: 0;
            }

            i {
              color: #d7d7d7;
              margin: 0;
              font-size: 16px;
              font-weight: normal;
            }

          }

          .col-md-2 {
            padding-right: 0;
          }

          .col-md-10 {
            padding-left: 0;
          }

          p {
            font-family: 'AvenirNextLTPro-Regular';
            color: #4a4a4a;
            font-size: 11px;
            margin-bottom: 13px;
            span {
              font-size: 10px;
              color: #8b8b8b;
              background-color: transparent;
              display: block;
              padding: 0;
              text-transform: inherit;
            }

          }

          .progress {
            margin-bottom: 15px;
            background-color: #eee;
            height: 5px;
            border-radius: 2.5px;
            .progress-bar {
              border-radius: 2.5px;
            }

          }

          .btn-group {
            position: absolute;
            right: 20px;
            top: 0px;
          }

          button {
            border: none;
            box-shadow: none;
            background-color: transparent;
            color: #3aabd5;
            font-family: "AvenirNextLTPro-Demi";
            font-size: 12px;
            i {
              font-size: 16px;
              margin: 0 0 0 10px;
              padding-top: 5px;
            }

          }

          &:first-child {
            padding-top: 5px;
          }

          &:last-child {
            border-bottom: none;
          }

        }

      }

    }

    .upload-error {
      left: 0;
      right: 0;
      padding: 8px 0;
      border: 1px solid #e25c5c;
      color: #e25c5c;
      position: absolute;
      top: 25px;
      margin: 0 25px;
      font-size: 12px;
      ont-family: "AvenirNextLTPro-Demi";
    }

    .progress-upload ul {
      .mCustomScrollBox {
        overflow: inherit;
        .mCSB_container {
          overflow: inherit;
        }

      }

      li.uploaded {
        .delete {
          height: 13px;
          position: absolute;
          left: 24px;
          top: -6px;
          font-size: 1px;
          background: #fff;
          border-radius: 10px;
          i {
            color: #e36060;
          }

        }

        p {
          padding-top: 10px;
          span {
            color: #a1d4a9;
          }

        }

        img {
          border-radius: 0px;
          margin-bottom: 15px;
        }

        .col-md-2 {
          padding-left: 30px;
        }

        .col-md-10 {
          padding-left: 20px;
          position: relative;
        }

        .confirm-delete {
          display: none;
          position: absolute;
          top: -15px;
          left: 20px;
          right: -5px;
          height: 80px;
          background: rgba(227, 100, 100, 0.93);
          p {
            padding: 0 50px 0 0;
            margin: 10px 0 10px 20px;
            line-height: 60px;
            color: #fff;
            font-family: "AvenirNextLTPro-Demi";
            font-size: 11px;
            display: inline-block;
            border-right: 1px solid #be595a;
          }

          .btn {
            margin: 25px 15px 0 0;
          }

          .btn-default {
            color: #f1bcbc;
          }

          .btn-danger {
            color: #fff;
            border: 1px solid #fff;
          }

        }

        .dropdown-menu {
          border: none;
          top: 30px;
          height: auto;
          left: -120px;
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
          margin: 0;
          padding: 0;
          min-width: 200px;
          border-radius: 3px;
          li {
            border-bottom: 1px solid #d7d7d7;
            height: 40px;
            padding: 0 15px;
            position: relative;
            .searchround {
              background: #f6f6f6 url("../img/search-icon.png") no-repeat scroll 10px 6px;
              font-family: 'AvenirNextLTPro-Regular';
              font-size: 11px;
              height: 30px;
              border: 1px solid #f3f3f3;
              margin: 10px 0 0;
              border-radius: 100px;
              box-shadow: none;
              color: #4a4a4a;
            }

            a {
              display: block;
              line-height: 40px;
              color: #3aabd5;
              padding: 0;
              font-family: 'AvenirNextLTPro-Regular';
              font-size: 12px;
              &:hover {
                background-color: transparent;
              }

              i {
                color: #3aabd5;
                font-size: 8px;
                margin: 0 0;
                position: absolute;
                top: 17px;
                right: 15px;
              }

            }

            .sub-menu {
              top: 0px;
              left: inherit;
              right: -215px;
              li {
                a i {
                  right: inherit;
                  left: 15px;
                }

                &:first-child > a {
                  padding-left: 15px;
                  &:focus {
                    background-color: transparent;
                  }

                }

              }

            }

            &:last-child {
              border-bottom: none;
            }

            .sub-menu li {
              width: 200px;
              .input-group {
                padding-top: 5px;
                width: 180px;
                span {
                  background-color: transparent;
                  i {
                    margin: 0;
                    color: #a2a2a2;
                    font-size: 14px;
                  }

                }

                input {
                  padding: 0;
                  border: none;
                  color: #a2a2a2;
                  height: 30px;
                  background-color: transparent;
                  font-family: 'AvenirNextLTPro-Regular';
                  font-size: 11px;
                  width: 150px;
                }

              }

            }

          }

        }

      }

    }

  }

}
