.procurement-create {
	.procurement-create-header {
		.closeBox {
			img {
				margin-top: -1px;
				margin-right: 5px;
			}
		}

		.pc-header-title {
			padding-top: 37px;
			padding-left: 15px;

			.heading {
				font-family: "AvenirNextLTPro-Regular";
	    		font-size: 27px;
	    		color: 4a4a4a;
			}

			input {
				width: 100%;
			    border: 0px;
			    background: transparent;
			    color: #4a4a4a;
			    font-size: 17px;
			    border-bottom: 1px solid #ccc;
			    border-radius: 0px;
			    padding: 20px 0 10px;
			}
			input:focus{
	    		outline: 0;
			}

			.info {
				display: block;
				float: left;
				padding: 20px 30px 20px 0;

				.info-title {
					font-family: "AvenirNextLTPro-Regular";
					font-size: 13px;
					color: #44474b;
					padding-bottom: 5px;
				}

				.info-value {
					font-family: "AvenirNextLTPro-Medium";
					font-size: 13px;
					color: #4a4a4a;
				}
			}

			.additional-info {
				padding-top: 65px;

				.details {
					text-align: right;
					padding-bottom: 6px;
				}

				.details .more-info-name {
					display: inline-block;
					text-transform: uppercase;
					font-family: "AvenirNextLTPro-Bold";
					font-size: 9px;
					color: 44474b;
				}
				.details .more-info-value {
					display: inline-block;
					min-width: 100px;
					text-align: left;
					padding: 0 10px;

					.pc-info-title {
						background-color: #44474b;
						color: #fff;
						border-radius: 3px;
						font-family: "AvenirNextLTPro-Bold";
						font-size: 10px;
						padding: 2px 6px;
					}

					.pc-info-date {
						font-family: "AvenirNextLTPro-Medium";
						font-size: 12px;
						color: 44474b;
					}

					.pc-info-status {
						font-family: "AvenirNextLTPro-Bold";
						font-size: 12px;
					}
				}
			}
		}
	}

	.procurement-create-content {
		background-color: #fff;
	    border: 1px solid #d7d7d7;
	    border-radius: 4px;
	    margin-top: 30px;
	    padding: 15px;

	    .person-info-wrapper {
	    	padding: 20px 0; 
	    	border-bottom: 1px solid #d7d7d7;
	    	margin: 0 20px;
	    }

	    .person-info {
	    	display: block;

	    	.info-panel {
	    		display: block;
	    		float: left;
	    		border-right: 1px solid #d7d7d7;
	    		padding: 8px 10px 8px 20px;

	    		.name, .date {
	    			display: block;
	    			float: left;
	    			padding-right: 20px;
	    		}

	    		.name-header, .date-header {
	    			font-family: "AvenirNextLTPro-Regular";
	    			font-size: 11px;
	    			color: #44474b;
	    		}

	    		.name-value {
	    			font-family: "AvenirNextLTPro-Bold";
	    			font-size: 12px;
	    		}

	    		.date-value {
	    			font-family: "AvenirNextLTPro-Medium";
	    			font-size: 13px;
	    			color: #4a4a4a;
	    		}

	    	}
	    	.info-panel:first-of-type {
	    		padding-left: 0px;
	    	}
	    	.info-panel:last-of-type {
	    		border-right: none;
	    	}
	    }

	    .description-title {
	    	display: block;
	    	margin-bottom: 14px;
	    	font-family: "AvenirNextLTPro-Bold";
	    	font-size: 13px;
	    	color: #44474b;
	    }

	    .description-text {
	    	font-family: "AvenirNextLTPro-Regular";
	    	font-size: 13px;
	    	color: #4a4a4a;
	    }
	}

	.no-border {
		border: none !important;
	}

	.material-wrapper {
		padding: 20px 0;
	    border-bottom: 1px solid #d7d7d7;
	    margin: 0 15px;

	    .stepwizard {
	    	display: table;
		    width: 100%;
		    position: relative;
	    }

	    .stepwizard-row:before {
		    top: 13px;
		    bottom: 0;
		    position: absolute;
		    content: " ";
		    width: 100%;
		    height: 4px;
		    background-color: #eeeeee;
		    z-index: 0;
		}

	    .stepwizard-row {
		    display: table-row;
		}

		.stepwizard-step {
		    display: table-cell;
		    text-align: left;
		    position: relative;
		    width: calc(33.34%);
		}

		.stepwizard-step:last-of-type {
			text-align: right;
		}

		.stepwizard-step p {
		    margin-top: 10px;
		    font-family: "AvenirNextLTPro-Demi";
		    font-size: 13px;
		}

		.wizard-step {
			a {
				width: 22px;
			    height: 22px;
			    background-image: url("/assets/img/wizard-step.png");
			}

			p {
				color: #4a4a4a;
			}
		    
		}

		.wizard-active {
			a {
				width: 28px;
				height: 28px;
				background-image: url('/assets/img/wizard-active.png');
			}

			p {
				color: #e25c5c;
			}
		}

		.wizard-past {
			a {
				width: 22px;
				height: 22px;
				background-image: url("/assets/img/wizard-past.png");
			}

			p {
				color: #3aabd5;
			}
		}

		.form-group {
			label {
				display: block;
				padding-bottom: 10px;
				font-family: "AvenirNextLTPro-Demi";
				font-size: 13px;
				color: #44474b;
			}
			input, textarea {
				background-color: #f9f9f9;
				width: 100%;
				padding: 15px 20px;
				font-family: "AvenirNextLTPro-Regular";
				font-size: 12px;
			}
		}

		.revision-item {
			margin-top: 30px;
		}
	}

	.tab-content {
		border-radius: 0px 0px 4px 4px;
	}
}
