<nav class="navbar-default navbar-static-side left-sidebar" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                        <span>
                            <img alt="image" src="assets/img/profile_small.png"/>
                        </span>
                </div>
                <div class="logo-element">
                    <span>
                        <img alt="A" src="assets/img/small.png"?>
                    </span>
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard"><img src="assets/img/Dashboard.png"><span class="nav-label">Dashboard</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="projects.main"><img src="assets/img/Projects.png"><span class="nav-label">Projects</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="action-items.main"><img src="assets/img/ActionItems.png"><span class="nav-label">Action Items</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="team-members.list"><img src="assets/img/TeamMembersSidebar.png"><span  class="nav-label">Team Members</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="comm"><img src="assets/img/Communication.png"><span
                        class="nav-label">Communication</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="schedules.main"><img src="assets/img/Schedule.png"><span class="nav-label">Schedule</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="financials.main"><img src="assets/img/Financials.png"><span
                        class="nav-label">Financials</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="bids.main"><img src="assets/img/Bids.png"><span class="nav-label">Bids</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="procurement.main"><img src="assets/img/Procurement.png"><span
                        class="nav-label">Procurement</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="photos"><img src="assets/img/Photos.png"><span class="nav-label">Photos</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="documents.main"><img src="assets/img/Documents.png"><span class="nav-label">Documents</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="drawings"><img src="assets/img/Drawings.png"><span class="nav-label">Drawings</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="reporting"><img src="assets/img/Reporting.png"><span class="nav-label">Reporting</span></a>
            </li>
            <!-- <li ui-sref-active="active">
                <a ui-sref="sample" ui-sref="sample"><i class="fa fa-inbox"></i> <span class="nav-label">Sample</span></a>
            </li> -->
        </ul>

    </div>
</nav>
