<div class="row wrapper border-bottom white-bg page-heading overview">
    <div class="col-sm-6 col-lg-10">
        <h2 class="heading">Documents</h2>
        <ul class="topSubtitle">
            <li>
                <a href="index.html">Project Title Label</a>
                <i class="ace-icon fa fa-angle-down"></i>
            </li>

        </ul>
    </div>
    <div class="col-sm-6 col-lg-2">
        <div class="btns mr10">
            <a class="btn btn-green btn-sm" ng-click="showUploadModal()">Upload Documents</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
</div>