<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body text-center">
    <form class="dropzone" enctype="multipart/form-data">
        <img class="pt30" src="assets/img/documents/upload.png">
        <input name="file" class="hidden" type="file" multiple />
    </form>
    <a class="mt20 btn btn-green btn-lg">Browse Files</a>
    <div>
        <img class="pt30" src="assets/img/documents/doc_types.png">
    </div>
</div>
