<div class="row wrapper border-bottom white-bg page-heading overview">
    <div class="col-xs-6 col-lg-10">
        <h2 class="heading">Action Items</h2>
        <ul class="topSubtitle">
            <li>
                <a href="#">Anderson Perkins LTD Shipping Center <i class="ace-icon fa fa-angle-down"></i></a>
            </li>
            <li><span>1796 Prospector AvenuePark City,<br /> Utah 84605</span></li>
        </ul>
    </div>
    <div class="col-xs-6 col-lg-2">
        <div class="dropdown text-right mr10">
            <a href="#" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus"></i> Create New
            </a>
            <ul class="dropdown-menu dropdown-menu-right chevron-down-menu" role="menu">
                <li><a href="javascript:void(0)"><i class="fa fa-plus"></i> Action</a></li>
                <li><a href="javascript:void(0)">Option 1</a></li>
                <li><a href="javascript:void(0)">Option 2</a></li>
                <li><a href="javascript:void(0)">Option 3</a></li>
                <li><a href="javascript:void(0)">Option 4</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="card-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <p>Use any of the available button classes to quickly create a styled button.</p>
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3>Contextual Colors</h3>
                <p class="text-muted">This is an example of muted text.</p>
                <p class="text-primary">This is an example of primary text.</p>
                <p class="text-success">This is an example of success text.</p>
                <p class="text-info">This is an example of info text.</p>
                <p class="text-warning">This is an example of warning text.</p>
                <p class="text-danger">This is an example of danger text.</p>
                <p class="text-gray-lighter">This is an example of gray lighter text.</p>
                <p class="text-default">This is an example of default text.</p>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="row">
            <div class="col-md-4">
                <p>Custom date field</p>
                <ui-date-field ng-model="date" placeholder="Start Date"></ui-date-field>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <ui-date-field ng-model="date" placeholder="Start Date"></ui-date-field>
                <p>Single Select</p>
                <ui-select ng-select="changeOption()" selected-item="selectedItem" options="options"></ui-select><br>
                <p>Multi Select</p>
                <ui-select multiple="true" ng-select="changeOption()" selected-item="selectedItem" options="options"></ui-select><br>
                <p>Multiple and Searchable</p>
                <ui-select has-filter="true" multiple="true" ng-select="changeOption()" selected-item="selectedItem" options="options"></ui-select>
                <p>With Placeholder</p>
                <ui-select has-filter="true" ng-select="changeOption()" placeholder="Projects goes to here" search-placeholder="Search Projects" options="options"></ui-select>
            </div>
        </div>
    </div>
</div>
