<div class="row wrapper border-bottom white-bg page-heading overview">
    <div class="col-xs-6 col-lg-10">
        <h2 class="heading">Action Items</h2>
        <ul class="topSubtitle">
            <li>
                <a href="index.html">Project Title Label</a>
                <i class="ace-icon fa fa-angle-down"></i>
            </li>

        </ul>
    </div>
    <div class="col-xs-6 col-lg-2">
        <div class="dropdown text-right mr10">
            <a href="#" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus"></i> Create New
            </a>
            <ul class="dropdown-menu dropdown-menu-right chevron-down-menu" role="menu">
                <li><a href="javascript:void(0)"><i class="fa fa-plus"></i> Action</a></li>
                <li><a href="javascript:void(0)">Option 1</a></li>
                <li><a href="javascript:void(0)">Option 2</a></li>
                <li><a href="javascript:void(0)">Option 3</a></li>
                <li><a href="javascript:void(0)">Option 4</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="card-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <p>Use any of the available button classes to quickly create a styled button.</p>
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-cancel">Cancel</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Button Sizes</h3>
                <p>If You want larger or smaller buttons You can add <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-md</code> class.</p>
                <button type="button" class="btn btn-primary btn-lg">Large Button</button>
                <button type="button" class="btn btn-success btn-lg">Large Button</button><br>
                <button type="button" class="btn btn-warning btn-md">Medium Button</button>
                <button type="button" class="btn btn-danger btn-md">Medium Button</button><br>
                <button type="button" class="btn btn-info btn-sm">Small Button</button>
                <button type="button" class="btn btn-default btn-sm">Small Button</button>
                <h3>Disabled Buttons</h3>
                <button type="button" class="btn btn-primary btn-lg disabled">Disabled Button</button>
                <button type="button" class="btn btn-success btn-lg disabled">Disabled Button</button>
                <button type="button" class="btn btn-info btn-lg disabled">Disabled Button</button>
                <button type="button" class="btn btn-warning btn-lg disabled">Disabled Button</button>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3>Contextual Colors</h3>
                <p class="text-muted">This is an example of muted text.</p>
                <p class="text-primary">This is an example of primary text.</p>
                <p class="text-success">This is an example of success text.</p>
                <p class="text-info">This is an example of info text.</p>
                <p class="text-warning">This is an example of warning text.</p>
                <p class="text-danger">This is an example of danger text.</p>
                <p class="text-gray-lighter">This is an example of gray lighter text.</p>
            </div>
            </div>
        </div>
    </div>
</div>
