<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body tm-modal-body text-center">
    <div class="tm-modal-title">4-Way Inspection</div>
    <hr class="tm-hr-margin-small">
    <slick dots="false" infinite="true" speed="300" slides-to-show="1" touch-move="true" slides-to-scroll="1" >
        <div class="" ng-repeat="modal in [1,2,3]">
            <div class="row">
                <div class="col-md-12 aii-inspection-info aii-detail-summary">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="aii-detail-summary-item">
                                        <p class="item-title">Responsible<i class="fa fa-pencil"></i></p>
                                        <div class="item-value">
                                            <span>Erik Hoffman</span>
                                            <ul class="breadcrumbv22x">
                                                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                                <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                                <li><a href="#"><i class="fa fa-phone"></i> &nbsp;861-569-6688</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="aii-detail-summary-item">
                                        <p class="item-title">Scope of Work</p>
                                        <div class="item-value">Plumbing</div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="aii-detail-summary-item">
                                        <p class="item-title">Location</p>
                                        <div class="item-value">Kitchen</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="aii-detail-summary-item">
                                        <p class="item-title">Status</p>
                                        <div class="item-value"><small class="text-success">APPROVED</small></div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="aii-detail-summary-item">
                                        <p class="item-title">Plan Link<i class="fa fa-pencil"></i></p>
                                        <div class="item-value"><small class="text-primary">http://planlink.co/lorem</small></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="aii-detail-summary-item">
                                        <p class="item-title">Due Date</p>
                                        <div class="item-value">Aug 23, 2015</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="tm-hr-margin-small">
            <div class="row">
                <div class="col-md-12 form-group text-left details">
                    <label>Details</label>
                    <textarea class="form-control" placeholder="Dapiblus Tristique Fermentum"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="row">
                        <div class="col-xs-6 text-left">Users With Access</div>
                        <div class="col-xs-6 text-right"><a href="#" class="text-primary">+ Add User</a></div>
                    </div>
                    <div class="row no-margin mt15">
                        <div class="col-md-12">
                            <div class="row aii-uat-head">
                                <div class="col-xs-6 aii-uat-th">Name</div>
                                <div class="col-xs-6 aii-uat-th">Company</div>
                            </div>
                            <div class="row">
                                <div slim-scroll box-height="150px">
                                    <div class="row no-margin aii-uat-body" ng-repeat="user in userList">
                                        <div class="col-xs-6 aii-uat-td">{{ user.name }}</div>
                                        <div class="col-xs-6 aii-uat-td">{{ user.company }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-xs-6 text-left">Photos</div>
                        <div class="col-xs-6 text-right"><a href="#" class="text-primary">+ Add Photos</a></div>
                    </div>
                    <div class="row mt15">
                        <div class="col-md-12">
                            <div class="row no-margin aii-photo-section">
                                <div slim-scroll box-height="190px">
                                    <div class="row no-margin pr5">
                                        <div class="col-xs-4 pl5 pr5" ng-repeat="photo in photoList">
                                            <div class="aii-photo-thumb">
                                                <img ng-src="{{photo}}" class="img-responsive" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="tm-hr-margin-small">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-left">Comments</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row no-margin aii-comment" ng-repeat="comment in commentList">
                                <div class="pull-left">
                                    <img ng-src="{{comment.photo}}" class="aii-comment-photo img-circle" />
                                </div>
                                <div class="pull-left">
                                    <div class="aii-comment-name">{{comment.name}}</div>
                                    <div class="aii-comment-content">{{comment.content}}</div>
                                </div>
                                <div class="aii-comment-date">{{comment.date}}</div>
                            </div>
                            <div class="row mt15">
                                <div class="col-md-12 text-left"><a class="text-primary"><u>See 3 more comments</u></a></div>
                            </div>
                            <div class="row mt15">
                                <div class="col-md-12">
                                    <input type="text" placeholder="Add Comment" class="form-control"/>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-md btn-success">Add Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </slick>

    <hr class="tm-hr-margin-small">
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-lg btn-info aii-mr15">Further Action Required</button>
            <button class="btn btn-lg btn-primary">Inspection Item Compliant</button>
        </div>
    </div>
</div>
