<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body tm-modal-body text-center">
    <div class="tm-modal-title">Invite User</div>
    <hr class="tm-hr-margin-small">
    <div class="row">
        <div class="col-md-12 aii-inspection-info aii-detail-summary">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="aii-detail-summary-item">
                                <p class="item-title">Responsible<i class="fa fa-pencil"></i></p>
                                <div class="item-value">
                                    <span>Erik Hoffman</span>
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;861-569-6688</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="aii-detail-summary-item">
                                <p class="item-title">Scope of Work</p>
                                <div class="item-value">Plumbing</div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="aii-detail-summary-item">
                                <p class="item-title">Location</p>
                                <div class="item-value">Kitchen</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="aii-detail-summary-item">
                                <p class="item-title">Status</p>
                                <div class="item-value"><small class="text-success">APPROVED</small></div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="aii-detail-summary-item">
                                <p class="item-title">Plan Link<i class="fa fa-pencil"></i></p>
                                <div class="item-value"><small class="text-primary">http://planlink.co/lorem</small></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="aii-detail-summary-item">
                                <p class="item-title">Due Date</p>
                                <div class="item-value">Aug 23, 2015</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="tm-hr-margin-small">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="row">
                <div class="col-xs-6 text-left">Users With Access</div>
                <div class="col-xs-6 text-right"><a href="#" class="text-primary">+ Add User</a></div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead><tr><th>Name</th><th>Company</th></tr></thead>
                        <tbody slim-scroll bx-height="300px">
                        </tbody>
                    </table
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="row">
                <div class="col-xs-6 text-left">Photos</div>
                <div class="col-xs-6 text-right"><a href="#" class="text-primary">+ Add Photos</a></div>
            </div>
        </div>
    </div>
</div>
