<div class="aii-page-wrapper mb30">
    <!----================== Start TOP NAV BAR==================---->
    <div class="row bankbg">
        <div class="pull-left noPdingLeft noPdingRight">
            <div class="closeBox">
                <p><a ui-sref="financials.main">Close <i class="fa fa-caret-right"></i></p>
            </div>
        </div>
        <div class="pull-left pi-page-title">
            <div class="row no-margin">
                <div class="col-md-6">
                    <h2 class="heading">Inspection Name Here</h2>
                </div>
                <div class="col-md-6">
                    <div class="pi-app-info">
                        <div class="row">
                            <span class="col-xs-8 text-right">Pay App#</span>
                            <span class="col-xs-4 text-left">
                                <span class="label label-black">193</span>
                            </span>
                        </div>
                        <div class="row mt5">
                            <span class="col-xs-8 text-right">INITIATED APPLICATION ON</span>
                            <span class="col-xs-4 text-left">8/23/15</span>
                        </div>
                        <div class="row mt5">
                            <span class="col-xs-8 text-right">CREATED BY</span>
                            <span class="col-xs-4 text-left">Eric Hoffman</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----==================End TOP NAV BAR==================---->
</div>
