<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="$PROJECT_DIR$/../nodejs/node" path-to-js-file="server.js" working-dir="$PROJECT_DIR$">
    <envs>
      <env name="DEBUG" value="AvasisDemo" />
    </envs>
    <browser url="http://localhost:3000/" />
    <RunnerSettings RunnerId="Basic" />
    <RunnerSettings RunnerId="debuggableProgram" />
    <ConfigurationWrapper RunnerId="Basic" />
    <ConfigurationWrapper RunnerId="debuggableProgram" />
    <method />
  </configuration>
</component>