<div class="comm-wrapper">
    <div class="row border-bottom comm-header ">
        <div class="pull-left">
            Your Message
        </div>
        <div class="pull-right">
            <ul>
                <li><a href="">Reply</a></li>
                <li><a href="">Reply All</a></li>
                <li><a href="">Forward</a></li>
                <li><a href="">Important</a></li>
                <li><a href="">Print</a></li>
                <li><a href="">Trash</a></li>
            </ul>
        </div>
    </div>
</div>