<div class="row wrapper border-bottom white-bg page-heading overview">
    <div class="col-sm-6 col-lg-10">
        <h2 class="heading">Team Communication Inbox</h2>
        <ul class="topSubtitle">
            <li>
                <a href="#">Wilmington 47 <i class="ace-icon fa fa-angle-down"></i></a>
            </li>
            <li><span>47 Wilmington Ave<br /> Arlington, VA 90125</span></li>
        </ul>
    </div>
    <div class="col-sm-6 col-lg-2">
        <div class="btns mr10">
            <a href="#" class="btn btn-primary btn-lg" data-toggle="dropdown">
                <i class="fa fa-pencil"></i> Compose New Message
            </a>
            <ul class="dropdown-menu dropdown-menu-right action-menu" role="menu">
                <li><a href="">Bid Package</a></li>
                <li><a href="">Quick Bid</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="financial-wrapper">
        <ul class="nav nav-tabs custom-tabs1">
            <li ng-class="{true: 'active'}[isActive('comm.inbox')]"><a ui-sref="comm.inbox">In Box</a></li>
            <li ng-class="{true: 'active'}[isActive('comm.sent')]"><a ui-sref="comm.inbox">Sent</a></li>
            <li><a ui-sref="comm.inbox">Important</a></li>
            <li><a ui-sref="comm.inbox">Drafts</a></li>
            <li ng-class="{true: 'active'}[isActive('comm.trash')]"><a ui-sref="comm.trash">Trash</a></li>
        </ul>
        <ui-view></ui-view>
    </div>
</div>