<div class="comm-wrapper">
    <div class="row border-bottom comm-header ">
        <div class="pull-left">
            Your Message
        </div>
        <div class="pull-right">
            <ul>
                <li><a href=""><i class="fa fa-reply"></i>Reply</a></li>
                <li><a href=""><i class="fa fa-reply-all"></i>Reply All</a></li>
                <li><a href=""><i class="fa fa-long-arrow-right"></i>Forward</a></li>
                <li><a href=""><i class="fa fa-star"></i>Important</a></li>
                <li><a href=""><i class="fa fa-print"></i>Print</a></li>
                <li><a href=""><i class="fa fa-trash"></i>Trash</a></li>
            </ul>
        </div>
    </div>
    <div class="row comm-section">
        <div class="col-lg-4 border-right">
            <div class="comm-card-wrapper">
                <div class="comm-card">
                    <span class="pull-left comm-card-spot"><i class="fa fa-circle"></i></span>
                    <div class="comm-card-title">
                        <span class="comm-card-name">Dave Gebo</span>
                        <span class="pull-right text-normal"><i class="fa fa-star"></i>1:17 pm</span>
                    </div>
                    <div class="comm-card-proj">
                        Schedule for Roof Dry-In Completion
                    </div>
                    <div class="comm-card-cont">
                        <span>
                            Hi Bob, I appologize for the delayed response, My team an….
                        </span>
                    </div>
                    <span class="label comm-card-num">2</span>
                </div>
                <hr>
            </div>
        </div>
        <div class="col-lg-8 no-r-pad">
            <div class="comm-msg-wrapper">
                <div class="comm-msg">
                    <div class="comm-msg-title">
                        <div class="row no-margin">
                            <div class="pull-left">
                                <a href="#">
                                    <img src="assets/img/avasisteam/gebo.jpg" class="img-circle prj-sch-photo" alt="image">
                                </a>
                            </div>
                            <div class="pull-left comm-msg-name">
                                <strong>Dave Gebo</strong>
                                <span>1:17pm - Aug 17, 2015</span>
                                
                                <p>Schedule for Roof Dry-In Completion</p>
                            </div>
                            <div class="pull-right comm-msg-tab">
                                <span><i class="fa fa-caret-right"></i></span>
                            </div>
                        </div>
                        <hr>
                        <div class="comm-msg-cont">
                            <p>Hi Bob,  I appologize for the delayed response. My team and I have been slammed trying to complete the Roof Dry-In proccess by the set deadline. Not to mention before this massive storm is supposed to blow in. As of right now we should have this completed by end of day. Fingers crossed that we dont run into any issues. I will inform you immediately if it does not look like we will be completing the task today. Sorry if this causes any uneasieness, you set a very tight deadline. Ill get back to you regardless, end of day. Talk to you soon, Dave</p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

    </div>
</div>