<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body tm-modal-body text-center">
    <div class="tm-modal-title">Projects Assigned to Bob Jones</div>
    <div class="table-responsive tm-pt15">
        <table class="table table-cutome text-left">
            <thead>
                <tr class="lightgry text-muted">
                    <th>Projects</th>
                    <th>Role</th>
                    <th colspan="2">SOW</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="skyColor">Project Title Goes Here</span></td>
                    <td>Contractor</td>
                    <td>Sollicitudin Cursus Euismod</td>
                    <td>
                        <ul class="breadcrumbv22x tm-project-tool">
                            <li><a><i class="fa fa-trash-o"></i></a></li>
                            <li><a><i class="fa fa-pencil"></i></a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><span class="skyColor">Project Title Goes Here</span></td>
                    <td>Subcontractor</td>
                    <td>Vivamus sagittis lacus vel augue laoreet rutrum </td>
                    <td>
                        <ul class="breadcrumbv22x tm-project-tool">
                            <li><a><i class="fa fa-trash-o"></i></a></li>
                            <li><a><i class="fa fa-pencil"></i></a></li>
                        </ul>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
