<div class="row wrapper border-bottom white-bg page-heading overview">
    <div class="col-xs-12 col-lg-3">
        <h2 class="heading">Team Members</h2>
        <ul class="topSubtitle">
            <li>
                <a href="#">Wilmington 47 <i class="ace-icon fa fa-angle-down"></i></a>
            </li>
            <li><span>47 Wilmingto Ave<br /> Arlington, VA 90125</span></li>
        </ul>
    </div>
    <div class="col-xs-12 col-lg-7">
        <div class="row topMemberContain">
            <div class="col-xs-12 col-sm-4">
                <div class="green2">
                    <img src="assets/img/onSite.png" alt="image">
                    <span>5</span>
                    <p>
                        Members onsite
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="sky2">
                    <img src="assets/img/company-icon.png" alt="image">
                    <span>2</span>
                    <p>
                        Members from my Company
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="orangeColor2">
                    <img src="assets/img/members.png" alt="image">
                    <span>38</span>
                    <p>
                        Total # of members
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-2">
        <div class="teaminvite pull-right">
            <a class="btn btn-success btn-lg" ng-click="showInviteModal()">
                <i class="fa fa-plus"></i> Invite Team Members
            </a>
        </div>
    </div>
</div>

<div class="row no-margin mt30 tm-pb30 animated fadeInRight">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table memberv22x animated fadeInRight tm-scroll-table" id="team-members-list">
                <thead>
                    <tr>
                        <th class="td-name">Name</th>
                        <th class="td-scheduled">Scheduled</th>
                        <th class="td-project">Project/Role</th>
                        <th class="td-scope">Scope Of Work</th>
                        <th class="td-flag">Flag Alert</th>
                        <th>
                            <div class="pull-left">
                                <div class="dd wrapper-dropdown-team sortby animated fadeInRight">
                                    <span><a class="btn1 btn-dangerteam btn-sm tm-sortby" href="#">Sort by <i class="fa fa-angle-down"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Name</a></li>
                                        <li><a href="#">Company</a></li>
                                        <li><a href="#">Next Scheduled</a></li>
                                        <li><a href="#">Flag Alerts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="whiteBgColor">
                        <td class="MemberTableDetails td-name">
                            <div class="feed-Compliance">
                                <div class="pull-left">
                                    <img src="assets/img/user1.png" class="img-circle photo" alt="image">
                                </div>
                                <div class="pull-left media-Compliance">
                                    <span data-toggle="modal" data-target="#myModal">Dave Musgrove
                                    </span>
                                    <b>Premier Heating & Air, Inc.</b>
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;861-569-6688</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="td-scheduled">
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span></p>
                                    <p class="light-big">next sched. 18 Sep, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td class="td-project">
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Wilmington 47</p>
                                    <b>Sub Contractor</b>
                                </div>
                            </div>
                        </td>
                        <td class="td-scope">
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Fire Place
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="tm-flag-td td-flag">
                            <div class="pull-left text-danger alert-flag">
                                <img src="assets/img/red_icon.png"><span>1</span>
                            </div>
                            <div class="pull-left text-warning alert-flag">
                                <img src="assets/img/yellow _icon.png"><span>2</span>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-team pull-left">
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-cog"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-angle-down"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td class="MemberTableDetails td-name">
                            <div class="feed-Compliance">
                                <div class="pull-left">
                                    <img src="assets/img/user1.png" class="img-circle photo" alt="image">
                                </div>
                                <div class="pull-left media-Compliance">
                                    <span data-toggle="modal" data-target="#myModal">Mike Riley
                                    </span>
                                    <b>Canyon River Electric</b>
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;385-285-8616</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="td-scheduled">
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span></p>
                                    <p class="light-big">next sched. 18 Sep, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td class="td-project">
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Wilmington 47</a></p>
                                    <b class="multipal">Sub Contractor</b>
                                </div>
                            </div>
                        </td>
                        <td class="td-scope">
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="multipalepro"><a>Multiple</a></p>
                                </div>
                            </div>
                        </td>
                        <td class="tm-flag-td">
                            <div class="pull-left text-warning alert-flag">
                                <img src="assets/img/yellow _icon.png"><span>3</span>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-team pull-left">
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-cog"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-angle-down"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td class="MemberTableDetails">
                            <div class="feed-Compliance">
                                <div class="pull-left">
                                    <img src="assets/img/user1.png" class="img-circle photo" alt="image">
                                </div>
                                <div class="pull-left media-Compliance">
                                    <span data-toggle="modal" data-target="#myModal">Mary Beroset
                                    </span>
                                    <b>Wasatch Lighting, Inc.</b>
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;861 891 1611</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span> No Show</p>
                                    <p class="light-big">next sched. 24 Sep, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Wilmington 47</p>
                                    <b>Designer</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Main Floor Overhead Lighting<br>
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="tm-flag-td">
                        </td>
                        <td>
                            <div class="ibox-team pull-left">
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-cog"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-angle-down"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td class="MemberTableDetails">
                            <div class="feed-Compliance">
                                <div class="pull-left">
                                    <img src="assets/img/user1.png" class="img-circle photo" alt="image">
                                </div>
                                <div class="pull-left media-Compliance">
                                    <span data-toggle="modal" data-target="#myModal">John Steel
                                        <a ui-sref="team-members.risk"><img src="assets/img/alert_small.png"></a>
                                    </span>
                                    <b>L&L Steel Erection</b>
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;861 518 1636</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span></p>
                                    <p class="light-big">next sched. 24 Sep, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Wilmington 47</p>
                                    <b>Sub Contractor</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Fire Place
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="tm-flag-td">
                            <div class="pull-left text-danger alert-flag">
                                <img src="assets/img/red_icon.png"><span>1</span>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-team pull-left">
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-cog"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-angle-down"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td class="MemberTableDetails">
                            <div class="feed-Compliance">
                                <div class="pull-left">
                                    <img src="assets/img/user1.png" class="img-circle photo" alt="image">
                                </div>
                                <div class="pull-left media-Compliance">
                                    <span data-toggle="modal" data-target="#myModal">Dave Gebo
                                    </span>
                                    <b>On Top Roofing</b>
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;835 513 6185</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span>No Show</p>
                                    <p class="light-big">next sched. 25 Sep, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="multipalepro"><a ng-click="showProjectModal()">Multiple</a></p>
                                    <b>Sub Contractor</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="multipalepro"><a>Multiple</a></p>
                                </div>
                            </div>
                        </td>
                        <td class="tm-flag-td">
                            <div class="pull-left text-danger alert-flag">
                                <img src="assets/img/red_icon.png"><span>4</span>
                            </div>
                            <div class="pull-left text-warning alert-flag">
                                <img src="assets/img/yellow _icon.png"><span>1</span>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-team pull-left">
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-cog"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td class="MemberTableDetails">
                            <div class="feed-Compliance">
                                <div class="pull-left">
                                    <img src="assets/img/user1.png" class="img-circle photo" alt="image">
                                </div>
                                <div class="pull-left media-Compliance">
                                    <span data-toggle="modal" data-target="#myModal">Dan Bonker
                                        <a ui-sref="team-members.risk"><img src="assets/img/alert_small.png"></a>
                                    </span>
                                    <b>Sage Creek Framing Co.</b>
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;861 891 5339</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="offsite">Off Site</span></p>
                                    <p class="light-big">next sched. 18 Sep, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Wilmington 47</p>
                                    <b>Sub Contractor</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Frame 2nd Stroy
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="tm-flag-td">
                        </td>
                        <td>
                            <div class="ibox-team pull-left">
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-cog"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-angle-down"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td class="MemberTableDetails">
                            <div class="feed-Compliance">
                                <div class="pull-left">
                                    <img src="assets/img/user1.png" class="img-circle photo" alt="image">
                                </div>
                                <div class="pull-left media-Compliance">
                                    <span data-toggle="modal" data-target="#myModal">Bruce Wayne
                                    </span>
                                    <b>Synergy Construction</b>
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;801 580 5683</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon-gry.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="offsite">OFF SITE</span></p>
                                    <p class="light-big">next sched. 18 Sep, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="multipalepro"><a ng-click="showProjectModal()">Multiple</a></p>
                                    <b>General Contractor</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="multipalepro"><a>Multiple</a></p>
                                </div>
                            </div>
                        </td>
                        <td class="tm-flag-td">
                            <div class="pull-left text-danger alert-flag">
                                <img src="assets/img/red_icon.png"><span>2</span>
                            </div>
                            <div class="pull-left text-warning alert-flag">
                                <img src="assets/img/yellow _icon.png"><span>5</span>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-team pull-left">
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-cog"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                                <div class="dd wrapper-dropdown-team">
                                    <span><a class="#"><i class="fa fa-angle-down"></i></a></span>
                                    <ul class="dropdown">
                                        <li><a href="#">Add Notes</a></li>
                                        <li><a href="#">Permissions</a></li>
                                        <li><a href="#" class="gear2xred">Remove From Project</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td class="MemberTableDetails">
                            <div class="feed-Compliance">
                                <div class="pull-left">
                                    <img src="assets/img/user1.png" class="img-circle photo" alt="image">
                                </div>
                                <div class="pull-left media-Compliance">
                                    <span data-toggle="modal" data-target="#myModal">Jeff Price
                                    </span>
                                    <b>Probuild</b>
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;835 563 6699</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon-gry.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="offsite">OFF SITE</span></p>
                                    <p class="light-big">next sched. 19 Sep, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="multipalepro"><a ng-click="showProjectModal()">Multiple</a></p>
                                    <b>Supplier</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="multipalepro"><a>Multiple</a></p>
                                </div>
                            </div>
                        </td>
                        <td class="tm-flag-td">
                            <div class="pull-left text-warning alert-flag">
                                <img src="assets/img/yellow _icon.png"><span>3</span>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-team pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td class="MemberTableDetails">
                            <div class="feed-Compliance">
                                <div class="pull-left">
                                    <img src="assets/img/user1.png" class="img-circle photo" alt="image">
                                </div>
                                <div class="pull-left media-Compliance">
                                    <span data-toggle="modal" data-target="#myModal">Christian Peters
                                    </span>
                                    <b>MyTy Appliance Specialists</b>
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;861 998 8283</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon-gry.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="offsite">OFF SITE</span></p>
                                    <p class="light-big">next sched. 1 Oct, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Wilmington 47</p>
                                    <b>Designer</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Fire Place
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="tm-flag-td">
                        </td>
                        <td>
                            <div class="ibox-team pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td class="MemberTableDetails">
                            <div class="feed-Compliance">
                                <div class="pull-left">
                                    <img src="assets/img/user1.png" class="img-circle photo" alt="image">
                                </div>
                                <div class="pull-left media-Compliance">
                                    <span data-toggle="modal" data-target="#myModal">Jane Smith
                                    </span>
                                    <b></b>
                                    <ul class="breadcrumbv22x">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> &nbsp;801 942 1092</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon-gry.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="offsite">OFF SITE</span></p>
                                    <p class="light-big">next sched. 1 Oct, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Wilmington 47</p>
                                    <b>Owner</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="tm-flag-td">
                            <div class="pull-left text-warning alert-flag">
                                <img src="assets/img/yellow _icon.png"><span>1</span>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-team pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<script type="text/javascript">
    function DropDown(el) {
        this.dd = el;
        this.placeholder = this.dd.children('span');
        this.opts = this.dd.find('ul.dropdown > li');
        this.val = '';
        this.index = -1;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;

            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                return false;
            });
        },
        getValue: function () {
            return this.val;
        },
        getIndex: function () {
            return this.index;
        }
    }

    $(function () {
        var dd = new DropDown($('.dd'));

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-team').removeClass('active');
        });

    });

</script>
