<div class="row wrapper border-bottom white-bg page-heading teammembers">
    <div class="col-sm-6 col-lg-9">
        <h2 class="hding">Team Members</h2>
        <ul class="topSubtitle">
            <li>
                <a href="#">Project Tittle Label<i class="ace-icon fa fa-angle-down"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-lg-3">
        <div class="teaminvite pull-right">
            <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-plus"></i> Invite Team Members
            </a>
        </div>
    </div>
</div>
<div class="row teamarrow">
    <div class="clearfix"></div>
    <div class="col-gl-12">
        <div class="assign">
            <h1><img src="assets/img/team.png" alt="image"></h1>
            <p>
                No team members are currently assigned to this project
            </p>
            <span>Click to “Invite Team Member” to add members to project</span>
        </div>
    </div>
</div>