<div id="page-wrapper" class="inner-page-wrapper">
    <!------Top Nav Bar------>

    <!------Top Nav Bar------>
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <i class="fa fa-caret-left"></i>
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <form role="search" class="navbar-form-custom" action="search_results.html">
                    <div class="form-group">
                        <a href="#"><i class="fa fa-search"></i></a>
                        <input type="text" placeholder="Search your projects " class="form-control search" name="top-search" id="top-search">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="light-blue open">
                    <a href="">
                        <img alt="Jason's Photo" src="assets/img/user.png" class="nav-user-photo">
                                <span class="user-info">
                                    Eric Hoffman
                                </span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                </li>

                <li class="orange">
                    <a href="#">
                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        <span class="badge badge-important">8</span>
                    </a>
                </li>
            </ul>

        </nav>
        <!------Top Nav Bar End------>
    </div>

    <div class="row wrapper border-bottom white-bg page-heading overview">
        <div class="col-sm-6 col-lg-9">
            <h2 class="hding">Team Members Overview</h2>
            <ul class="topSubtitle">
                <li>
                    <a href="#">Anderson Perkins LTD Shipping Center <i class="ace-icon fa fa-angle-down"></i></a>
                </li>
                <li><span>1796 Prospector AvenuePark City, Utah 84605</span></li>
            </ul>
        </div>
        <div class="col-lg-2">
            <div class="addNew">
                <a href="/theme/lander-v2-webapp-dashboard-B5FC6F4" class="btn btn-danger btn-sm">
                    <i class="fa fa-plus"></i> Invite Team Members
                </a>
            </div>
        </div>
    </div>

    <h2 class="TeamHding"><span><img alt="image" src="assets/img/team-member.png"></span>Team Members</h2>

    <div class="row whitebg2">
        <div class="col-sm-3">
            <div class="green">
                <h1>4</h1>
                <p>
                    <span><img alt="image" src="assets/img/onSite.png"></span>
                    Members onsite
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="sky">
                <h1>13</h1>
                <p>
                    <span><img alt="image" src="assets/img/company-icon.png"></span>
                    Members from my Company
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="orangeColor">
                <h1>27</h1>
                <p>
                    <span><img alt="image" src="assets/img/members.png"></span>
                    Total # of members
                </p>
            </div>
        </div>

        <div class="clearfix"></div>

        <div ng-hide="isEmpty" class="table-responsive">
            <table class="table Compliance">
                <thead>
                <tr>
                    <th width="200px">Name</th>
                    <th>Scheduled</th>
                    <th>Project/Role</th>
                    <th>Scope Of Work</th>
                    <th>Flag Alerts</th>
                    <th>
                        <div class="buy1 pull-left">
                            <a href="#" class="btn1 btn-dangersort btn-sm">
                                Sort by  <i class="fa fa-angle-down"></i>
                            </a>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="220px">
                        <div class="feed-Compliance">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="assets/img/user1.png">
                            </a>
                            <div class="media-Compliance">
                                <div class="TableDetails">
                                    <span>Bob Jones <img src="assets/img/alert.png"></span>
                                    <br>
                                    <b>Flora Corp.</b>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img src="assets/img/mapIcon.png" class="img-circle" alt="image">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="pink"><span class="sky4">On Site</span> No Show</p>
                                <p class="light-big">next sched. 24 Jun, 2015</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="light-big">Parking Level A</p>
                                <b>Senior Director</b>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="light-big">
                                    Master bathroom cabinetry, Carpet,<br/>
                                    Kitchen Something, Another something som...
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <div class="flag-alert">
                                <p><img src="assets/img/redFlagBorder.png">5<span><img src="assets/img/orngFlagBorder.png">2</span></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="220px">
                        <div class="feed-Compliance">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="assets/img/user_5.png">
                            </a>
                            <div class="media-Compliance">
                                <div class="TableDetails">
                                    <span>Aaron Cravers <img src="assets/img/alert.png"></span>
                                    <br>
                                    <b>Flora Corp.</b>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img src="assets/img/mapIcon.png" class="img-circle" alt="image">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="pink"><span class="sky4">On Site</span></p>
                                <p class="light-big">next sched. N/A</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="light-big">Parking Level A</p>
                                <b>Senior Director</b>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="light-big">
                                    Ullamcorper, Quam Elit,<br/>
                                    Sit Pellentesque
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <div class="flag-alert">
                                <p><span><img src="assets/img/orngFlagBorder.png">2</span></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="220px">
                        <div class="feed-Compliance">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="assets/img/user_6.png">
                            </a>
                            <div class="media-Compliance">
                                <div class="TableDetails">
                                    <span>Jim Stevens <img src="assets/img/alert.png"></span>
                                    <br>
                                    <b>Lights and fixtures etc.</b>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img src="assets/img/mapIcon.png" class="img-circle" alt="image">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="pink"><span class="sky4">In Compliance</span> No Show</p>
                                <p class="light-big">next sched. 24 Jun, 2015</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="light-big">Parking Level A</p>
                                <b>Senior Director</b>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="light-big">
                                    Nullam id dolor id nibh, Ultricies vehicula,<br/>
                                    Vivamus sagittis, Lacus vel augue...
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <div class="flag-alert">
                                <p><img src="assets/img/redFlagBorder.png">2</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="220px">
                        <div class="feed-Compliance">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="assets/img/user_7.png">
                            </a>
                            <div class="media-Compliance">
                                <div class="TableDetails">
                                    <span>Jessica Sawyer <img src="assets/img/alert.png"></span>
                                    <br>
                                    <b>Lights and fixtures etc.</b>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img src="assets/img/mapIcon.png" class="img-circle" alt="image">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="pink"><span class="sky4">On Site</span> No Show</p>
                                <p class="light-big">next sched. 24 Jun, 2015</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="light-big">Parking Level A</p>
                                <b>Senior Director</b>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="light-big">
                                    Nullam
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <div class="flag-alert">
                                <p><img src="assets/img/redFlagBorder.png">12<span><img src="assets/img/orngFlagBorder.png">6</span></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="220px">
                        <div class="feed-Compliance">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="assets/img/user1.png">
                            </a>
                            <div class="media-Compliance">
                                <div class="TableDetails">
                                    <span>Jessica Sawyer <img src="assets/img/alert.png"></span>
                                    <br>
                                    <b>Lights and fixtures etc.</b>
                                    <ul class="breadcrumb2">
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>415 123 3456</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                                <img src="assets/img/mapIcon-gry.png" class="img-circle" alt="image">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="light-big">OFF SITE </p>
                                <p class="light-big">next sched. 24 Jun, 2015</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="light-big">Parking Level A</p>
                                <b>Senior Director</b>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="feed-Compliance">
                            <div class="flag pull-left">
                            </div>
                            <div class="media-Compliance">
                                <small class="pull-right"></small>
                                <p class="light-big">
                                    N/A
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <div class="flag-alert">
                                <p><img src="assets/img/redFlagBorder.png">3</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ibox-tools pull-left">
                            <a class="#"><i class="fa fa-cog"></i></a>
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-show="isEmpty" class="assign">
            <p>
                No team members are currently assigned to this project
            </p>
            <span>Click to “Invite Team Member” to add members to project</span>
        </div>
        <!-- Bank_draw-v2-Compliance End -->

    </div> <!-- Whitebox2 End -->

</div><!----Wrapper End----->