<div class="row wrapper border-bottom white-bg page-heading teamv22x">
    <div class="col-xs-12 col-lg-3">
        <h2 class="hding">Team Members</h2>
        <ul class="topSubtitle">
            <li>
                <a href="#">Project Tittle Label<i class="ace-icon fa fa-angle-down"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="row topMemberContain">
            <div class="col-xs-12 col-sm-4">
                <div class="green2">
                    <img src="assets/img/onSite.png" alt="image">
                    <span>14</span>
                    <p>
                        Members onsite
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="sky2">
                    <img src="assets/img/company-icon.png" alt="image">
                    <span>7</span>
                    <p>
                        Members from my Company
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="orangeColor2">
                    <img src="assets/img/members.png" alt="image">
                    <span>29</span>
                    <p>
                        Total # of members
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-3">
        <div class="teaminvite pull-right">
            <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-plus"></i> Invite Team Members
            </a>
        </div>
    </div>
</div>

<div class="row mt30">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table memberv22x">
                <thead>
                    <tr>
                        <th width="200px">Name</th>
                        <th>Scheduled</th>
                        <th>Project/Role</th>
                        <th>Scope Of Work</th>
                        <th>Flag Alert</th>
                        <th>
                            <div class="buy1 pull-left">
                                <a class="btn1 btn-dangerteam btn-sm" href="#"
                                    <a class="#"
                                       data-html="true"
                                       data-placement="bottom"
                                       data-content="
                                        <div class='popover-content check'>Name</div><div class='popover-content check'>Company</div><div class='popover-content check'>Next Scheduled</div><div class='popover-content check'>Flag Alerts</div>"
                                        data-placement="top"
                                        data-toggle="popover"
                                        data-container="body"
                                        data-original-title="">
                                        Sort by <i class="fa fa-angle-down"></i>
                                    </a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="whiteBgColor">
                        <td width="220px">
                            <div class="feed-Compliance">
                                <a class="pull-left" href="#">
                                    <img src="assets/img/user1.png" class="img-circle" alt="image">
                                </a>
                                <div class="media-Compliance">
                                    <div class="MemberTableDetails">
                                        <span data-toggle="modal" data-target="#myModal">Bob Jones <img src="assets/img/alert_small.png"></span>
                                        <br>
                                        <b>Flora Corp.</b>
                                        <ul class="breadcrumbv22x">
                                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span> No Show</p>
                                    <p class="light-big">next sched. 24 Jun, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Parking Level A</p>
                                    <b>Senior Director</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Master bathroom cabinetry, Carpet,<br>
                                        Kitchen Something, Another something som...
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <div class="mapflag-alert">
                                    <p><img src="assets/img/red_icon.png">5<span><img src="assets/img/yellow _icon.png">2</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td width="220px">
                            <div class="feed-Compliance">
                                <a class="pull-left" href="#">
                                    <img src="assets/img/user1.png" class="img-circle" alt="image">
                                </a>
                                <div class="media-Compliance">
                                    <div class="MemberTableDetails">
                                        <span>Bob Jones <img src="assets/img/alert_small.png"></span>
                                        <br>
                                        <b>Flora Corp.</b>
                                        <ul class="breadcrumbv22x">
                                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span> No Show</p>
                                    <p class="light-big">next sched. 24 Jun, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="multipalepro">Multiple Projects</p>
                                    <b class="multipal">Multiple Roles</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Master bathroom cabinetry, Carpet,<br>
                                        Kitchen Something, Another something som...
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <div class="mapflag-alert">
                                    <p><img src="assets/img/red_icon.png">5<span><img src="assets/img/yellow _icon.png">2</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a class="#" data-html="true" data-placement="left" data-content="<div class='popover-content gear2x'>Add Notes</div><div class='popover-content gear2x'>Permissions</div><div class='popover-content gear2xred'>Remove From Project</div>" data-placement="top" data-toggle="popover" data-container="body" data-original-title=""><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td width="220px">
                            <div class="feed-Compliance">
                                <a class="pull-left" href="#">
                                    <img src="assets/img/user1.png" class="img-circle" alt="image">
                                </a>
                                <div class="media-Compliance">
                                    <div class="MemberTableDetails">
                                        <span data-toggle="modal" data-target="#myModal">Bob Jones <img src="assets/img/alert_small.png"></span>
                                        <br>
                                        <b>Flora Corp.</b>
                                        <ul class="breadcrumbv22x">
                                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span> No Show</p>
                                    <p class="light-big">next sched. 24 Jun, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Parking Level A</p>
                                    <b>Senior Director</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Master bathroom cabinetry, Carpet,<br>
                                        Kitchen Something, Another something som...
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <div class="mapflag-alert">
                                    <p><img src="assets/img/red_icon.png">5<span><img src="assets/img/yellow _icon.png">2</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td width="220px">
                            <div class="feed-Compliance">
                                <a class="pull-left" href="#">
                                    <img src="assets/img/user1.png" class="img-circle" alt="image">
                                </a>
                                <div class="media-Compliance">
                                    <div class="MemberTableDetails">
                                        <span data-toggle="modal" data-target="#myModal">Bob Jones <img src="assets/img/alert_small.png"></span>
                                        <br>
                                        <b>Flora Corp.</b>
                                        <ul class="breadcrumbv22x">
                                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span> No Show</p>
                                    <p class="light-big">next sched. 24 Jun, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Parking Level A</p>
                                    <b>Senior Director</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Master bathroom cabinetry, Carpet,<br>
                                        Kitchen Something, Another something som...
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <div class="mapflag-alert">
                                    <p><img src="assets/img/red_icon.png">5<span><img src="assets/img/yellow _icon.png">2</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td width="220px">
                            <div class="feed-Compliance">
                                <a class="pull-left" href="#">
                                    <img src="assets/img/user1.png" class="img-circle" alt="image">
                                </a>
                                <div class="media-Compliance">
                                    <div class="MemberTableDetails">
                                        <span data-toggle="modal" data-target="#myModal">Bob Jones <img src="assets/img/alert_small.png"></span>
                                        <br>
                                        <b>Flora Corp.</b>
                                        <ul class="breadcrumbv22x">
                                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span></p>
                                    <p class="light-big">next sched. 24 Jun, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Parking Level A</p>
                                    <b>Senior Director</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Master bathroom cabinetry, Carpet,<br>
                                        Kitchen Something, Another something som...
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <div class="mapflag-alert">
                                    <p><img src="assets/img/red_icon.png">5<span><img src="assets/img/yellow _icon.png">2</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td width="220px">
                            <div class="feed-Compliance">
                                <a class="pull-left" href="#">
                                    <img src="assets/img/user1.png" class="img-circle" alt="image">
                                </a>
                                <div class="media-Compliance">
                                    <div class="MemberTableDetails">
                                        <span data-toggle="modal" data-target="#myModal">Bob Jones <img src="assets/img/alert_small.png"></span>
                                        <br>
                                        <b>Flora Corp.</b>
                                        <ul class="breadcrumbv22x">
                                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span></p>
                                    <p class="light-big">next sched. 24 Jun, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Parking Level A</p>
                                    <b>Senior Director</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Master bathroom cabinetry, Carpet,<br>
                                        Kitchen Something, Another something som...
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <div class="mapflag-alert">
                                    <p><img src="assets/img/red_icon.png">5<span><img src="assets/img/yellow _icon.png">2</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td width="220px">
                            <div class="feed-Compliance">
                                <a class="pull-left" href="#">
                                    <img src="assets/img/user1.png" class="img-circle" alt="image">
                                </a>
                                <div class="media-Compliance">
                                    <div class="MemberTableDetails">
                                        <span data-toggle="modal" data-target="#myModal">Bob Jones <img src="assets/img/alert_small.png"></span>
                                        <br>
                                        <b>Flora Corp.</b>
                                        <ul class="breadcrumbv22x">
                                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="sky4">On Site</span> No Show</p>
                                    <p class="light-big">next sched. 24 Jun, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Parking Level A</p>
                                    <b>Senior Director</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Master bathroom cabinetry, Carpet,<br>
                                        Kitchen Something, Another something som...
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <div class="mapflag-alert">
                                    <p><img src="assets/img/red_icon.png">5<span><img src="assets/img/yellow _icon.png">2</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td width="220px">
                            <div class="feed-Compliance">
                                <a class="pull-left" href="#">
                                    <img src="assets/img/user1.png" class="img-circle" alt="image">
                                </a>
                                <div class="media-Compliance">
                                    <div class="MemberTableDetails">
                                        <span data-toggle="modal" data-target="#myModal">Bob Jones <img src="assets/img/alert_small.png"></span>
                                        <br>
                                        <b>Flora Corp.</b>
                                        <ul class="breadcrumbv22x">
                                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon-gry.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="offsite">OFF SITE</span></p>
                                    <p class="light-big">next sched. 24 Jun, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Parking Level A</p>
                                    <b>Senior Director</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Master bathroom cabinetry, Carpet,<br>
                                        Kitchen Something, Another something som...
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <div class="mapflag-alert">
                                    <p><img src="assets/img/red_icon.png">5<span><img src="assets/img/yellow _icon.png">2</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td width="220px">
                            <div class="feed-Compliance">
                                <a class="pull-left" href="#">
                                    <img src="assets/img/user1.png" class="img-circle" alt="image">
                                </a>
                                <div class="media-Compliance">
                                    <div class="MemberTableDetails">
                                        <span data-toggle="modal" data-target="#myModal">Bob Jones <img src="assets/img/alert_small.png"></span>
                                        <br>
                                        <b>Flora Corp.</b>
                                        <ul class="breadcrumbv22x">
                                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon-gry.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="offsite">OFF SITE</span></p>
                                    <p class="light-big">next sched. 24 Jun, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Parking Level A</p>
                                    <b>Senior Director</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Master bathroom cabinetry, Carpet,<br>
                                        Kitchen Something, Another something som...
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <div class="mapflag-alert">
                                    <p><img src="assets/img/red_icon.png">5<span><img src="assets/img/yellow _icon.png">2</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="whiteBgColor">
                        <td width="220px">
                            <div class="feed-Compliance">
                                <a class="pull-left" href="#">
                                    <img src="assets/img/user1.png" class="img-circle" alt="image">
                                </a>
                                <div class="media-Compliance">
                                    <div class="MemberTableDetails">
                                        <span data-toggle="modal" data-target="#myModal">Bob Jones <img src="assets/img/alert_small.png"></span>
                                        <br>
                                        <b>Flora Corp.</b>
                                        <ul class="breadcrumbv22x">
                                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i></a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> &nbsp;415 123 3456</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/map_icon-gry.png">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="pink"><span class="offsite">OFF SITE</span></p>
                                    <p class="light-big">next sched. 24 Jun, 2015</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">Parking Level A</p>
                                    <b>Senior Director</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="feed-Compliance">
                                <div class="mapflag pull-left">
                                </div>
                                <div class="media-Compliance">
                                    <small class="pull-right"></small>
                                    <p class="light-big">
                                        Master bathroom cabinetry, Carpet,<br>
                                        Kitchen Something, Another something som...
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <div class="mapflag-alert">
                                    <p><img src="assets/img/red_icon.png">5<span><img src="assets/img/yellow _icon.png">2</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ibox-tools pull-left">
                                <a class="#"><i class="fa fa-cog"></i></a>
                                <a href="#"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>